[2016-07-11 08:03] JZiebikiewicz opened #1 "Module parse failed - can't run"
Hello,
I'm trying to run MobX AJV Form, but get these errors:

[code]

And also warnings `Cannot resolve module`:
- regenerator
- nodent
- js-beautify

[2016-07-11 15:01] foxhound87 commented on #1
You have to add the json-loader to your webpack config like this:
https://github.com/foxhound87/mobx-ajv-form/blob/master/webpack.config.babel.js#L34-L35

The warnings are not a problem.

[2016-07-12 04:48] JZiebikiewicz commented on #1
I had json-loader. Webpack still returns the same error.

Even if you download package from http://www.webpackbin.com/E1khFEBrZ it will not be working so there is probably error in AJV itself.

[code]

[2016-07-12 07:29] foxhound87 commented on #1
The json-loader was missing on the webpackbin demo too. I just added it and then worked.
So it's definitely a json-loader issue. What node version are you using?

[2016-07-14 15:29] foxhound87 commented on #1
If you still need help let me know your webpack config. For now, I consider this issue to be closed.

[2016-07-14 15:29] #1 closed, assigned to nobody

[2016-07-14 21:49] patrykkopycinski commented on #1
@JZiebikiewicz take a look: https://github.com/epoberezkin/ajv/issues/117

[2016-07-15 11:21] JZiebikiewicz commented on #1
@patrykkopycinski, thanks, `new webpack.IgnorePlugin(/regenerator|nodent|js\-beautify/, /ajv/)` suppressed warnings.

@foxhound87, I had json-loader before. Still not working. My node version is 6.2.2 and my webpack config is:

[code]

As I mentioned before, when I download your example project from webpackbin, it doesn't work. Here is the error. I downloaded it and installed again few minutes ago

[2016-07-15 14:24] foxhound87 commented on #1
Remove the include for the json loader, otherwise cannot load json from node_modules

[2016-07-15 14:34] JZiebikiewicz commented on #1
Hah! Now work as it should! Stupid mistake.

Thanks, @foxhound87. :)

[2016-07-15 15:24] foxhound87 commented on #1
@JZiebikiewicz great!

[2016-07-26 06:48] timothyallan opened #5 "Multiple webpack warnings"
Great library so far!

I'm getting a constant stream of resolve warnings clogging up my terminal each time I hot reload. I have to constantly scroll up to see if there are any actual errors.

[code]

Any chance of getting these cleared up?

[2016-07-26 11:10] foxhound87 commented on #5
The warnings are related to ajv, take a look to this issue: https://github.com/epoberezkin/ajv/issues/117

If you want to remove them use the webpack IgnorePlugin:
`new webpack.IgnorePlugin(/regenerator|nodent|js\-beautify/, /ajv/)`

[2016-07-26 11:10] #5 closed, assigned to nobody

[2016-07-26 15:35] timothyallan commented on #5
Yup. that'll do it. Thank's for pointing me to the link too, I was unaware that AJV adds 200kb of extra js onto my final build. Looks like I've got to rethink this.

[2016-08-06 20:06] patrykkopycinski opened #6 "Add https://greenkeeper.io/"
To keep dependencies up to date, i suggest using https://greenkeeper.io/ it'll limit manual work :)

[2016-08-07 02:22] foxhound87 commented on #6
Hi @patrykkopycinski

I usually use npm-check-updates,
but thank you for your suggestion,
I will take a look at greenkeeper too!

[2016-08-17 20:45] avindra commented on #5
@timothyallan : Look into code splitting and / or multiple entries.

[2016-08-19 18:46] foxhound87 commented on #6
@patrykkopycinski  greenkeeper added!

[2016-08-19 18:46] #6 closed, assigned to nobody

[2016-08-20 04:22] kyasu1 opened #9 "Handling of isDirty"
I think that checking $value against originalValue is more intuitive.
the redux-form doing like this.
https://github.com/erikras/redux-form/blob/master/src/isPristine.js

[2016-08-20 14:19] foxhound87 commented on #9
I was wondering if a field should be dirty though the initial value is not empty (so even if equal to the initial value if exist). But I will fix it if that is considered a best approach.

I will introduce `isPristine` and `isEmpty` too.

[2016-08-20 18:38] foxhound87 commented on #9
https://github.com/foxhound87/mobx-ajv-form/commit/75649099611af4ae7fe4fd0c5fd4d8ccea648820

[2016-08-21 07:15] kyasu1 commented on #9
Thanks, looks better than before. However there is an issue when the field type is integer. Since you are directly setting the received form value to the `Fields.$value`, the initially integer type field becomes the string type, which breaks the pristine/dirty checks.

I think, in the `Field.setValue`, you need to parse and assign as Number if the type of schema is ‘integer’. ~~Probably similar ha

[2016-08-21 18:46] foxhound87 commented on #9
Thanks for your suggestions, I will fix it asap.
I will implement support for more input types in the future, with updated tests and demo.

[2016-08-22 23:47] foxhound87 commented on #9
https://github.com/foxhound87/mobx-ajv-form/commit/27b70fe7e87848f7f1afbc6c1bad7cace765bc08

[2016-08-22 23:47] #9 closed, assigned to nobody

[2016-09-15 01:50] leesiongchan opened #28 "How to deal with complex/nested property"
What is the practice for dealing with complex/nested property if we have property like below:

[code]

[2016-09-15 13:41] foxhound87 commented on #28
This package does not support nested properties yet, but you can accomplish what you need also using flat inputs. It also depends on the input component of your choice.

Generally you can do this:

**set initial state**

[code]

**get form values**

[code]

Which input component are you using for dealing with geolocation data?

[2016-09-17 07:33] senthilnathansk opened #30 "form.isValid is true when a async validation is executed for a field"
form.isValid is true when a async validation is executed for a field. The value of field.asyncErrorMessage is "validating..". so the form is still not valid state and i guess form.isValid should be false.

**use case:**

form.isValid is used to disable the submit button. if there is on going validation (async), want the form submit to be disabled.

currently using the below custom property to work

[2016-09-17 15:20] #30 closed, assigned to nobody

[2016-09-17 15:23] foxhound87 commented on #30
@senthilnathansk Now should be ok!
Let me know if you have other issues.
Thanks!

[2016-09-17 15:31] senthilnathansk commented on #30
@foxhound87 Thanks for the fix and the library :-)

[2016-09-19 15:05] mattruby opened #31 "ES5 examples? (UMD)"
I was wondering what it would take to use this in my mobx-examples.  Everything's straight up ES5.  Is there a global hook in the umd files I can hit?  Any other gotchas to watch out for?

Thanks!

[2016-09-19 17:14] foxhound87 commented on #31
The UMD files are broken right now, I have to figure it out.

I'm getting a `Uncaught ReferenceError` as the library name is not defined and another error:

`Validator.js:135 Uncaught TypeError: Cannot read property 'observable' of undefined`.

It seems like the decorators are not recognized. But the webpack config seems ok.

I hope to fix it asap for your examples!

[2016-09-19 17:28] mattruby commented on #31
Thanks!  I have my own older React forms framework I've been using at work
for a while.  I was looking to create a new MobX based one.  Yours looks
great!  I'm looking forward to playing with it.

On Mon, Sep 19, 2016 at 12:14 PM, Claudio Savino notifications@github.com
wrote:

##

-Matt Ruby-
mattruby@gmail.com

[2016-09-19 23:39] foxhound87 commented on #31
I just update the webpack config and fixed the first error,
the second error is now changed, but seems always related to the decorator transpiling.

[2016-09-21 12:11] foxhound87 commented on #31
I think the issue is about the `transform-decorators-legacy` plugin, some methods are not transpiled, and babel does not have yet official support for decorators.

I opened an issue on the plugin repo: https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy/issues/47

[2016-09-21 13:38] sakulstra opened #33 "Live Demo broken"
Hello,
Thanks for this package!

Anyways, for me it seems like the live demo is broken.

Chrome 53, on Ubuntu

[2016-09-21 14:28] foxhound87 commented on #33
Hi, can you provide more info on the error please?

[2016-09-21 14:40] sakulstra commented on #33
When visiting https://mobx-react-form-demo-zgltrpjjwi.now.sh/
1. I can't change the form type - i can click on the select, but nothing happens.
2. I can't edit the form - it simply resets as soon as i defocus
![bugs](https://cloud.githubusercontent.com/assets/4396533/18715500/da15f21e-8019-11e6-986a-dfbfe68d9f31.png)
3. There are some errors in the console e.g. `error: [mobx] An uncaught exception

[2016-09-21 14:59] foxhound87 commented on #33
These errors are already reported on the MobX repo, waiting to find out what they are caused:
https://github.com/mobxjs/mobx/issues/570

If you disable the `mobx-react-devtools` logging (the last icon to the right) and reload the page, all should work as expected.

![da15f21e-8019-11e6-986a-dfbfe68d9f31](https://cloud.githubusercontent.com/assets/1292494/18716280/8c2e705a-801c-11e6-825d-c0996c09c2

[2016-09-21 17:58] sakulstra opened #34 "do not throw error when update undefined fields (option strictUpdate: false)"
Hello again ;)
When I try to run form.update() I get an `Uncaught TypeError: Cannot read property 'update' of undefined` error... It seems like the package is simply missing the export for update?

Regards,
Lukas

edit: seems like i'm doing sth wrong here as it's even covered in your tests
... ah it actually was my fault. When providing a property inside update() which isn't set inside fields the

[2016-09-21 19:47] foxhound87 commented on #34
Yes, that's why your are trying to update a form field that does not exist.
It's ok form me to throw an error here. Can you explain me why it shouldn't throw in your case?

Anyway I think to provide a functionality to create new fields also after the form is initialized.
So you can extend it adding input fields dynamically. Maybe you wanted to obtain this?

[2016-09-21 20:00] sakulstra commented on #34
In my case i have an object like:

[code]

returned from the database, but the form only handles name and description. The calculated fields like slug or id are only there because I need them in some other places. For sure I could modify the object, now that I know, but the error message `Cannot read property 'update' of undefined` was kind of misleading.

And I actually think it's not the worst i

[2016-09-21 21:05] foxhound87 commented on #34
The error can be handled better, I will improve the error handling anyway.
Thank you for the suggestion.

The only drawback with your approach is the form will create some unused fields.

I would have rather done something like this using lodash:

[code]

Anyway this approach is good if you don't have to set labels or rules on each field key.
For the next releases, I will give the possibility to i

[2016-09-21 21:13] sakulstra commented on #34
Why would the form create unused fields?
My suggestion was:

[code]

So fields which doesn't exist just get skipped. Eventually It would be good to do this via an optional parameter, so that it doesn't skip unintentionally.

[2016-09-21 21:32] foxhound87 commented on #34
Every key you specify into your `fields` object will create a field.

I could do that check but why should you update a not-existing field?
I already rejected this pull requrest for the same reason: https://github.com/foxhound87/mobx-react-form/pull/10

Maybe I don't get the point. You should provide a real example.

[2016-09-21 23:08] sakulstra commented on #34
Okay In our real example we have a real backend which provides data via mobx to a Component:
`ListComponent`, `AddComponent` and `EditComponent`. Both add and edit components include the same `AwesomeForm` Component which utilizes `react-mobx-form`, but edit should prepopulate the form with dynamic data coming from the backend.

My approach was this in the `AwesomeForm`:

[code]

Which fails becau

[2016-09-22 02:11] foxhound87 commented on #34
It's ok, thank you for your explanation.
I will implement this with a `strictUpdate` option with default `false`.
Only enabling it will throw an error if the field is undefined, not throwing errors as default behavior.

[2016-09-22 10:17] sakulstra commented on #34
Thanks a lot!
That would really help me!

[2016-09-22 14:18] #34 closed, assigned to nobody

[2016-09-22 14:44] sakulstra commented on #34
Looking at the code I don't quiet understand why, but there's a bug inside :/
Assuming my form has a field `name` and i pass the following data to form.update()
`
const obj = { name: "SomeName", sthElse: "-KSHJV0voLMasB-qE-Zj" };
`
everything works.
When i do it the other way around:
`
const obj = { sthElse: "-KSHJV0voLMasB-qE-Zj", name: "SomeName" };
`
there will be no error, but also no update.

[2016-09-23 02:52] foxhound87 commented on #33
Fixed. The `html-webpack-plugin` was injecting 2 time the `build.js` into the index page.

[2016-09-23 02:53] #33 closed, assigned to nobody

[2016-09-23 16:44] augustine-tran opened #38 "When enable useStrict=true in mobx, mobx-react-form got error"
`this.validator.genericErrorMessage = null;` this line of cod will raise this error

I work around for now by commenting this line.

[2016-09-23 17:09] foxhound87 commented on #38
Hi @rualatngua, It's strange because the strict mode is already enabled and I don't get this error.

Anyway this should fix your issue: https://github.com/foxhound87/mobx-react-form/commit/cd101d50bb8b6659d2a040125a150d0b245f246c

Install the [v1.11.12](https://github.com/foxhound87/mobx-react-form/releases/tag/v1.11.12)
and let me know if it's ok now.

Thanks for reporting this.

[2016-09-24 22:24] foxhound87 commented on #38
Fixed https://github.com/foxhound87/mobx-react-form/commit/dd5ab02a8f58aa0f35bbfcc2ca73bb8b6bde8815#diff-1fdf421c05c1140f6d71444ea2b27638R9

[2016-09-24 22:24] #38 closed, assigned to nobody

[2016-09-25 18:40] alexofob opened #43 "What is the best way to call external library and update some stores in the app?"
@foxhound87,

I am applying this library to handle form authentication in my app.
On successful validation, I want to call an external library (auth0) to handle authentication and update state in some UI store which is part of my application.

What is the best way to handle this? I am thinking that I should be able to call the auth0 API and the store update function in the onSuccess event handler.

[2016-09-26 00:58] foxhound87 commented on #43
It depends on how you want to structure your app, and how you deal with the stores.

Using MobX, my approach is to create a file for each form in a `form` folder.

I don't initialize the Form into the app Stores, In this manner I can keep the form state separated from the rest of the app state so that will not pollute the initial state when doing server-side-rendering hydration.

In each file I ex

[2016-09-26 01:18] foxhound87 commented on #43
Or if you want leave the form to call the validation automatically without extending the class, you can setup an object with the events handlers: [Decopling the Events Handlers from the Form object](https://github.com/foxhound87/mobx-react-form/blob/master/docs/FormEvents.md#decopling-the-events-handlers-from-the-form-object)

[2016-09-26 20:43] djhi opened #45 "confirmed rule from validatorjs cannot work"
Hi,

The `confirmed` rule from [validatorjs](https://github.com/skaterdav85/validatorjs) cannot work currently as the [validateFieldSync](https://github.com/foxhound87/mobx-react-form/blob/master/src/validators/DVR.js#L54) method only passes the field to validate instead of the fields array.

I'll try to submit a PR about this asap

[2016-09-26 23:02] foxhound87 commented on #45
I don't like so much the implementation of the `confirmed` rule as it enforce to use underscore for the field name that ends with `_confirmation`.

We should instead reimplement it to work like `shouldBeEqualTo(fieldName)` validation function:
https://github.com/foxhound87/mobx-react-form/blob/master/docs/CustomValidationFunctions.md#define-custom-functions
(but without the needs of the additional

[2016-09-27 08:20] djhi commented on #45
I agree as I don't like it much too but if you provide the option to use validatorjs, shouldn't we expect it to work as it has been designed to ?

[2016-09-27 08:32] odyssey-spec opened #49 "How to define/override validation error messages text?"

[2016-09-27 13:44] foxhound87 commented on #49
Hi @joneyphair,
it depends on which plugin you are using.

- Using Vanilla Javascript Validation Functions (VJF) you can provide it into the function. The function have to return a boolean or an array with [boolean, string], which the second argument is the error message for the [custom functions](https://foxhound87.github.io/mobx-react-form/docs/validation/modes/vjf-custom.html).

- Using Json Sc

[2016-09-28 19:58] alexofob commented on #43
Many thanks @foxhound87 . I went with the option of importing my dependencies and extending the forms with the onSuccess events as in your boilerplate example and it works greats.

[2016-09-28 19:58] #43 closed, assigned to nobody

[2016-09-30 19:03] vkrol opened #58 "lodash-cherry-pick"
Hello!

We want to use mobx-react-form in our application, but we cannot because we use the old lodash version (3.x) globally on the whole site, so sooner or later we can clash with the some lodash breaking changes (3.x vs 4.x). I think that peer dependency on the lodash is very bad. Probably you need to drop the lodash dependency or include it in the library bundle (drop it from the webpack.confi

[2016-10-01 14:48] foxhound87 commented on #58
Now I'm using webpack only for the UMD build (which is not working for an issue with decorators and I have to figure it out) and I suppose that if we want to cherry pick lodash functions with minimal efforts we need to setup webpack for the commonjs build.

I wonder if using babel-plugin-lodash and lodash-webpack-plugin together we do not have to touch the code, because otherwise we should also ed

[2016-10-01 19:25] foxhound87 commented on #58
@vkrol we should create a `lodash-cherry-pick` branch to merge it also into the `nested-fields` branch afterward.

[2016-10-02 00:52] vkrol commented on #58
Thanks, I'll think about it.

Also I think that you need to relax the lodash version constraint to the ^4.16.2. What you think about it?

[2016-10-02 02:08] foxhound87 commented on #58
It's ok for me.

Greenkeeper should check each release through CI builds.

[2016-10-02 10:01] vkrol commented on #58
Thanks, I will create the pull request. What you think about relaxing mobx version constraint too?

[2016-10-02 13:27] foxhound87 commented on #58
Let's do it.

[2016-10-02 21:28] foxhound87 commented on #45
Yes it should, but it's not high priority right now. Are you working on it anyway?

[2016-10-04 08:29] artptr opened #68 "Incorrect initialization of fields with zero value"
If a form is created by separated `fields` and `values` objects and a value is `0` then a corresponding field will be initialized with `""`:

[code]

The cause of the bug is incorrect calculating of an initial value here: https://github.com/foxhound87/mobx-react-form/blob/master/src/Field.js#L60
While `$value = 0` and `$field = ""` the result will be `""` despite the logical priority of `$value`'s

[2016-10-04 10:46] foxhound87 commented on #68
@artptr thank you, I will fix it asap.

[2016-10-04 14:04] vkrol opened #69 "mobx as peer dependency"
I think that we need to make MobX the peer dependency. For example, https://github.com/mobxjs/mobx-react/blob/master/package.json#L24

What do you think about it?

[2016-10-04 15:55] foxhound87 commented on #69
approved!

[2016-10-04 18:01] #68 closed, assigned to nobody

[2016-10-04 19:38] #69 closed, assigned to nobody

[2016-10-06 15:23] vkrol commented on #58
I do not want to use lodash-webpack-plugin for now because it is "destructive" by default and we will have to decide what the feature sets (https://github.com/lodash/lodash-webpack-plugin#feature-sets) we should to enable.

I can add the babel-plugin-lodash to the .babelrc. What do you think about it?

[2016-10-06 20:08] foxhound87 commented on #58
We can add it for sure, this should lighten the commonjs build.

Anyway I suppose that your issue with the older lodash version should occur only using the UMD build.

If you use commonjs instead, the version of the package's dependencies should remain the version specified in the package.json despite you are using an older one in your project.

Tell me if I'm wrong.

[2016-10-06 22:08] vkrol commented on #58
Thanks. I will create the PR tomorrow.

Yes, you are right. I am sorry for the confusion. But the cherry picking is the good thing anyway :)

[2016-10-07 16:56] vkrol commented on #58
If I add the babel-plugin-lodash to the .babelrc then this line of code https://github.com/foxhound87/mobx-react-form/blob/master/webpack.config.babel.js#L29 become useless and imported lodash methods will be included in the umd build. Is this the desired result?

[2016-10-07 20:54] foxhound87 commented on #58
Yes it is.

[2016-10-07 21:47] volodymyr-xn opened #74 "validateOnChange option after form instance was created isn't working."
Hi. I have the following issue:
Changing validateOnChange option isn't change form validation behavior, if we change it after first form initialization, because this method:

[code]

that responsible on onChange validation, is called only during form initialization processes.
If form was initialized with `validateOnChange` set to false, later updates to `true` - won't change field validation mecha

[2016-10-07 22:42] foxhound87 commented on #74
Hi @volodymyr-shevchuk
You are right.

mobx `observe()` returns a `disposer`. It will cancel every future updates until we call the `observe()` another time. A better solution would be to observe the form `$options` and observe/dispose when `validateOnChange` changes: http://mobxjs.github.io/mobx/refguide/observe.html

Feel free to implement which you want if you want to contribute with a pull req

[2016-10-08 13:22] vkrol commented on #58
@foxhound87 do I need to create the PR to the nested-fields branch or you do it yourself?

[2016-10-08 18:06] foxhound87 commented on #58
I will do it. I need to fix some lodash code first.

Thank you

[2016-10-08 18:21] #58 closed, assigned to nobody

[2016-10-11 15:31] leesiongchan commented on #28
@foxhound87 See you've been working hard on the nested fields, it looks neat!! Is there any release date on it? Would love to try it out and contribute if found any bugs.

[2016-10-11 19:25] foxhound87 commented on #28
@leesiongchan you can try it out if you checkout the `nested-fields` branch.

I still have some features to implement (two of which are not so easy).

I'm thinking to release the new version asap (but without these two hard features and release them after when I found a good solution).

[2016-10-11 20:15] foxhound87 commented on #74
@volodymyr-shevchuk  After thinking about this issue on the `nested-field` branch, it turned out that I should keep track of the disposer for each field or nested field, which is too elaborate. Your simpler approach is what I'm going to implement :)

[2016-10-11 20:22] #74 closed, assigned to nobody

[2016-10-12 02:59] yoohan-dex opened #83 "it can't work I just new a instance ?"
[code]

[code]

that 's all the code and it can't work even though I just refer without passing the instance to my component .

and logs :
`Uncaught Error: [mobx] Invariant failed: It is not allowed to create or change state outside an "action" when MobX is in strict mode. Wrap the current method in`action`if this state change is intended`

[2016-10-12 09:16] yoohan-dex commented on #83
Oh I see that just I used the mobx without strict mode before .. so .. when it turns to strict my other states can't be directly changed.

[2016-10-12 09:22] foxhound87 commented on #83
you have to use mobx `action` to change the state.

Anyway you are mispelling `label` (not `labal`) and `form.values()` (not `form.value()`)
and maybe you are referencing an undefined field into the react component.

I can help you more If you can provide a jsfiddle.

[2016-10-15 00:31] foxhound87 commented on #83
I consider this issue closed for now because the error seems not related to the package but to your app state which was not using mobx strict mode.

[2016-10-15 00:31] #83 closed, assigned to nobody

[2016-10-15 01:28] yoohan-dex commented on #83
Right, I have fixed it a few days, thank everyone 😊😊

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Claudio Savino notifications@github.com
Date: 10/15/16 08:31 (GMT+08:00)
To: foxhound87/mobx-react-form mobx-react-form@noreply.github.com
Cc: Aooren yao460733480@outlook.com, Author author@noreply.github.com
Subject: Re: [foxhound87/mobx-react-form] it can't work

[2016-10-16 00:10] #28 closed, assigned to nobody

[2016-10-16 14:42] vkrol opened #85 "react in the package name is misleading"
Hello. I think that the word "react" in the package name is misleading. In theory mobx-react-form can be used with any UI library/framework.

What do you think about it?

[2016-10-16 14:46] vkrol opened #86 "Feature request: touched state"
Hello. I think that the ability to track the touched state of the field will be very useful.

[2016-10-16 15:04] vkrol opened #88 "Unknown plugin "transform-decorators""
I am trying to build mobx-react-form and I am getting this error:

[code]

I think that this line is redundant https://github.com/foxhound87/mobx-react-form/blob/master/.babelrc#L5 This babel plugin is not exists.

[2016-10-16 15:10] foxhound87 commented on #86
I will implement it asap!

[2016-10-16 15:15] vkrol commented on #86
Thanks!

[2016-10-16 15:18] #88 closed, assigned to nobody

[2016-10-16 15:21] foxhound87 commented on #85
We can work on this, I didn't tested the package outside a react project yet.
And we need to think to a proper name too.

[2016-10-16 20:07] vkrol commented on #85
Sadly that mobx-form and mobx-forms already taken.

[2016-10-17 20:55] #86 closed, assigned to nobody

[2016-10-17 20:58] foxhound87 commented on #86
https://foxhound87.github.io/mobx-react-form/docs/events/events-handlers.html

[2016-10-17 21:46] vkrol commented on #86
@foxhound87 thanks!

[2016-10-18 13:21] JZiebikiewicz opened #91 "Multiple forms using the same fields"
Hi, I'm creating import component with table of records, like:
![image](https://cloud.githubusercontent.com/assets/16606706/19479165/ca64b13e-9545-11e6-8202-5373e20d85e3.png)
How can I initialize form validation for each row using the same fields? Tried creating array containing Form instances. But it doesn't work (rows values change in the same time).

[code]

[2016-10-18 14:05] foxhound87 commented on #91
You should define a `rules` (DVR) or `validate` (VJF) object and pass it to each of your forms.

Look here: https://foxhound87.github.io/mobx-react-form/docs/defining-flat-fields/separated-properties.html#define-separated-validation-objects

[2016-10-18 14:11] foxhound87 commented on #91
You can even initialize just the structure with empty fields providing a `fields` array to the constructor, like this:

[code]

and set fields values afterward using the `update()` method;

[2016-10-18 14:18] JZiebikiewicz commented on #91
**Thanks for reply. I'll try and tell you if it works for me. :)**

So far my `plugins` variable was:

[code]

and `fields`:

[code]

And then I created form instances:

[code]

And passed to component like:

[code]

Weirdly values were 'connected' (when changing 1st row title, second ones changes too).

[2016-10-18 14:42] foxhound87 commented on #91
`recordsValidation.push` is missing an ending bracket.

You can try to give a unique name for each form and print them,
so we can ensure the forms has different instances:

[code]

and log: `this.recordsValidation[0].name`

I hope this can help.

[2016-10-19 10:37] leesiongchan opened #93 "Error when using form.update API with null value"
[code]

Error trace:
[if ((0, _isUndefined3.default)(val.fields)) {](https://github.com/foxhound87/mobx-react-form/blob/master/src/FieldHelpers.js#L125)

[2016-10-19 15:57] #93 closed, assigned to nobody

[2016-10-19 19:15] Kamaraju333 opened #94 "Git Repo for mobx-react-form-demo<eom>"

[2016-10-19 20:24] foxhound87 commented on #94
Why should I setup a demo repo?
And what "eom" means?

[2016-10-19 20:31] Kamaraju333 commented on #94
Demo was looking great so thought of asking (eom means end of message )

[2016-10-19 20:40] foxhound87 commented on #94
I don't want to separate the demo directory into a new repo because I use it to test the code directly from the source without build it or publish it on npm... unless there is a better way to do it.

[2016-10-19 20:40] #94 closed, assigned to nobody

[2016-10-20 02:06] leesiongchan opened #97 ".value is empty string for array / nested field"
[code]

[2016-10-20 09:00] foxhound87 commented on #97
It is by default correct, because that field behaves like a "fields container" and as a real field at the same time, so you can give it its own value, label or other props.

Instead `values()` will get all the nested fields of a container.

I could change the behavior of the computed `value` to be like `values()` but I'm not sure, have to think about it more.

[2016-10-20 11:02] JZiebikiewicz commented on #91
It works nice. Even without giving names to each form. Thank you for support. :)

I just had to update package from 1.11.12 to the newest 1.13.3...

[2016-10-20 11:02] #91 closed, assigned to nobody

[2016-10-21 04:54] leesiongchan opened #99 "Passing values to nested form is not working"
[code]

[2016-10-21 09:43] foxhound87 commented on #99
You are right, that issue occurs only when you specify a fields `structure` and `values` together. I will fix it asap.

For now, If you remove the structure it works.

[2016-10-21 10:10] #99 closed, assigned to nobody

[2016-10-21 10:12] foxhound87 commented on #97
What about a `values` computed for "field containers" instead of `value` ?

[2016-10-21 10:15] foxhound87 commented on #99
Fixed https://github.com/foxhound87/mobx-react-form/blob/master/tests/data/forms/nested/form.n.js

[2016-10-21 10:39] volodymyr-xn opened #100 "Set option after initialization isn't wokring."
formObject.options({ validateOnChange: true, /*...other options */  });
isn't working.
The problem is in this string, that localted in Form.js:
`if (!_.isObject(options)) this.$options.set(options);` - why we use 'not' statement?

[2016-10-21 11:55] foxhound87 commented on #100
My mistake, I didn't write tests on that.

[2016-10-21 11:56] #100 closed, assigned to nobody

[2016-10-21 15:11] leesiongchan commented on #97
I think so, but why not `value`? Wouldn't it be good to make it consistent?

[2016-10-22 12:29] leesiongchan commented on #93
[code]

[2016-10-22 15:04] leesiongchan commented on #93
[code]

@foxhound87 I found a weird bug, the first null value inside an array field seems to be working properly but the second onwards will throw error.

[2016-10-23 12:44] foxhound87 commented on #93
Should be fixed now, let me know if you encounter other issues!

Thank you!

[2016-10-23 13:33] gvelo opened #102 "Form is mutating state outside form class"
when init a form like:

[code]

the `field` parameter is mutated. Form should not mutate state outside the form class. This allow to reuse form definition in differents forms instances.

[2016-10-23 21:46] foxhound87 commented on #102
In my case it doesn't mutate. Maybe I don't get your issue.
I'm able to pass the same form structure (same object) in different forms without problem.

[2016-10-24 04:40] leesiongchan opened #103 "Passing values shouldn't treat value property as value"
[code]

[2016-10-24 04:43] leesiongchan opened #104 "Unable to access to nested field when field is null"
[code]

[2016-10-24 11:06] foxhound87 commented on #104
I replicated the code but it works in my case.

I get empty values. No errors.

[2016-10-24 12:32] foxhound87 commented on #103
You encounter this because `value` is recognized as a special word as well as `label` or other props. Maybe a solution can be to use a special names for the props, something like `$value`, `$label`, etc...

So, for example, instead doing this:

[code]

we should do this:

[code]

or

[code]

Obviously, this will break the data structures we already defined.

what do you think?

[2016-10-24 12:38] leesiongchan commented on #103
Yea, for now I will just use the method you suggested, but shouldn't it be ignoring special words while using separated properties?

[2016-10-24 13:50] leesiongchan commented on #104
[code]

[2016-10-24 14:56] foxhound87 commented on #103
This commit should fix the issue: https://github.com/foxhound87/mobx-react-form/commit/e7bb7a798fe7ac89e14bcbe74b23128642a0922b

But `fields` is yet a reserved word, it is required, all other props can be used as field name.

[2016-10-24 19:28] #104 closed, assigned to nobody

[2016-10-24 19:28] foxhound87 commented on #104
Now should work as expected! Let me know, thank you.

[2016-10-25 02:06] leesiongchan commented on #104
@foxhound87

[code]

[2016-10-25 03:57] elazer opened #109 "Error when trying to use .onAdd"
Hi, I tried adding an 'Add Members' button on your demo form.

[code]

I get the following error:
**Uncaught Error: The selected field is not defined (firstname)**

[2016-10-25 06:27] foxhound87 commented on #109
This method is not yet supported for the nested fields. You can use it only for flat arrays for now.

[2016-10-25 06:37] foxhound87 commented on #104
That's weird.

I will do more tests on 'values()' method too.

[2016-10-25 14:39] foxhound87 commented on #104
I don't get the same result (it's correct for me):

[code]

[code]

[2016-10-25 14:52] #97 closed, assigned to nobody

[2016-10-25 18:00] foxhound87 commented on #94
For now I opted for a new branch with symlinks.

[2016-10-26 01:18] gvelo commented on #102
Sorry, I was using 1.12.0, This behaviour is not reproducible when I update to  1.13.10.

[2016-10-26 01:18] #102 closed, assigned to nobody

[2016-10-26 04:35] leesiongchan opened #110 "Behaviour of .sync and .update"
It seems `.sync` is only setting the value right immediate of what passed into it;
While `.update` seems to have much complete checking to the nested fields and update accordingly.

What is the use case for both `.sync` and `.update`?

[2016-10-26 09:42] elazer opened #111 "Behaviour of .clear and .reset"
[code]

[2016-10-26 10:03] elazer opened #112 ".update not removing value for array"
[code]

[2016-10-26 12:30] foxhound87 commented on #110
`.sync(e)` is an event handler, it gets in input the `Proxy` object and is supposed to be used on input `onChange` property. It updates only the value of the field on which is used.
It is also an alias of `.onChange(e)` and `onToggle(e)`. [[more info here]](https://foxhound87.github.io/mobx-react-form/docs/events/events-handlers.html)

`.update()` is intended to be used for updating the values of

[2016-10-26 12:39] foxhound87 commented on #111
This is correct, the array values are treated as individual nested fields of the `places` "field container". Using the `boolean` for the `.clear()` method allows to clear nested values too.

 If you use the `onClear(e)` event handler, it calls `.clear(true)` by default.  [[more info here]](https://foxhound87.github.io/mobx-react-form/docs/events/events-handlers.html)

But now you make me realize t

[2016-10-26 17:04] elazer commented on #111
Yeah, when using .clear() for a field, I would usually assume that even the nested values would be cleared too.
It would good to make it the default behaviour, unless there is a use case where for some reason we want the nested values to be retained.

And I think it should return an empty array, instead of the empty strings in place of the cleared elements.

[2016-10-26 18:09] foxhound87 commented on #110
Anyway if you want to set a field value use `.set('value', val)`.
(it sets the `value` property on the field class).

But it doesn't create nested fields if `val` is `array`, in that case use `.update()` instead.

[2016-10-26 19:28] #111 closed, assigned to nobody

[2016-10-27 01:47] leesiongchan commented on #110
In my case, some of my components are returning not-so-straight-forward value (eg. Object, Array-Object, Array etc). So I can't use `.sync` for these components, I have to check for the value type and use different kind of methods to update my fields, just curious would that be wise to make both behave the same so we could use `.sync` across to all kind of components?

[2016-10-27 12:32] foxhound87 commented on #110
But not all complex data should be treated as nested fields, so I don't know if we can use .update() for .sync().  Maybe we can make a .sync(e, true) for update nested fields.

Anyway I suggest you to duplicate the demo branch into another branch like `demo-next`. So you can show me which kind of components and data structure you are using, and I will test these cases.

[2016-10-27 12:32] #110 closed, assigned to nobody

[2016-10-27 12:38] leesiongchan commented on #110
@foxhound87 Ok, thank you for your prompt reply.

[2016-10-27 15:45] itaylorweb opened #116 "Defining and array field?"
I am trying to define a fairly complex nested field set.  Below is an example.
How do I define an array in the field definition?

[code]

example JSON:

[code]

[2016-10-27 16:22] foxhound87 commented on #116
In your example you are defining fields with [Unified Properties](https://foxhound87.github.io/mobx-react-form/docs/defining-nested-fields/unified-properties.html) which is not so straight for handling collections.

I suggest using [Separated Properties](https://foxhound87.github.io/mobx-react-form/docs/defining-nested-fields/separated-properties.html) with an initial fields `structure`:

[code]

[2016-10-27 16:23] itaylorweb commented on #116
I thought that might be the case.  Thanks for confirming. 👍

[2016-10-27 20:28] itaylorweb commented on #109
@foxhound87  Any suggested solutions for this problem.  I think this is the last bit I need for my project. :)

[2016-10-27 21:54] liveresume opened #117 "how to disable strict mode"
What is the recommended way to disable mobx's strict mode?

Seems like it is decided for us in src/index.js.  Why not allow dev's to disable?

[2016-10-27 23:46] foxhound87 commented on #117
I think is better to have the strict mode enabled for a better control over the app state.

But I can provide a method to disable it.

[2016-10-28 00:25] foxhound87 commented on #109
It is a feature that I want to release, but I have not had time to think how to Implement it yet.

[2016-10-28 11:57] DominikGuzei opened #118 "Field has error but is still valid"
Hey there, thanks for this great library! Everything worked perfectly so far, except now I have a very strange behavior for a text field that has errors (they are even shown in the form correctly) but still validates to `true` and the `onSuccess` handler is called on the form.

Here is a screenshot of the console.log output of the `form.get` call for this field:
<img width="284" alt="screenshot 20

[2016-10-28 12:36] foxhound87 commented on #118
Please, can you show me your validation setup?

[2016-10-28 12:47] DominikGuzei commented on #118
Here is the from and validation setup:

[code]

Here is the `render` method of the validated component:

[code]

Sorry, i had to simplify this example to not show any sensitive code but this is the setup for `walletName` field (which has the problem)

[2016-10-28 14:43] foxhound87 commented on #118
I tested your setup and I don't find any issue, I tried react-toolbox too.

Make sure you are using mobx `observer` on your components.

[2016-10-28 17:32] #112 closed, assigned to nobody

[2016-10-28 17:33] foxhound87 commented on #112
Should be fixed, please let me know. Thanks!

[2016-10-30 01:09] #117 closed, assigned to nobody

[2016-10-30 01:16] foxhound87 commented on #117
Now the mobx strict mode is disabled by default,
it is turned on only for the test command.

[2016-10-30 02:27] dotnwat opened #120 "understanding the intended usage scenario"
I've read the tutorial and most of the documentation. I'm still having a little trouble understanding how `mobx-react-form` integrates into an application.

I have an object model and store that I've built with mobx. I'd like to create a form for editing instances of the objects in the mobx store. My current understanding is that I would need to 1) create a form that has all of the fields of my mo

[2016-10-30 17:04] foxhound87 commented on #120
Hi @noahdesu

There's no opinionated way to implement the form into your app, it mostly depends on your app structure, and it's up to you on how implement it, as it is very flexible.

In your case you need to define fields based on your models.

If you are using flat fields, just pass the values you want to display into the form constructor (using `fields` or `values` object).

If your models have

[2016-10-30 17:19] foxhound87 commented on #120
Here you can see some examples:

https://github.com/foxhound87/weather-forecast-react-app/blob/master/src/forms/Search.js
https://github.com/foxhound87/rfx-stack/blob/master/src/shared/forms/auth.js

I cleaned up the demo, too. I hope it can help.

[2016-10-30 17:26] DominikGuzei commented on #118
That's the weird thing … everything looks correct (i have another form where it works perfectly) but somehow it doesn't in this case. It's probably some weird side-effect that's not obvious from these code snippets.

[2016-10-31 14:01] DominikGuzei commented on #118
@foxhound87 we haven't found the issue yet but are one step further: we are using [react-intl](https://github.com/yahoo/react-intl) on the same form and when we remove it everything works fine. Do you have any experience with it / know potential problems there?

[2016-10-31 18:17] liveresume commented on #117
@foxhound87 I think that is the better way to go. Thanks

[2016-10-31 20:59] foxhound87 commented on #118
I don't know how react-intl work, I never used it.
You can try to use stateless components if you are using classes with local state.
If you can setup a small test project I will take a look.

[2016-10-31 21:09] darko-mijic commented on #118
Thanks @foxhound87. We where using [react-intl](https://github.com/yahoo/react-intl) and our validators where returning an object instead of a string for validation errors. This was causing the issue.

From @DominikGuzei's example:

[code]

`messages.invalidWalletName` was an object:

[code]

And it needed to be a string so the fix was to provide a validator with i18n features of `react-intl` to r

[2016-10-31 21:40] #118 closed, assigned to nobody

[2016-11-01 16:49] mladen107 opened #124 "LodashModuleReplacementPlugin issue"
Hello,
It seems that current version is broken, I can't get fields initialisation to work

[code]

it logs `undefined`, even inspecting `loginForm` in debugger shows that fields are empty.

[2016-11-01 17:05] dmackerman opened #125 "field touched and focus don't seem to work?"
Not sure how these are supposed to work, but `touched` and `focus` are never true. What's the proper usage for these?

[2016-11-01 19:36] liveresume commented on #125
Was wondering how to use these as well.

I would assume it is up to our components to determine whether they have been touched/focused. So then should we update mobx-form as shown below, and potentially let it pass back that state so our components remain stateless.  (BTW really liking the paradigm here of fully controlled/stateless components that mobx-form allows, great work)

[code]

[2016-11-01 20:12] liveresume commented on #125
I'm getting errors when trying to set focus and touched that they are computed values and cannot be set.  Can confirm @dmackerman issue.

[2016-11-01 20:21] liveresume commented on #125
Just dug around the code to figure it out.  This works:

[code]

Also made a PR #126 to move touched=true to when the field is first focused.

[2016-11-01 20:57] foxhound87 commented on #124
Which version are you using?

The "current" version is 1.13.16 and it's working.

[2016-11-01 21:00] foxhound87 commented on #125
Here you can find more info on **onFocus(e)** and **onBlur(e)** event handlers:

https://foxhound87.github.io/mobx-react-form/docs/events/events-handlers.html

[2016-11-01 21:04] diffractometer opened #127 "Post demo / example code."
Just wondering: Would it be possible to post the demo code? Having a bit of trouble following the tutorial. I'm confused about how to get from "Initialize the Form" to "Pass the form to a react component" as it seems as though you're implementing two different approaches. Anyway, thanks either way.

[2016-11-01 21:12] foxhound87 commented on #127
You can find the demo code on the `demo` branch:

https://github.com/foxhound87/mobx-react-form/tree/demo

[2016-11-01 21:13] foxhound87 commented on #127
I will also create a dedicated repo as asked in #94

[2016-11-01 21:14] diffractometer commented on #127
@foxhound87 thanks a ton mang!!!

[2016-11-01 21:14] #127 closed, assigned to nobody

[2016-11-01 21:22] liveresume commented on #125
Thanks @foxhound87 touch/blur are working now. Appreciate the fast merge!

Looks like you can close this one.

[2016-11-01 21:30] foxhound87 commented on #125
@liveresume thank you for your contribution!

[2016-11-01 21:30] #125 closed, assigned to nobody

[2016-11-01 21:51] diffractometer opened #128 "[demo] Uncaught TypeError: Cannot read property 'scheme' of null(…)"
On the demo branch, after following instructions, I get the error `Uncaught TypeError: Cannot read property 'scheme' of null(…)`.

[2016-11-01 21:58] foxhound87 commented on #128
Please, can you provide the full error stack trace?

[2016-11-01 22:04] diffractometer commented on #128
For sure! The error is only appearing in my console, there's no error from the command line:

[code]

But when I open up (...) the error in the console I see:

[code]

after removing `node_modules` and reinstalling I see an error:

[code]

[2016-11-01 22:13] foxhound87 commented on #128
Should be related at this issue which I opened recently on `react-json-tree`: https://github.com/alexkuz/react-json-tree/issues/56

I'm releasing a fix for `mobx-react-form-devtools` with a `react-json-tree` downgrade at version `0.9.0`. You should update it on the demo directory.  Let me know.

[2016-11-01 22:18] foxhound87 commented on #128
https://github.com/foxhound87/mobx-react-form-devtools/releases/tag/v1.0.4

[2016-11-01 22:19] diffractometer commented on #128
@foxhound87 Awesome, I much appreciate your help, will take a look asap!

[2016-11-01 22:25] diffractometer commented on #128
@foxhound87 that fixed it, thanks again!

[2016-11-01 22:25] #128 closed, assigned to nobody

[2016-11-01 22:26] foxhound87 commented on #128
@diffractometer great to hear that!

[2016-11-02 08:35] mladen107 commented on #124
After some debugging I found that

`$this.handleFieldsNested(fields, initial);`

returns empty object for fields and from that point on fields are lost.

It turned out that [LodashModuleReplacementPlugin](https://github.com/lodash/lodash-webpack-plugin) removed `_.has` function that was used by `.handleFieldsNested` method.

Removing LodashModuleReplacementPlugin solved issues but I think it would

[2016-11-02 10:15] #45 closed, assigned to nobody

[2016-11-02 10:21] foxhound87 commented on #124
I'm not using `lodash-webpack-plugin`, only `babel-plugin-lodash`.

[2016-11-02 19:57] liveresume opened #132 "Bug using Array as value depending on Form init"
If we init the Form using separated props:

`new MobxReactForm({ plugins, values, defaults, rules })
`
Then using an Array as a value does not work.

However, if initialized with unified props Array as value works:

`new MobxReactForm({ fields, plugins })
`

[2016-11-02 20:30] foxhound87 commented on #132
Please, can you post your complete code?

[2016-11-02 20:43] liveresume commented on #132
Sorry made a mistake here.  Array as value issues seem to be happening when using deep fields.  Trying to dig further.

[2016-11-02 20:46] liveresume commented on #132
Its a bug on my side.

[2016-11-02 20:46] #132 closed, assigned to nobody

[2016-11-03 13:26] itaylorweb commented on #109
As a workaround is below a reasonable approach?

[code]

[code]

[2016-11-03 14:13] itaylorweb opened #134 "Validation on nested fields failed after update to 1.13.17"
onSubmit Validation works fine in 1.13.10 on all fields but after updating to 1.13.17 it only validates top level fields.

[2016-11-03 15:36] foxhound87 commented on #134
Please, can you post your validation setup?

[2016-11-03 15:38] itaylorweb commented on #134
[code]

[2016-11-03 15:55] foxhound87 commented on #134
Cannot find any issue... Tried DVR mode with nested fields on 1.13.17 and it's working.

[2016-11-03 16:03] foxhound87 commented on #109
I recently implemented `pathToFieldsTree` method, which we can use to create an object tree starting from a string path: https://github.com/foxhound87/mobx-react-form/blob/fb0eb6a535bd6f52c5c355409ee3cc02b9a1c61e/src/FieldParser.js#L16

I think we can start from here to create the object with empty fields for each of the path struct we need to add.

[2016-11-03 20:55] #109 closed, assigned to nobody

[2016-11-03 21:13] liveresume opened #135 "How to set disabled after form is initialized?"
How can the disabled value of all fields be set _after_ the form has been initialized?

[code]

[2016-11-03 21:31] itaylorweb commented on #134
@foxhound87  Hmmm.  Not sure what im doing wrong then.  I can force version 1.13.10 in my package.json and the validation works fine. As soon as I update to 1.13.17 it fails.  Ive published a test version of my app at: http://testapp-27cbfc7c-1.1b5e0e4e.cont.dockerapp.io/create

These are the rules:

[code]

If you load the page and click the save button at the bottom of the form you will see that

[2016-11-03 21:35] itaylorweb commented on #109
@foxhound87 This is great thanks.  Works perfectly.

[2016-11-03 21:41] foxhound87 commented on #134
@itaylorweb thanks you for the source, I will try it asap!

[2016-11-03 21:57] foxhound87 commented on #135
If I correctly understood your question,
you want to set `disabled` property for all fields in one shot?

This can be done for example into the [**onInit()** Handler](https://foxhound87.github.io/mobx-react-form/docs/events/extending-form.html)

If you want to set the `disabled` prop to `true` for one specific field you can do:

[code]

If you want to set the `disabled` prop to `true` for all fiel

[2016-11-03 22:03] foxhound87 commented on #134
@itaylorweb I think you should setup a linter on the project before.
Do you think you can do that? Will be easier to find the issue.

I suggest you [eslint](https://github.com/eslint/eslint) + [airbnb](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb)

[2016-11-03 22:07] itaylorweb commented on #134
@foxhound87  Yes i'll set it up.  Thanks.

[2016-11-03 22:40] vkrol commented on #109
@foxhound87 pathToFi**le**dsTree -> pathToFi**el**dsTree? :)

[2016-11-04 16:45] itaylorweb commented on #134
@foxhound87  I linted my app and sorted all linter errors but the problem was still there so I started digging through mobx-react-form code.

In DVR.js:

If I modify the code below (see the comments starting // ****) changing field.key to field.path the validation works.

For example field: clientVehicle.reg has a key of reg and a path of clientVehicle.reg

[code]

[2016-11-04 19:12] #134 closed, assigned to nobody

[2016-11-04 19:14] foxhound87 commented on #134
@itaylorweb

I made more tests and spotted the issue,
I fixed it as you suggested!

thank you for your patience and contribution.

[2016-11-04 20:44] vkrol commented on #109
@foxhound87 https://github.com/foxhound87/mobx-react-form/blob/abc06aad104a49c1080b04fa5af81fc9c4f4e7c0/src/FieldHelpers.js#L150

init fi**le**d into -> init fi**el**d into

[2016-11-04 20:45] itaylorweb opened #136 "Nested Fields that have been dynamically added using .onAdd() not observed for Validation."
See [HERE](http://testapp-27cbfc7c.4d40106f.svc.dockerapp.io/create) for an example.

Scroll to the bottom of the form and click the Green FAB button + to add more clients

click the 'SAVE' button to validate.  The additional client fields are validated (after recent update to 1.13.20) but the validation messages don't clear when entering valid data into the additional fields.  The validation mess

[2016-11-04 20:50] itaylorweb commented on #134
Thanks @foxhound87.   Works great although I have found another bug.  see: [issue:136](https://github.com/foxhound87/mobx-react-form/issues/136)

[2016-11-05 15:58] #136 closed, assigned to nobody

[2016-11-06 15:26] itaylorweb opened #137 "Cannot define DVR rules as array as per validatorjs docs only pipe delimited string"
ValidatorJS allows DVR rules to be defined as an array and not just pipe delimited string.
When defining regex validation its recommend to define as an array such as:
['required', 'regex:/^(19|20)[\\d]{2,2}$/']
as the pipe in the regex pattern would cause a problem when splitting if it was pipe delimited.

DVR.js

Change:
[code]
To:
[code]

[2016-11-06 21:14] #137 closed, assigned to nobody

[2016-11-06 21:15] foxhound87 commented on #137
@itaylorweb you can clone the repo and edit the original source code instead of modify the transpiled code. Then you can contribute also with pull requests if you want.

[2016-11-06 21:49] itaylorweb commented on #137
Sorry. I should've done that. Will do next time :)

[2016-11-08 20:22] foxhound87 opened #143 "WARNING: "constructor.name" is mangled by uglify. [use --keep-fnames]"
Avoid using `.constructor.name` to check the name of the `Field` Class, which is mangled by uglify.
Ref: https://github.com/foxhound87/rfx-stack/issues/31

---

**ADD THIS TO YOUR WEBPACK CONFIG**

In the meantime, in order to keep the package working in a **minified** production environment

use

`webpack -p --keep-fnames`

or

[code]

[2016-11-08 21:23] #143 closed, assigned to nobody

[2016-11-08 21:25] foxhound87 commented on #31
@mattruby Great news, I finally solved this issue.

This was the cause: https://github.com/foxhound87/mobx-react-form/issues/143

let me know if it's all working now!

thanks.

[2016-11-08 21:50] #31 closed, assigned to nobody

[2016-11-09 00:58] liveresume opened #145 "What is the current use case of onAdd?"
I am a bit confused as to why `onAdd` is not working.  Tried to make sense of this closed issue but no luck: [109](https://github.com/foxhound87/mobx-react-form/issues/109)

So, how can `onAdd` be used as of now?

Can you clarify this statement?

[2016-11-09 01:38] foxhound87 commented on #145
It meant that `.onAdd()` was able to add new element to an array of fields, but could not handle deep nested fields. Now  that statement is not valid anymore. **The package has been updated to support both cases.**

Take for example the nested fields demo:

https://github.com/foxhound87/mobx-react-form/blob/demo/src/components/FormWithNestedFields.jsx

On line 10 `onClick={hobbies.onAdd}` is for a

[2016-11-11 22:22] chrissm79 opened #148 "Unable to update() array field values"
I'm having a bit of an issue trying to set the values for an array (nested) field. I have a form that has a "files" field, which is an array. The user uploads a file and I want to append the file names returned in the response to the "files" field. I tried to use both `update` and `sync`, but with no success:

[code]

[2016-11-12 00:35] foxhound87 commented on #148
**The array values of `files` are treated as fields.**

By design, you can not create the nested fields passing values to `update()` or `set()`.

`update()` expects an object of fields in input.
`set()` doesn't handle nested fields creation.

But you can use `update()` from the parent field container
(the `form` in your case) passing the object to it:

[code]

[2016-11-12 01:10] foxhound87 commented on #148
Pay attention to the behavior of `.values()` which is to get all nested fileds values.

In the following example, the last log **is correct** because `foo` does not have nested fields!

[code]

[2016-11-12 02:06] chrissm79 commented on #148
Perfect, thanks @foxhound87!

I must say, I've never put together a form with nested fields and arrays so fast and easily before

[2016-11-12 02:06] #148 closed, assigned to nobody

[2016-11-14 20:37] anotherpit commented on #85
@foxhound87, actually you did: your tests have nothing to do with react. I'd suggest `mobx-form-state` name (and `FormState` or `MobxFormState` for the class).

Pros:
- it doesn't mention react;
- it does perfectly describe the purpose of the lib;
- it eliminates naming ambiguity for form state classes and form component classes (e.g. `LoginFormState` and `LoginForm`).

Cons: backward incompatibil

[2016-11-14 21:06] foxhound87 commented on #85
@anotherpit thank you for your suggestions!

I have to think about it a little more before because I already renamed it from `mobx-ajv-form` which is still downloaded... :|

[2016-11-14 21:07] foxhound87 commented on #85
Let's see what other people think and suggest :)

[2016-11-14 21:08] anotherpit commented on #85
Well, I doubt as well. So, yeah, it'd be cool to discuss it here a bit.

[2016-11-14 21:13] anotherpit commented on #85
BTW, thanks for the lib. Simply brilliant one!

[2016-11-14 21:22] foxhound87 commented on #85
Thank you :) I appreciate so much.

But I have to thank you all for the support and contribution to make it even better!
The feedback from the community is very important for me.

I was thinking if we can still use this package name for some React specific improvements - like the devtools or form HOC wrappers for better integration, etc... - importing here the "core" from the future `mobx-form-xxx

[2016-11-16 16:22] msaron commented on #85
After trying to implement redux-form in my use case and getting frustrated I went searching for another library and googled for 'react form'.  If react was not in the name, I would never have found it. This is a great library and far better than redux-form. It is a pleasure to use. Thanks for all your effort. I am still reviewing your rfx library to see if I want to use feathers.

[2016-11-16 23:47] anotherpit opened #150 "Typings for Typescript"
I'm going to provide typings for Typescript. There are two common ways of doing it:
1. Add `d.ts` file(s) to the library itself (the way `mobx` does, for example).
2. Publish typings under [DefinitelyTypes](http://definitelytyped.org/) a.k.a. [@types](https://www.npmjs.com/~types).

I'd prefer the first one. @foxhound87, any objections?

[2016-11-17 00:04] anotherpit opened #151 "extend() using prototype"
`Form` and `Field` classes share a bunch of methods. Currently they are scattered among three different files, and are being created and applied to each new instance using `extend()` method. Why not just put them into common base class? I also believe, inheritance gonna be slightly more efficient, because methods are put on prototypes once and for all. @foxhound87, what do you think? Perhaps, I wi

[2016-11-17 14:54] foxhound87 commented on #85
And in future would be cool to separate the validation functionalities in a different package, so we can have something like `mobx-form-state` and `mobx-form-validation` (with separated tests too).

[2016-11-17 14:54] foxhound87 commented on #151
I haven't used "regular inheritance" because I'm following the **composition over inheritance** principle instead.

I separated the methods in more objects to have more control (since the classes was growing, and now Form and Fields classes contains only their own methods).  I don't see the advantage to have common classes for these 3 files (or one big class of methods).

With composition we can s

[2016-11-17 14:59] foxhound87 commented on #150
I never used TS, but I definitely want to try it.

Adding the `.ts` files should be the way to go.

We can start a `typescript` branch before, so I can introduce it gradually.

[2016-11-17 15:10] foxhound87 commented on #151
For example, we can remove internal state from the `FieldParser` methods and make them not accessible form the `Form` and `Field` instances.

[2016-11-17 15:49] anotherpit commented on #151
OK, got it.

Kind of. But the one thing that really bothers me is that these three files actually depend on each other. `FieldHelpers` calls `initFields()` defined in `FieldInit`. `FieldInit` calls `select()` defined in `FieldHelpers`. `FieldParser` relies on `$this.state` and `$this.validator` which are only defined in end-user classes. In other words, one cannot use, for example, `FieldHelpers`

[2016-11-17 18:41] foxhound87 commented on #151
It's ok form me to use the prototype approach,
if you say it will reduce memory usage, let's do it!

[2016-11-21 01:56] leesiongchan opened #153 "Allow `add()` to include `initialValue`"
Now the `.add()` is only accepting `path` which there is no way for us to include the `value` for some reasons.

[2016-11-21 15:08] foxhound87 commented on #153
I will implement this, thanks!

[2016-11-21 15:23] lozinsky opened #154 "How to detect whether field is changed"
Hi. Whether it is possible to add a flag **changed**, which changes once, like **touched**?

[2016-11-21 15:35] foxhound87 commented on #154
I think you can use isPristine, or should be a different behavior?

[2016-11-21 15:58] lozinsky commented on #154
isPristine === isDefault, these flags may change again when the value comes back to the initial state.
For example, i have empty field for password, if password exists, i show placeholder until user wants to enter a value.

![example](https://cloud.githubusercontent.com/assets/15981489/20489230/e87d5aa0-b01a-11e6-984b-3d8798c34a1d.gif)

[2016-11-21 16:49] lozinsky commented on #154
I did it like this
[code]
but I have a problem with validation.

[2016-11-21 19:56] foxhound87 commented on #154
what kind of validation problem?

[2016-11-21 21:50] foxhound87 commented on #154
I added `changed` property in the new version: https://github.com/foxhound87/mobx-react-form/commit/63dedec005d965f8d141991a9f2a3628eb910372

[2016-11-21 21:50] #154 closed, assigned to nobody

[2016-11-21 22:39] lozinsky commented on #154
Thank you!

[2016-11-22 08:42] leesiongchan commented on #103
@foxhound87 The fix doesn't fix the nested property, for example.

[code]

[2016-11-22 10:04] leesiongchan opened #155 "Field loss its properties after the 11th items"
[code]

[2016-11-22 10:44] leesiongchan opened #156 "Field loss its property when use update (new items without field property)"
[code]

[2016-11-22 13:17] foxhound87 commented on #155
Very strange issue

[2016-11-22 19:32] anotherpit commented on #150
Please, start it so I can create a PR and show come code to discuss. There're several options to consider, and I'd love to get some feedback from those who use `mobx-react-form` with Typescript.

[2016-11-23 19:14] foxhound87 commented on #150
I will create a separate branch initially.

[2016-11-23 21:39] #155 closed, assigned to nobody

[2016-11-23 21:43] foxhound87 commented on #155
Should work now

[2016-11-23 21:51] anotherpit commented on #150
@dalcib Does your upvote mean that you're using `mobx-react-form` with Typescript, no?

[2016-11-23 21:52] anotherpit commented on #150
@foxhound87 Yep, that's what I'm asking for

[2016-11-24 01:17] #156 closed, assigned to nobody

[2016-11-24 01:18] foxhound87 commented on #103
I still have not found a proper solution for this issue on nested fields

[2016-11-24 03:24] leesiongchan opened #158 "Array field becomes Array-like Object when initialize with empty array"
[code]

[2016-11-24 07:25] leesiongchan opened #159 "Slow performance on nested fields"
[code]

Our application has fairly complex structures with deepest of 3 level deep nested fields, we have experienced a long freeze of approximately of 4-5 seconds every time we `.update` a form.

[2016-11-24 09:23] #159 closed, assigned to nobody

[2016-11-24 09:24] foxhound87 commented on #159
should be better now, please let me know your new results

[2016-11-24 10:10] #158 closed, assigned to nobody

[2016-11-24 10:46] dalcib commented on #150
@anotherpit  I use Typescript in my projects and I did some experiments with mobx-react-form, but not with Typescript yet.

[2016-11-24 15:49] anotherpit commented on #150
@dalcib For now you can check out [my fork](https://github.com/anotherpit/mobx-react-form/tree/typescript2). As soon as @foxhound87 creates `typescript` branch in this repo, I'll provide PR

[2016-11-24 22:23] #151 closed, assigned to nobody

[2016-11-24 22:27] foxhound87 commented on #150
branch created: https://github.com/foxhound87/mobx-react-form/tree/typescript

[2016-11-25 00:21] anotherpit commented on #150
@foxhound87 Great, thanks! I need some time to reflect recent API changes in TS declarations, and then I'll create a PR.

[2016-11-26 22:51] anotherpit opened #165 "Why $(key) returns an empty array on missing key?"

[2016-11-27 13:21] foxhound87 commented on #165
It was a workaround to allow empty array of fields to not throw error when using `map()`,
but it seems that is not necessary anymore because it should be fixed by some of latest fixes.

The `isStrict` can be added too:

[code]

[2016-11-27 13:51] foxhound87 commented on #31
https://foxhound87.github.io/mobx-react-form/docs/umd-setup.html

[2016-11-27 14:02] #165 closed, assigned to nobody

[2016-11-30 03:25] odyssey-spec commented on #49
thx

[2016-11-30 14:41] #153 closed, assigned to nobody

[2016-11-30 14:44] foxhound87 commented on #153
now you can do for example:

[code]

[2016-11-30 14:45] foxhound87 commented on #153
`add()` now can accept only the field value (or nothing),
and not a `path` or `key` anymore.

[2016-11-30 15:04] foxhound87 commented on #159
Any updates?

[2016-11-30 15:23] leesiongchan commented on #159
@foxhound87 Yea, it's so much better. Thank you very much!!

[2016-12-01 00:08] liveresume commented on #145
What about objects as children?  Can I do:

[code]

[2016-12-01 18:36] #145 closed, assigned to nobody

[2016-12-01 18:38] foxhound87 commented on #145
I made a fix for it. Now you can do this:

[code]

[2016-12-02 06:58] rzane opened #167 "Can't seem to use null as a default value?"
I have a custom input component that declares:

[code]

Because mobx-react-form defaults the value to an empty string, I'm getting proptype errors in the console. So, I figured I could override the default value and set it to null, but an empty string still seems to be getting passed in. I tried `default: null`, `initial: null`, and `value: null`, but nothing worked.

I've tried looking for docume

[2016-12-02 14:48] foxhound87 commented on #167
Hi @rzane

How can you render the `null` value into an input?

Can you provide the complete code of the form and the component?

[2016-12-02 15:15] foxhound87 commented on #167
Anyway I think you have to initialize the form inputs outside your component and make it stateless.

[2016-12-02 15:57] rzane commented on #167
So in the case of `<input />`, it can't be null. But, in the case of a custom input component, `null` is actually very common I think. `<ReactSelect />`, for example, can be null.

Input components really just need to follow the contract of `value/onChange`. They might invoke `onChange` with an array or an object. You wouldn't want the initial value of an input that calls `onChange` with an object

[2016-12-02 18:41] foxhound87 commented on #167
To answer your original question, you can set the initial values on the fields passing it to the form constructor, it will be set as `value`, `default`, and `initial` field props.  If you want to override the `default` prop, you can specify it in the field object, but cannot be null.

[code]

In the code you provided, you are using a normal input, which will not accept a `null` value anyway.

You

[2016-12-02 19:28] foxhound87 commented on #167
Some discussion about `null` values on inputs:

https://github.com/facebook/react/issues/6996
http://stackoverflow.com/questions/17240432/insert-null-value-into-a-text-input
http://stackoverflow.com/questions/36187522/react-select-with-value-null

[2016-12-03 00:03] foxhound87 commented on #103
Using the `$` as prop prefix will fix this issue, but I think we should deprecate the `unified properties` on the long term, if we remove them the code will be better (no more confusion on syntax to use and the build will be smaller).  Using the `separated properties` is more flexible I think. I'm also having other issues on managing the state of the `unified properties`, additional code should be

[2016-12-03 20:23] rzane commented on #167
Yes, I understand that `<input />` doesn't accept null in react, but the point I'm trying to make is that custom components often do. My example did a terrible job of attempting to make that point. Basically, I'm just trying to say that often in React, input components can be more complex than `<input />` tags, and therefore, it would be nice if `null` could be the initial value.

Is this library

[2016-12-04 01:18] foxhound87 commented on #167
As I said before, this package **is able** to handle numbers.

Thank you for this code example, it seems you found a bug,
it's related to the fields value parsing, I will fix it asap.

About the use of custom input components, the implementation will differ for each situation.
I can not know in advance how your components will be structured and how the values are treated.

The purpose of this pack

[2016-12-04 01:21] #167 closed, assigned to nobody

[2016-12-04 01:35] foxhound87 commented on #135
FYI the documentation is updated.

Please let me know if this helped or you need something else.

This can be useful for others users too.

Thank You.

[2016-12-05 05:17] elazer opened #168 "field.setInvalid isn't working properly?"
This is when some special conditions are not met after submitting the form.
Errors are returned by the api. So I tried to use setInvalid to show the errors.

form.$('images').setInvalid('Please specify a primary image');

form.$('images').hasError is true
form.$('images').error is undefined.

[2016-12-05 20:07] liveresume opened #169 "Returning field key from add(); Provide way to set key on add()"
What do you think about these api improvements?

First, when we add a new nested field we should return its newly created key value.
`key = add({field1: 'hello'})`

Secondly, we should allow the key to be set when the object is first created.
`key = add({field1: 'hello'}, {key: 12345})`

We should only need some small changes in `src/shared/Actions.js`
Recommend we add an options object:
[code]

[2016-12-05 22:38] #168 closed, assigned to nobody

[2016-12-05 22:40] foxhound87 commented on #168
Now should work, I will updated the docs too because it is referred to an the older implementation.

now is: `setInvalid(message<string>, async<boolean>);`

[2016-12-05 23:07] foxhound87 commented on #169
Should be ok, I will implement this.

[2016-12-05 23:34] #169 closed, assigned to nobody

[2016-12-06 19:00] mortenko opened #170 "cannot pass props to child component"
Hi, I'm trying to implement your mobx-react-form package by myself but I have following issue. I would like to pass props for example  **form={form.$('product')}** defined in NewProductForm.jsx into the component Input defined in Input.jsx.

 I checked what I get when I write  _console.log(props.form)_ in Input component  and it tells me that **form.$('product')** is empty array and is rendered ju

[2016-12-06 19:13] foxhound87 commented on #170
Probably you should change:

`export default { validateform };`

to

`export default validateform;`

or just:

`export default new ValidateForm({ fields, plugins });`

[2016-12-06 19:24] foxhound87 commented on #170
And now I see you are defining the fields as an object, so you should not use the prop `name`, as it will be set by the object `key` itself:

[code]

but you can use `name` when you define the fields as a collection with an array.

Eventually, using `<Input form={form.$('vendor')} />` could confuse because you are passing the `field` there, so I would rather use `<Input field={form.$('vendor')} />

[2016-12-07 10:37] luthv opened #171 "Support for older browsers - Babel polyfills"
Is there any plan to support IE11?

Currently the library failed with some unsupported language features such as Object.assign and Promise.

[2016-12-07 11:03] foxhound87 commented on #171
It's not a priority to support those polyfills out of the box right now.

This because maybe some devs would like to have support only for evergreen browsers and saving bundle size.

Anyway I think you can fix it yourself using babel polyfills:
https://babeljs.io/docs/usage/polyfill/

you can compile it or add it to the browser scripts.

[2016-12-07 11:56] luthv commented on #171
Thanks, I already did that. Anyway there's an unrelated problem with latest react and babel-polyfill for ie11 as described [here](https://github.com/facebook/react/issues/8379#issuecomment-263962787), I thought I leave it here, hopefully it will help people that encounter the same problem.

[2016-12-07 11:56] #171 closed, assigned to nobody

[2016-12-07 18:06] foxhound87 commented on #168
FYI `setInvalid()` will be deprecated in the version 1.17 and will be replaced with `invalidate()`.

[2016-12-07 20:33] liveresume commented on #169
@foxhound87 Thank you

[2016-12-07 21:06] foxhound87 commented on #169
You are welcome!

[2016-12-08 13:29] mortenko commented on #170
Thanks for you fast response.  I did bad export of my fields but anyway I was able to pass down only few properties (label,value,name). When I defined new one for example **placeholder**, it didn't work. Also, I can't pass down the onChange handler prop.
So, I decided to follow more your tutorial and  not pass down props to the children component (like Input...). It works now, how I expected.

[2016-12-08 13:50] foxhound87 commented on #170
`placeholder` is not available as property.

Read the [Available Fields Properties](https://foxhound87.github.io/mobx-react-form/docs/api-reference/fields-properties.html)  on the documentation.

If you want to implement new properties, observables, or methods, you can [Extend the Fields Class and the Form Class](https://foxhound87.github.io/mobx-react-form/docs/api-reference/extend.html)

Check i

[2016-12-08 13:52] foxhound87 commented on #170
I'm considering to support `placeholder` as property, since is used very commonly.

[2016-12-08 14:51] #170 closed, assigned to nobody

[2016-12-08 15:04] foxhound87 commented on #170
Now you can use `placeholder`.  The docs is updated too.

[2016-12-08 15:04] mortenko commented on #170
thanks for your prompt change :).  I was bit confused how to extend the fields...maybe you can write an example.

[2016-12-08 16:07] foxhound87 commented on #170
you are welcome! 👍

[2016-12-08 16:08] foxhound87 commented on #170
are you familiar with mobx apis?

[2016-12-08 23:53] foxhound87 commented on #94
@Kamaraju333  FYI

I created the [dedicated demo repo](https://github.com/foxhound87/mobx-react-form-demo), and It's updated with custom components.

[2016-12-08 23:54] foxhound87 commented on #170
I created a [dedicated demo repo](https://github.com/foxhound87/mobx-react-form-demo), and It's updated with custom components.

[2016-12-08 23:55] foxhound87 commented on #127
@diffractometer  FYI

I created a [dedicated demo repo](https://github.com/foxhound87/mobx-react-form-demo), and It's updated with custom components.

[2016-12-09 08:53] w- opened #172 "Better Event Hooks"
Hi,
Starting to use mobx and have a requirement for forms. mobx-react-form looks very comprehensive. Thank you for your hard work on it.

My use case is that I have a form and want to use the data in the form to drive a a real-time preview. i.e. user inputs data in form and can see in realtime  how their inputs affect the preview.

Previously I made a simple store to accomplish this. In this model

[2016-12-09 13:21] foxhound87 commented on #172
Hi @w-

this package already is a form store.

What you want to achieve should be easy to do,

You need to pass the form instance down two of your children components,
for example `<MyForm form={form} />` and `<MyPreview form={form} />`

then use for example `form.$('password').value` to select your fields and render the values.
(the `value` property is a mobx computed value).

just make sure to [

[2016-12-09 16:10] diffractometer commented on #127
@foxhound87 Cool, thanks for doing that!

[2016-12-12 16:24] foxhound87 commented on #170
About extending the forms and fields, I will create a more detailed guide for it.

[2016-12-12 16:24] foxhound87 commented on #172
Did my suggestions helped?

[2016-12-14 12:40] tiagowippel opened #173 "How validate calculated values?"
How could I validate the sum of all persons who were added in certain table?
This sum could not be greater than 100 kgs for example.

Or I would have to need at least 5 people added ....

[2016-12-14 12:51] tiagowippel commented on #173
example:

const rules = {
  'someField':            'required|string',
  'clients[].title':      'required|string',
  'clients[].firstname':  'required|string',
  'clients[].surname':    'required|string',
  'clients.length':  'min:5',
};

[2016-12-14 16:08] foxhound87 commented on #173
Hi @tiagowippel

I don't know if I understood your first question.

About the number of people,
assume that you have a **fields** object with an **array** of people:

[code]

using the **DVR** Validation Mode can be done using a **rules** object like this:

[code]

But there seem to be a bug: after the validation, the error is not thrown for `fields containers`, the form validation will `success`.

[2016-12-14 16:24] tiagowippel commented on #173
ok, I understood.

Now let me try to explain the first question.

supposing I have:

[code]

where sumOfWeights would be a @computed value.... how could I do/validate this ?

[code]

[2016-12-14 18:02] foxhound87 commented on #173
That can't be done out of the box. You need to [Extend the Form](https://foxhound87.github.io/mobx-react-form/docs/api-reference/extend.html) and do it manually.

I think you can use the mobx `reaction` on the extended Form which will sum all your fields values to be set into another field `peopleSumOfWeights` and handle the validation on that.

something like:

[code]

[code]

[2016-12-14 18:04] foxhound87 commented on #173
You can eventually keep the value `peopleSumOfWeights` hidden and show only the error message.

Keep in mind that you can't define `people.sumOfWeights` if you are defining `people[]` as array.

[2016-12-14 18:13] foxhound87 commented on #173
All fields have computed values/properties, like `form.$('peopleSumOfWeights').value`

You can find all field **computed** props on the docs in the [Fields Properties](https://foxhound87.github.io/mobx-react-form/docs/api-reference/fields-properties.html) section.

The validation rules will only work against the `value` computed prop.

[2016-12-14 18:26] tiagowippel commented on #173
Great, thank you!

[2016-12-14 18:41] foxhound87 commented on #173
You are welcome.

I reopen this because the `validation` for the `fields containers` values should be still fixed.

Thank You.

[2016-12-14 18:44] foxhound87 commented on #172
I think I can close this for inactivity.
Feel free to reopen if you encounter other issues.

[2016-12-15 03:55] w- commented on #172
@foxhound87
Hi, thank you for your response and sorry for my late reply.

the challenge with your suggestion is that my the MyPreview component then must accept an observable object that looks like a form.

i.e. currently an existing MyPreview component accepts an observable object that looks like
[code]
and it will render something say with

`{{ thing.title }}`

so i cannot pass a form that has t

[2016-12-15 09:07] foxhound87 commented on #172
then you should able to pass directly the object to your component like:

[code]

[2016-12-15 10:18] w- commented on #172
yes i understand that. ideally i'm trying to avoid repeating myself by recreating the structure but from your replies i guess it wont be possible.

is there an event on a form that is fired when any field's value changes?
I know there are events per field, but i'm looking for a form-wide one.
the idea would be that i could just listen for that event and do a values() call on the form whenever some

[2016-12-15 11:16] foxhound87 commented on #172
I don't know how your data and components are structured in detail, that's just an example.

If you build your components around the mobx-react-form apis you will reduce the amount of the boilerplate, as the package has its own data structure, but if you want to use components which have a pre-defined structure, you definitively have to rethink the data structure/management too,
but I think the ef

[2016-12-15 11:30] foxhound87 commented on #172
Anyway, in the meantime you can use the mobx `observe` to listen on the prop `$value` changes.

Something like this:

[code]

Using the built-in package's `forEach()` you can iterate nested fields too,
and the implementation is even more compact:

[code]

[2016-12-15 11:35] anotherpit commented on #172
@foxhound87, doesn't `form.values()` return the structure @w- needs?

[code]

[2016-12-15 11:38] foxhound87 commented on #172
@anotherpit Yes, but I think he wants only get some of them to pass to a component with a specific structure. @w- is it right?

[2016-12-15 11:49] foxhound87 commented on #172
@anotherpit anyway, In that way the values are not observable, and the component will not re-render on changes.

[2016-12-15 15:51] w- commented on #172
@foxhound87
Thank you. Thats an interesting suggestion you make looping through each field and making each value observable in that manner. I'll look further into that.

@anotherpit

yes, the specific issue is that the returned values are not observable. this is why i  cannot' use form.values()

I'm happy that form.values() doesn't return observables, its just that it isn't appropriate for my spec

[2016-12-16 14:31] sanketsahu opened #174 "Can we use `decorators` instead of `extends`?"
I always recommend [Composition over Inheritance](https://www.wikiwand.com/en/Composition_over_inheritance).

Is there an option to use `decorators` instead of `extends`? Something like

[code]

[2016-12-16 15:55] foxhound87 commented on #174
Thank you for the suggestion, should be very cool to use decorators.

Recently I was looking for a solution to inject plugins before the form instance is created, using decorator seems definitely the way to go.

I have to think about of new apis design for the next major version, other enhancements are already scheduled!

[2016-12-19 00:23] levic92 opened #175 "Unexpected behaviour when providing an initial value that is a number"
Hello,

When a field is initialized with a value that is a number there is a bug and you can no longer set this field to anything other than a number. You can no longer type a decimal. Example: if the field is initialized with the number 4 you will not be able to change it to 4.5, you also cannot clear that field because when you clear the field it resets to 0. I believe this behaviour should be r

[2016-12-19 11:13] sanketsahu commented on #174
@foxhound87 That's awesome! Thanks!

[2016-12-19 14:25] foxhound87 commented on #175
The idea was if the value is initialized with a number, it should remain a number, because for example, if you clear the field, it will became an empty string (instead should be zero).

About the decimal numbers, you can set them also afterwards, but I just noticed a bug, the fields doesn't accept the dot if you try to add it at the end of the value. If you try to add the dot in the middle of the

[2016-12-19 14:27] foxhound87 commented on #175
I think we can introduce a from option like `autoParseNumbers` and run that part of code only if this option is true.

[2016-12-19 14:33] foxhound87 commented on #174
I reopen this issue. I will close it when the new apis will be released.

[2016-12-19 14:55] foxhound87 commented on #120
I close this question, It can be found here:

https://foxhound87.github.io/mobx-react-form/docs/faq.html

[2016-12-19 14:55] #120 closed, assigned to nobody

[2016-12-19 14:55] foxhound87 commented on #116
I close this question, It can be found here:

https://foxhound87.github.io/mobx-react-form/docs/faq.html

[2016-12-19 14:55] #116 closed, assigned to nobody

[2016-12-19 14:57] foxhound87 commented on #135
I close this question, It can be found here:

https://foxhound87.github.io/mobx-react-form/docs/faq.html

[2016-12-19 14:57] #135 closed, assigned to nobody

[2016-12-19 15:29] foxhound87 commented on #175
If you don't want **zero** when the field is empty, pass the number as `string` when initialize the fields. You should be able to handle the numbers as strings and parse it to number afterwards.

[2016-12-19 15:31] #175 closed, assigned to nobody

[2016-12-19 15:33] foxhound87 commented on #175
Now with this fix https://github.com/foxhound87/mobx-react-form/commit/79bbe839a3e9de298bef53c4d4756a86c97b8c41 you should be able to set the decimals correctly. Let me know if you encounter other issue.

I will introduce `autoParseNumbers` option anyway to disable this behavior if you need.

[2016-12-19 15:47] foxhound87 commented on #175
`autoParseNumbers` option is now available (https://github.com/foxhound87/mobx-react-form/commit/6281645d7059d2e412227328a4c29aecb347156e).

The [option section](https://foxhound87.github.io/mobx-react-form/docs/api-reference/form-options.html) on the docs is now updated.

Now to disable this behavior you can do:

[code]

[2016-12-19 15:57] levic92 commented on #175
Thanks for adding that behaviour. Yes setting the initial value to a string is a work around for now. The following has been fixed:
- Cannot add a decimal to an existing number at the end of the value. (fixed with 79bbe83)

With the current implementation there are still a few bugs:
1. Maybe this isn't a bug, but is it the ideal behaviour? Cannot clear a number field. Even if this is a number fiel

[2016-12-19 16:12] foxhound87 commented on #175
1. Because if you want numeric values and when you get the value you expect to see a number, not en empty string. Otherwise you have to deal with it afterward if you need to make some computation with that value.
2. Right, I will fix it, thank you for testing.

[2016-12-19 16:15] levic92 commented on #175
One more thing i noticed is that you cannot set a negative number

[2016-12-19 16:20] foxhound87 commented on #175
right, but only in some situation. I have to find a better way to handle values with `_.toNumber()`

[2016-12-22 06:46] w- opened #177 "How to reorder nested fields?"
This is more of a question.
In my form i have fields defined like

[code]

What is the best way to reorder items in list? or even to do inserts into specific indexes of the list?

the only way i can think of right now is to make a call like
[code]
This seems less than optimal. Is there a better/recommended way to do this?

[2016-12-22 09:04] w- opened #178 "Creating a form with nested fields, an element is always automatically added"
if i define a form with the following fields

[code]

When I create an instance of the form and i inspect the values  (or use the dev tools) i can see that on init, list.cat1 and list.cat2 automatically have an element. I would expect an empty array (or more specifically no values)

Did I miss something / is there a way i can get this behavior?

[2016-12-22 09:54] w- opened #179 "Wrong deep field path for initField() on update()"
if i have a form that is defined

[code]

is it correct for me to define the rules like:
[code]

when i attempt to validate the form, it appears that the nested fields are not getting validated. i.e. list.cat1[].url and list.cat2[].url

[2016-12-22 11:08] foxhound87 commented on #179
You can find a working example on the [demo repo in /src/forms/nestedFields.js](https://github.com/foxhound87/mobx-react-form-demo/blob/259773ae71487c703ea400c04240d99155250447/src/forms/nestedFields.js
).

In your example you are defining two const with the same name `rules`, you should name the first one as `fields`.

[2016-12-22 11:09] foxhound87 commented on #178
I think I can fix it. In the meantime you can remove it with the `.del()` method on form initialization.

[2016-12-22 11:22] foxhound87 commented on #177
I have no plans to add ordering logic for the fields. You have to implement it yourself.

If you need to provide custom indexes, you can do it when add new fields using the `.add()` method as discussed on this issue: https://github.com/foxhound87/mobx-react-form/issues/169

The syntax is:
[code]

I will update the docs because it seems to be missing.

[2016-12-22 12:47] w- commented on #177
interesting. was not aware of this feature. Thanks for the quick response

[2016-12-22 12:50] w- commented on #179
sorry for the confusion. i typoed the first code block. As you correctly point out, the const shoudl be called "fields". fixed my typo.

I did have it defined the correct way in the code, thats why i'm curious as to why it isn't validating properly

[2016-12-22 12:52] foxhound87 commented on #179
I need to replicate your code and test it.
If you can prepare a repo I will take a look.

[2016-12-22 12:54] w- commented on #178
ok. thanks. so I basically do:

[code]

is that right?

[2016-12-22 12:55] w- commented on #179
ok. Thank you for the generous offer. I'll review it again first and if i still can't figure it out i'll ping you.

[2016-12-22 12:57] foxhound87 commented on #178
right 👍

[2016-12-22 14:03] w- commented on #179
quick question.
in my example, if I were to create new values to list.cat1 by simply calling update
[code]

and not using
[code]

does it wipe out the rules somehow?
I'm unsure if it is me, but usign the devtools when i drill down to this path:

[code]

there is a rule there initially, but then after the update it becomes null. Do you have any idea what might be going on here?

[2016-12-22 14:38] foxhound87 commented on #179
You cannot pass an array in the `update()` method, it accepts only an object describing the fields keys with theirs values, not the value directly, you should do:

[code]

Then the rules should be there, but I noticed that the fields values are no more observed for validation after an update, similar to [this issue when using add()](https://github.com/foxhound87/mobx-react-form/issues/136) (but th

[2016-12-22 15:11] w- commented on #179
thanks again for quick response.
wierd, i just checked my code and in fact i'm doing what you recommend. I must be making a mistake somewhere that is causing different behavior.

I haven't noticed the validation issue after update that you mention. thanks for the heads up and i'll watch for it

[2016-12-22 15:30] w- commented on #179
do you mind taking a quick look at this gist?
it's pretty much my form at this point
https://gist.github.com/w-/3e15cadc60c9910c66c16b3b8f9d37c4

in onInit, i've commented out one of the del() statements.
this is so i can verify the rule is correct. in devtools we can see that the rule is added successfully to the default element added.

i'm basically testing the update and validation behavior by

[2016-12-22 15:47] foxhound87 commented on #179
- What's in the `layout` value passed to the `update()` method?
- If you run `createNewArticle()`  without the `update()` method, the rules are still there?

try to print this `onInit()`, before and after `update()`:

[code]

and show me what you see. We should expect the same values.

[2016-12-22 15:58] w- commented on #179
Yes

this screenshot shows the changes to onInit and after update you suggest.
it also shows the contents of "layout" that are passed to the update() method.
it appears that the rules are still there, but for some reason don't show up in devtools, nor do they validate properly when i call form.validate(). (the value of isValid is true, when it should really be false and complaining about the inval

[2016-12-22 16:06] foxhound87 commented on #179
have you tried to print the rules into `createNewArticle()` before `update()`?

what do you see?

If you are using `createNewArticle()` as an event handler, try to avoid using `this`,  pass the whole form instead as I do in the other methods.

[2016-12-22 16:30] w- commented on #179
regarding using "this" issue, isn't that kind of wierd? when i call the form method it becomes
something like
[code]
or am i missing something?

[2016-12-22 16:34] foxhound87 commented on #179
where are you calling `createNewArticle()` ?

I mean doing this:

[code]

[2016-12-22 16:39] w- commented on #179
createNewArticle is called externally to the form.

so for example, i pass the form to a react component.
on the react component there is a button. when you press the button you call `createNewArticle()`

since `createNewArticle()` is defined as an instance method on the form, why would we need to pass the instance in again?

(i did notice your style of passing in the form as a parameter even when

[2016-12-22 16:43] foxhound87 commented on #179
Because if you call `createNewArticle()` on `onClick`it loose its context, like in [this example](https://github.com/foxhound87/weather-forecast-react-app/blob/bf0216601bc75cbdbf2413a45215f2fe01b87d63/src/components/SearchForm.jsx#L16).

[2016-12-22 16:56] w- commented on #179
I think i'm misunderstanding.
in the example you have
`onChange={values => form.onChange(values, form)}`
in the docs
https://foxhound87.github.io/mobx-react-form/docs/events/events-handlers.html
it says that `onChange()` is an alias of `sync()` which looks like it takes an event as a param.
are these the same function?

in any case i'll give your suggestion a go. i need to step away for a while so

[2016-12-22 17:00] foxhound87 commented on #179
You are welcome. Yes `onChange()` and `sync()` are the same.

In the example I reimplemented `onChange` [here](https://github.com/foxhound87/weather-forecast-react-app/blob/bf0216601bc75cbdbf2413a45215f2fe01b87d63/src/forms/Search.js#L37) because in that case react-select has a different output for the `onChange` handler.

[2016-12-22 17:09] foxhound87 commented on #179
Try to do this which should auto-bind the form instance:

[code]

then in the component:

[code]

otherwise, create a working repo, so I will get the whole picture.

[2016-12-23 07:44] w- commented on #179
unfortunately, neither of those suggestions resolved the issue.

i created a repo that recreates the issue.
https://github.com/w-/argh

basically just do
[code]
then you should be able to load the index.html in a browser.

Once in the file the starting state if the form will be that
- `layout.column1` will have one element (the issue we discussed in #178 )
-if you drill down into the mobx-react-fo

[2016-12-23 11:12] foxhound87 commented on #179
I think I found the issue,
there is a strange bug using deep nested fields with fields array.

I will replicate the issue in the tests and release a fix for it asap.

In the meantime you can do this:

Removing the `layout` field container:

[code]

and getting the values with `this.values()` instead of `this.$('layout').value`,

OR

update the form with the complete object structure:

[code]

inst

[2016-12-23 11:25] #177 closed, assigned to nobody

[2016-12-23 13:39] #179 closed, assigned to nobody

[2016-12-23 14:40] foxhound87 commented on #179
Fixed, now should work.

Let me know if you encounter other issues.

Thanks.

[2016-12-23 16:19] w- commented on #179
awesome. just tried it out. works.
Thanks very much for all your support and quick response!

[2016-12-24 01:17] levic92 opened #180 "Field.clear() only handles certain data types - bugs when field value is a Date"
I have run across an issue with the ```.clear()``` method on a field. This field stores a Date. I took a look at the clear function and it looks like it only handles arrays, bools, numbers, and strings. Should there be a default action for other data types or an if statement added to handle Dates?

[2016-12-24 01:44] levic92 commented on #180
The ```isEmpty``` check also fails with a Date value

[2016-12-24 02:04] foxhound87 commented on #173
After some testing, I noticed that an empty array can be only validated against a `required` rule.

It depend on [skaterdav85/validatorjs](https://github.com/skaterdav85) implementation.
I opened an issue for the case:  https://github.com/skaterdav85/validatorjs/issues/152

Anyway I'm releasing an updated of the computed `hasError` and `isValid` properties which will fix the nested fields checks.

[2016-12-24 02:07] #173 closed, assigned to nobody

[2016-12-24 02:12] foxhound87 commented on #180
Thank you for reporting this issue.

I will fix it asap.

[2016-12-24 03:09] #180 closed, assigned to nobody

[2016-12-24 03:13] foxhound87 commented on #180
Let me know if you encounter other issues.

Thank You!

[2016-12-24 06:42] levic92 commented on #180
Thanks for looking at this so quickly!

[2016-12-24 22:24] levic92 opened #181 "React Native "Event" bug"
I have been using this in a React Native project and it has been working well, but today I turned off remote debugging and realized that React Native does not have a javascript Event object. In remote debug mode the javascript runs in chrome so it works fine, but when I turn off remote debug mode the app errors out on the ```isEvent``` check.

[2016-12-25 01:02] foxhound87 commented on #181
Thank you for reporting this issue and for the Pull Request!

[2016-12-25 11:50] #181 closed, assigned to nobody

[2016-12-26 09:48] w- opened #183 "computed value is not an empty array when fields are undefined"
hi,
ran into an issue today when attempting to use del()

I have an array for a field

[code]
if i give `argh` the value ['a', 'b', 'c']
and then attempt to do `form.$(argh).del(1)` the new value will be `['b', 'c']` (1-based index) instead of `['a', 'c']` (0-based index)

is this intentional? if so why?

Thanks

[2016-12-26 10:21] w- opened #184 "Specific PropType for mobx-react-form?"
potential enhancement

The mobx package surfaces some custom propTypes for mobX observables etc.
as we are often passing fields/forms in as props, does it make sense for this package to define its own propTypes as well?

[2016-12-26 13:49] foxhound87 commented on #183
The arrays indexes are 0-based. It should work as expected.

Maybe your issue can be related to the use of `del()` used in `onInit()` as we previously discussed [here](https://github.com/foxhound87/mobx-react-form/issues/178)

[2016-12-26 13:52] foxhound87 commented on #184
Yes, good idea, I will implement this.

Thank you for the suggestion!

[2016-12-26 13:59] w- commented on #183
so digging around more it looks like `argh[]` field is implemented as a mobx observable map. and each element in the array is an element in the map.
The wierd thing is, when it starts up, the observable map has 1 element in it by default. not sure if this is related to #178
The specific behaviour is
- values contains 0 elements
- fields contains 1 element

a side note,
When we use `del()` we need

[2016-12-26 14:01] w- commented on #183
the fields where this is happening are seperate to the fields i run del() on as per #178

[2016-12-26 14:13] w- commented on #183
here's a screenshot of dev tools in case my explanation above isn't very clear.

![capture](https://cloud.githubusercontent.com/assets/357317/21483132/143cd0d4-cbb0-11e6-8086-e1227a8221ef.JPG)

[2016-12-26 14:50] foxhound87 commented on #183
The values are derived from the Map, in your case the **field container** "dl" will have only the values defined on its fields values, so if the new added field "1" doesn't have a value yet, you don't see it in the array

[2016-12-26 15:01] w- commented on #183
i should've expanded the arrow.
- 0 is there by default.
- 1 is the newly added value.

if I don't add anything to "dl" this is how the dev tools look
![capture](https://cloud.githubusercontent.com/assets/357317/21483557/b47fe7e2-cbb6-11e6-8c4b-3676081fce2a.JPG)

is this expected?

[2016-12-26 15:09] foxhound87 commented on #183
If the value of dl[0] is null/undefined/empty is right

[2016-12-26 15:17] w- commented on #183
dl[0] is undefined. as you can see in the screenshot in the last post, dl is an empty array.

[2016-12-26 15:36] w- commented on #183
check out the latest version of this repo
https://github.com/w-/argh

i modified the form and made another button.

when you first load the page, if you use the dev tools, you can drill down into `blah.fields.abe`
- values is an empty array (as expected)
- fields has 1 element in it

when you press the button, it executes `form.$('blah').init()` with an object `{ abe: [] }`
- values is an empty ar

[2016-12-26 16:00] foxhound87 commented on #183
Ok should be a side effect of init().

I have to write tests for the init() method, and I will fix it.

It seems like I forgot to parse values there.

Thank you for replicating the issue on the repo.

[2016-12-26 16:05] w- commented on #183
alrites. i'll test further once you've got a fix. thanks again for responsiveness.

[2016-12-29 10:14] foxhound87 commented on #183
* computed value is not an empty array when fields are undefined
Should be fixed in this release: https://github.com/foxhound87/mobx-react-form/releases/tag/v1.17.1

let me know if it is ok. Thank You!

[2016-12-29 10:23] foxhound87 commented on #178
I thought more on this issue and made more tests.

It seems that keeping at least one field will prevent errors when adding deeply nested fields.

I can make this work only for the very last nested fields, but it would be not coherent with the default behavior.

Furthermore if you don't have at least one empty field on the UI, it will confuse the user which will have to add it or you have to add i

[2016-12-29 10:43] foxhound87 commented on #183
PS: Do not use `init()` for now. It should work with `update()`.

[2016-12-29 11:19] foxhound87 commented on #183
It seems the issue occurs only if using `update()` after `init()`.
The `abe` field container stops to handle the nested fields as array and set it as empty string.

But if you initialize the form with the initial values the issue does not occur anymore:

[code]

this is very strange behavior, I will investigate deeply.

[2016-12-29 11:43] foxhound87 commented on #183
Anyway, I had not expected this behavior because the `init()` method is not intended to be used for updating the fields but only for initializing.

It accept a **fields struct** in input if using **separated props**  or **fields values** if using **unified props**.

As you are using the **separated props** method, you should provide the struct to the `init()` method and not the values.

I will upd

[2016-12-29 11:51] foxhound87 commented on #183
And it seems also that `init()` should be removed from the fields apis.
It work well only called from the Form, and it will re-initialize all the fields.

[2016-12-29 18:13] #103 closed, assigned to nobody

[2016-12-29 18:16] foxhound87 commented on #103
Should work now.

I made more tests and I think I will not remove the `unified properties` anymore.
The code is deeply glued to both styles and would be a pain to rewrite all.

[2016-12-30 09:40] truztee opened #185 "date field support"
I'm trying to use a date type field inside a form, but the I cannot use the update method to update the date field.

[code]

is there any workaround for this? I want to avoid using string for my date field.

[2016-12-30 10:59] foxhound87 commented on #185
Thank you for reporting this issue.

I will fix it asap.

[2016-12-30 12:22] #185 closed, assigned to nobody

[2016-12-31 16:20] foxhound87 commented on #185
The bug is fixed, let me know if you encounter other issues.

Thank You.

[2016-12-31 22:51] truztee commented on #185
Great! Thanks for the quick update.

[2017-01-03 19:27] #178 closed, assigned to nobody

[2017-01-03 19:28] #183 closed, assigned to nobody

[2017-01-04 07:14] truztee commented on #173
expanding on this question a bit, how do we define a computed property for a field in an array?
[code]

[2017-01-04 10:08] kitze opened #186 "Defining a simple array of strings"
This is my form structure:

[code]

I want the ```categories``` field to be a simple array of strings becaue I want to connect it to [this component](https://github.com/TeamWertarbyte/material-ui-chip-input).

I saw [this answer](https://github.com/foxhound87/mobx-react-form/issues/116) but I don't like to split my field definitions into 3 arrays, I want to keep it as an object. Also I don't need

[2017-01-04 11:35] dmitryverkhovtsev opened #187 "Passing custom data via form prop to fields"
Hi! I have a form with multiple selects and I don't think that define select options for each field in a React dumb view component is a good idea.

I think its better to pass custom object (selectOptions) to form like this:
[code]
I read it https://foxhound87.github.io/mobx-react-form/docs/api-reference/extend.html, but still don't catch the idea how to do it:

How extend Form and Field to pass do

[2017-01-04 14:15] foxhound87 commented on #186
Hi @kitze

It depends on how the custom input component is designed.

In your case I think you don't need **nested fields**.

You should do something like this using `value` as array of strings:

[code]

the `initial` and `default` property will be filled with the initial value, but they can be overwritten as well into the field object just like using `value`.

now you can use them on the componen

[2017-01-04 14:45] foxhound87 commented on #187
You can extend a **CreditRatingField** providing an `options` prop:

[code]

Into the custom field class, for example, you can write the logic to fetch the options.

then you can use it:

[code]

[2017-01-04 15:02] kitze opened #188 "Form is marked as valid when required fields are not dirty"
I recorded the behavior here:

http://jmp.sh/xPvhIyH

The first 3 fields of this form are required, and the form still returns true for ```isValid``` until the field is dirty.

Is there an option that I'm missing to configure the form to be considered invalid until the fields are actually touched & filled in?

Thanks!

[2017-01-04 15:06] kitze commented on #186
The tricky part is that in order for [this component for chip input](https://github.com/TeamWertarbyte/material-ui-chip-input#usage) to be "controlled" it needs the "value" property to be an array of strings and then it has 2 callbacks for add/remove chip:

[code]

In your solution, you're using defaultValue and onChange but that's not how this component works.

Is what I'm asking for possible, or

[2017-01-04 16:00] foxhound87 commented on #186
you can do:

[code]

or eventually you can reimplement the handlers if you need.

[2017-01-04 16:13] foxhound87 commented on #186
more precisely in your case:

[code]

[code]

[2017-01-04 16:16] foxhound87 commented on #188
I will take a look and replicate your behavior.

About invalidate using `touched` and `filled` I will see what can be done and how to implement that. Thank you for the suggestion!

[2017-01-04 18:20] dmitryverkhovtsev commented on #187
Thank you.
But this solution lack flexibility.
It's good for 1 or 2 selects but I have near 50 selects.
Why we cannot pass custom data (as prop) to fields?

As I understand an object passed with constructor call ignored by parser?
```const form = new myForm({ fields, values, labels, placeholders, rules, plugins, selectOptions });```
makeField() doesn't receive selectOptions object.

[2017-01-04 19:51] foxhound87 commented on #187
Eventually I can implement an **options** prop to pass in the constructor.

[2017-01-05 08:26] kitze commented on #188
@foxhound87 I thought this should be default behaviour for form libraries. If the form doesn't pass the validations, it doesn't matter if the fields are dirty or not, the form should be invalid.

If you're not sure maybe you should make it a configurable option.

Thanks!

[2017-01-05 08:28] dmitryverkhovtsev commented on #187
It would be great

[2017-01-05 08:29] kitze commented on #188
@foxhound87 btw is there a temporary solution for this? I need it in a project asap and I don't want to swap the form library in the middle of it :)

[2017-01-05 10:57] kitze commented on #186
Alright, got it.

Thank you!

[2017-01-05 10:57] #186 closed, assigned to nobody

[2017-01-05 11:44] foxhound87 commented on #188
I cannot replicate your issue.
What's your form configuration?
Maybe are you using the option `validateOnInit: false` ?

[2017-01-05 13:33] kitze commented on #188
Here's the form config -> https://gist.github.com/kitze/ea58240d6a2a258dfcf4d24e73b58232

I'm explicitly setting validateOnInit to true.

Form's ```isValid``` property is true before any of those 3 fields that are marked as required are touched.

[2017-01-05 15:20] foxhound87 commented on #188
I'm sorry, but I'm getting `isValid: false` using `validateOnInit: true`.
Only using `validateOnInit: false` I get `isValid: true`.

Are you using the devtools? What do you see in that?

For what I can see from the video you provided, the submit button is initially enabled,  maybe your issue can be related to your implementation of the submit button?

[2017-01-05 17:00] foxhound87 commented on #187
The **options** key is already in use in the constructor for the form options.
It will take some time because I have to change the current api and release a major update.

[2017-01-05 18:06] kitze commented on #188
I just plugged in the devtools and recorded another video. There's 100% nothing wrong with the submit button because the implementation is pretty simple:

[code]

Here's the video with devtools (which btw are a genius addition 😱):
http://jmp.sh/Q9unDRE

You can see that ```isValid``` is always true unless a field is dirty. It should be ```false``` until all the ```required``` fields are valid.

[2017-01-05 18:12] kitze commented on #188
I think the problem is in the fields. The fields "description" and "question" have this as a rule: ```rules: 'required|string'``` and yet they're still valid until they're dirty:

http://jmp.sh/T0p5iYp

I think a field should be considered invalid no matter if it's touched or not. It shouldn't show an error until it's dirty though.

[2017-01-05 18:38] foxhound87 commented on #188
This is very strange, in my case the fields have `isValid: false` !
Maybe there is something in your code which is altering the values.
Which version of the package are you using? update it to the latest.
Do you think you can provide a PR with a failing test for your case? would be great.

[2017-01-05 18:43] foxhound87 commented on #188
the second video is not working

[2017-01-05 18:49] foxhound87 commented on #188
Anyway you can try to set the `showErrorsOnInit: true` option.

The form will show all the fields errors on initialization,
if they are shown so the fields should have `isValid: false` and `hasError: true`.

If they are not shown it means the validation is not working,
and if you are using async validators check if the implementation is correct.

[2017-01-06 10:19] kitze commented on #188
Found the issue. When the page component is mounted I'm running ```form.clear()``` and that produces the weird behaviour. After the form is cleared it's automatically marked as valid. I swapped ```clear()``` for ```reset()``` and now it remains invalid until the required fields are filled properly.

Maybe it's a bug in the clear method?

[2017-01-06 10:31] kitze commented on #188
Just made a webpackbin with the code -> http://www.webpackbin.com/EyBEX8_Hf

Try the behaviour and try commenting out line 8 where the form is cleared. Also try to replace .clear() with .reset() and wee the difference.

[2017-01-06 13:03] foxhound87 commented on #188
This is a wanted behavior. I'm calling **resetValidation()** on **clear()**.

When you clear the form, it will clear all errors messages too, otherwise the form will be still "dirty" of the red errors.

The problem is that the `isValid` prop is calculated by the presence of some error using `hasError` prop.

Do you think the errors should be shown on clear? (I don't like it so much, I think the er

[2017-01-06 13:12] #188 closed, assigned to nobody

[2017-01-06 13:13] foxhound87 commented on #188
Made a fix, now should work as you expected, and the form will still not show the errors on clear.

[2017-01-06 13:18] kitze commented on #188
@foxhound87 I think that even when the form is "cleared" the "isValid" property should remain false until the form is actually valid. That's the only way that it makes sense in my head :)

Thank you for the fix.

Cheers 🎉

[2017-01-06 13:23] foxhound87 commented on #188
I also think that what you said is the correct behavior, but I did not notice the issue until you discovered it. thank you for your patience!

[2017-01-08 18:19] foxhound87 commented on #187
`options` property is now available on the new [1.18 version](https://github.com/foxhound87/mobx-react-form/releases/tag/v1.18.0)

[2017-01-08 18:19] #187 closed, assigned to nobody

[2017-01-10 22:12] Log-of-e opened #190 "placeholder does not hold values for nested separate properties"
values and labels persist in mobx store but placeholders does not persist in mobx store. I am doing a workaround by adding extra values and then mapping into the form.

fld.js:
const fields = [
  'someField',
  'club.name',
  'club.city',
  'members',
  'members[].firstname',
  'members[].lastname',
  'members[].hobbies',
  'members[].hobbies[]',

]

const values = {
  club: {
    name: 'Jazz Club

[2017-01-11 01:38] foxhound87 commented on #190
Hi @Log-of-e

I cannot replicate it.
It works in tests and demo repo.

Are you doing some operations on the form?

[2017-01-11 02:42] Log-of-e commented on #190
I used some of your demo code - which extends the Form class. Then I looked for the placeholder property with and without "get" but instead got 'undefined'.

  Could you please point me to the demo- I will check what I am missing. Does your demo use 'separate' and 'nested'? Maybe I should not use 'separate' and 'nested'.

 Thanks!

[2017-01-11 14:22] foxhound87 commented on #190
You can use separated and nested.

You can find the field definitions here:
https://github.com/foxhound87/mobx-react-form-demo/blob/master/src/forms/nestedFields.js

The demo form component here:
https://github.com/foxhound87/mobx-react-form-demo/blob/master/src/components/forms/FormWithNestedFields.jsx

[2017-01-11 14:26] foxhound87 commented on #190
Also if you are using the 1.18 version, the constructor arguments are a bit changed:
https://foxhound87.github.io/mobx-react-form/docs/api-reference/form-initialization.html

Options, plugins and bindings goes on the second argument now.

[2017-01-11 19:30] Log-of-e commented on #190
Thanks I will look thru.

[2017-01-11 19:30] #190 closed, assigned to nobody

[2017-01-13 22:35] liveresume opened #191 "Bindings Improvement Request"
Really happy to see the new 'bindings' feature - I had been working on the same idea.

I would like to suggest an improvement that slightly reduces typing and improves readability:

Instead of doing:

[code]

We could do:
[code]

Or, to prevent any field name collisions, we scope the fields under `form.bindings().currentlyStudent`.

Now usage is as simple as:

[code]

Which has the added syntax be

[2017-01-14 14:32] foxhound87 commented on #191
There are some things to be considered. I don't think what you said can be done using a global `.bindings()` namespace with that code style, this because of the current code structure (on how fields are handled and selected) which now use the field selector $() and not a plain object notation, it is also very complex (because handles nested fields) and for achieve what you are asking I should repl

[2017-01-14 14:32] #191 closed, assigned to nobody

[2017-01-16 19:24] liveresume commented on #191
I understand.

Can you show an example for both:

[2017-01-16 23:10] foxhound87 commented on #191
something like:

[code]

In this manner you can pass your own bindings to the component or use the bind() method of the package if custom bindings are not provided.

This is very simple and generic approach but should work for your case.

[2017-01-18 23:58] liveresume opened #192 "Nested Fields onAdd() errors when using Unified Properties"
I am having trouble using `f.$('collegeDegrees')onAdd()` when I build my fields like this:

[code]

Nothing seems to happen but some cryptic errors.

[2017-01-19 00:53] foxhound87 commented on #192
What's the error?

[2017-01-19 01:03] foxhound87 commented on #192
Anyway you provided a **separated** and not **unified** props definition.

So you should provide a **fields** object with the structure:

[code]

then your object as **values**:

[code]

Or using **unified** props definition, you should do:

[code]

[2017-01-19 14:11] kitze opened #193 ".value and .values() return the field definitions instead of actual values"
After updating to latest version of mobx and mobx-react-form, the return values of ```.value``` and ```.values()``` are always the field definitions, instead of the actual values.

Probably a bug with MobX 3.

[2017-01-19 15:16] foxhound87 commented on #193
Hi @kitze

I cannot reproduce your issue.

The field computed **value** should return the actual field value (with its nested fields values), but **values()** should return only its nested fields values (so if the fields doesn't have nested field, should return an empty object).

If the fields computed **value** are not working properly then you should have trouble also when you type into the inpu

[2017-01-19 15:55] kitze commented on #193
Ah, that was it. Thanks!

I'll try to look through the changelogs before opening an issue next time.

👍

[2017-01-19 15:55] #193 closed, assigned to nobody

[2017-01-19 19:02] liveresume commented on #192
Now I understand. Thanks.

[2017-01-19 19:02] #192 closed, assigned to nobody

[2017-01-19 19:22] foxhound87 commented on #192
Can you post the error you got?

So I can try to make a better error handling and provide a more friendly error for this situation.

Thank You.

[2017-01-20 19:58] liveresume commented on #192
I am having trouble selecting the nested fields using the unified props approach.
(nested + separated props work well)

[code]

FYI the nested fields are meant to be repeating.

The original problem had to do with mixing unified and separated, and flat and nested properties.  Maybe detect when an invalid mix is supplied?

[2017-01-20 20:05] liveresume commented on #192
Also here is an update request.  Can we get a `setDeep(val)`?

Would work to toggle props like `disabled` and blank out `label` s.

[code]

[2017-01-20 21:50] foxhound87 commented on #192
If you have nested array of fields, you should provide an index key:

[code]

because of this you get **"Error: The selected field is not defined (name)".**

It can depend on how you structured the fields in both unified/separated modes (maybe you described them differently, you cannot mix unified/separated).

If you need to operate on some branch of nested fields, you can also chain other [action

[2017-01-23 21:18] brandonmp opened #194 "how to set form values from props?"
I must be missing something super obvious b/c this seems like a really basic use case, but I can't figure out how to set initial values w/ `props` and then handle user inputs normally (ie, keystrokes aren't registered).

I've adapted your example from the tutorial:
[code]

[code]

[code]

As i mentioned, the initial value populates fine, but keystrokes in the input field don't register.

Am I miss

[2017-01-24 15:31] foxhound87 commented on #194
Hi @brandonmp

which version of **mobx**, **mobx-react** and **mobx-react-form** are you using?

What **"keystrokes in the input field don't register"** mean?
The input value changes into the input and the form state is not updated **OR** the input values are not updated and they remain fixed into the input?

The `observer` method is not part of `mobx` but you should import `mobx-react` instead:
`

[2017-01-24 23:13] luthv opened #195 "del and add behavior"
[code]

Is this the expected behavior? the starting index is now starts at 1 instead of 0 when the array field is deleted and then re-added.

[2017-01-24 23:39] ghost opened #196 "Material DatePicker"
Any examples from this repo for creating the popup DatePicker from Material-UI? I can't get a click action on the DatePicker myself, so it's functional (I can set defaultDate etc.) but no pop-up ensues.

[2017-01-25 14:29] #195 closed, assigned to nobody

[2017-01-25 14:30] foxhound87 commented on #195
@luthv thank you for reporting this.

Now should work as expected.

Thank You!

[2017-01-25 15:00] foxhound87 commented on #196
Hi @stevecawdery

are you getting some errors in the console?

[2017-01-25 15:23] foxhound87 commented on #196
If you are getting **Uncaught TypeError: Cannot read property 'target' of null** I made a fix that will allow to use the built-in **sync() / onChange()** handlers:

https://github.com/foxhound87/mobx-react-form/releases/tag/v1.18.8

(It is a generic implementation for handling a second arg as value)

[2017-01-25 18:07] foxhound87 commented on #183
I think this fix will solve your first question:

Fix: https://github.com/foxhound87/mobx-react-form/commit/611d909c0be103a628ef359bd0ba21fbbed42078
Issue: https://github.com/foxhound87/mobx-react-form/issues/195

[2017-01-26 00:22] luthv commented on #195
Thanks I can confirm that it worked as expected now.

However is there any way to re-index the keys after deletion?
Let's say we have three items in the array and we delete the item at index 1 (```store('items').del(1)```), in this state we can no longer access item at index 1, I was expecting that the item at index 2 will be shifted up to replace the deleted item like a normal array.

[code]

[2017-01-26 01:02] foxhound87 commented on #195
This because the nested fields are handled with an observable map.

This behavior should be implemented, I'll see what I can do.

[2017-01-27 14:11] foxhound87 commented on #194
I close this issue for inactivity.

Feel free to reopen this if you need more help.

[2017-01-27 14:11] #194 closed, assigned to nobody

[2017-01-27 14:12] foxhound87 commented on #196
I close this issue for inactivity.

Feel free to reopen this if you need more help.

[2017-01-27 14:12] #196 closed, assigned to nobody

[2017-01-31 15:41] dmackerman opened #197 "Fill the gap for unified mode to handle complex structure like separated mode"
Hi there!

Sorry for the long issue, but it's the only way I can explain what I'm trying to do. 😄

I'm trying to create a component that looks like this:

<img width="586" alt="screenshot 2017-01-31 08 31 36" src="https://cloud.githubusercontent.com/assets/289938/22471519/cbf4a2c4-e78f-11e6-8c90-de9086379d58.png">

I've chosen to use the "unified" fields definition, because it seems to make more s

[2017-01-31 16:15] foxhound87 commented on #197
Hi @dmackerman

Your code is ok, and your observation about the **separated props** mode is right as well, in fact when you have a field structure with nested fields, the lib must know the **fields structure** in order to add new fields. I still don't have implemented a way for the **unified props** mode to be automatically aware of the deep fields structure.

[2017-01-31 16:25] foxhound87 commented on #197
Anyway, right now, using **separated props** mode will let you define more complex deep nested fileds array and objects, and better props handling for nested fields as well.

For example the validation props for the array elements, cannot be defined before the fields are created if you are using **unified props** mode, **separated props** mode is required in this case:

[code]

[2017-01-31 16:30] foxhound87 commented on #197
If you want to stick to **unified props** you can also have the opportunity to update the fields props dynamically when the form is initialized, for example:

[code]

[2017-01-31 16:32] dmackerman commented on #197
Thanks for the reply. I'm in the process of debating whether or not I want to write a transformation layer that essentially converts the nested style into the separated style, and then initializing the form with those objects.  Something like...

[code]

[2017-01-31 16:49] foxhound87 commented on #197
Thank you for the suggestion, that's a good starting point.

To be complete it should handle fields recursively (with flat array and array of objects too).

With a proper implementation this can fill the gap for the two modes.

[2017-01-31 16:56] foxhound87 commented on #197
Right now, the lib is doing the opposite of that, this because the **unified properties** reflects the data structure of the form fields **stores**.

Here you can see the [prepareFieldsData](https://github.com/foxhound87/mobx-react-form/blob/c5250a420d04d447e76fb9a2a909a6a590d864c1/src/parser.js#L117) method, which is responsible to create the proper **unified** data structure.

[2017-02-03 15:57] DominikGuzei opened #198 "Validate Field onBlur"
I wonder if it is possible to only validate a field on blur? Or at least to trigger the validate function *also* when the field is blurred. I had to introduce a state variable to make it work:
[code]

[2017-02-03 16:56] foxhound87 commented on #198
You should just use `this.form.$('password').validate()` into the `onBlur()` handler and without the need to use local component state, so you should be able to use the built-in `onChange()`.

[2017-02-04 14:32] foxhound87 commented on #198
Assume we have reimplemented the `onBlur()` handler like this:

[code]

Now we can use the handler in 2 different ways:

**Using Props Bindings Priority:**

[code]

Read more about [Using Default Bindings](https://foxhound87.github.io/mobx-react-form/docs/bindings/default.html) on the docs.

**Using a Custom Bindings Template:**

[code]

Read more about [Defining Custom Bindings](https://foxhound8

[2017-02-04 18:14] foxhound87 commented on #198
I made a [blog post](https://medium.com/@foxhound87/validate-field-onblur-using-props-bindings-in-mobx-react-form-3de48ba00576) as It seems a good case to explain also how to use bindings.

If you are having other issues or something is not yet clear let me know.

I'm closing this issue as it is linked to the [FAQ](https://foxhound87.github.io/mobx-react-form/docs/faq.html) too, Thank You.

[2017-02-04 18:14] #198 closed, assigned to nobody

[2017-02-05 15:35] richieio opened #199 "Toggle component Type error"
Hey Claudio! I've got one for ya :)

I'm using your mobx-react-form nested fields Demo, in rfx-stack. I added more fields to the members[].hobbies[] nested field.

The problem is the field type is not being detected as Boolean unless I set a value for that field. Since it is nested, and I can add more fields, as soon as I click `+` to add a fieldset with the Toggle element, I get props errors beca

[2017-02-05 16:15] foxhound87 commented on #199
Hi @richattack

I replicated your issue, it seems the `defaults` **boolean** are not set for nested fields.

Anyway using `defaults` is not the solution because they are applied only on field `reset`.

For this purpose I will introduce the `initials` object for setting the `initial` prop (which will be structured like `defaults`, not `values`) and also better handling for the `types`/`type`.

I wi

[2017-02-05 16:39] #199 closed, assigned to nobody

[2017-02-05 16:45] foxhound87 commented on #199
This update will only work for **separated props** mode.

The `values` object will take precedence on the `initials` object anyway.

So if you set a `value` prop for a field it will fill its `initial` prop, discarding the `initials` object value.

Example:

[code]

[2017-02-05 20:13] richieio commented on #199
Thanks Claudio!! That was fast! Much appreciation. I am trying it now.

[2017-02-05 21:04] richieio commented on #199
@foxhound87 I am so sorry to bother you again. But the test and fix only works if the initial value is `true`. My toggle components must be initial value of false, which doesn't work with your fix. mobx-react-form still tries to set the value of `"on"` Instead of `false`. which is a string and the component doesn't like it.

[2017-02-05 22:12] foxhound87 commented on #199
No bother!
Hope this fix should work.
Let me know if you encounter other issues.

[2017-02-05 22:16] richieio commented on #199
Yesss you rock!!!

[2017-02-05 22:18] foxhound87 commented on #199
Thanks Richard,
I really appreciate your quick feedback!

[2017-02-06 14:49] faassen commented on #199
When I upgrade from mobx-react-form 1.18.9 to 1.18.11 my form broke and it seems to have something to do with the initial values. It's possible that I did something wrong myself before and this only exposed my bug.

I have a repeating form without initial values. When I add a sub form I get an error that seems to have to do with the initial value switching from the empty string to undefined (I use

[2017-02-06 14:52] faassen commented on #199
In addition with this change I now also get complaints from React that the "value" prop on "input" should not be null.

[2017-02-06 14:54] faassen commented on #199
I tried to fix it by adding initials for my nested subforms setting the values to empty strings. This seems to have no effect. Maybe I'm using initials wrong?

[2017-02-06 15:02] foxhound87 commented on #199
Hi @faassen

Can you provide your form code?

[2017-02-06 16:54] foxhound87 commented on #199
@faassen I replicated your issue, I will fix it asap.

[2017-02-06 17:45] foxhound87 commented on #199
This fix will cover strings, numbers, booleans relying on `initial`/`default`/`value` props and also on `type` prop.

[2017-02-07 16:07] faassen opened #200 "changing a field value based on state of another one (for repeated, nesting field)"
In some cases I want to change the field value (in particular clear it) based on the state of another value.

I think the right way in would be ```form.on('update@state.city',..``` and then use a ```clear()``` on the field I want to clear. But my form is a nested form, and I tried ```form.on('update@repeated[].value', ...``` with no luck: it never seems to fire.

As an alternative I tried to hook

[2017-02-07 16:17] faassen commented on #200
The ``onChange`` won't work because I think these are the default event handlers that mobx-react-form uses to hook up to an input element. But unfortunately ``on`` doesn't seem to work for nested fields.

[2017-02-07 16:34] faassen commented on #200
I think the event system generates a path for the field, but that will always have an index in it in the case of repeated values. There therefore doesn't appear to be a way to listen to repeated values. So I think the event system should normalize paths to strip out indices to make this work.

[2017-02-07 18:13] foxhound87 commented on #200
You should look at this open issue: https://github.com/foxhound87/mobx-react-form/issues/172

If you scroll, there's an example about using mobx **observe** method on the fields, used in conjunction of the package's `forEach()` method that will deeply iterate all fields and nested fields.

I would like to add that as all the fields are **mobx observables maps** they have also special methods as **

[2017-02-07 18:16] foxhound87 commented on #200
You can access the **obsevable map** through the `fields` props in both **Form** and **Field** instances: `form.fields` / `field.fields`.

[2017-02-07 18:23] foxhound87 commented on #200
Or if you need to reimplement the [Event Handlers](https://foxhound87.github.io/mobx-react-form/docs/events/events-handlers.html) you can follow my last blog article:

[Validate Field onBlur() using Props Bindings in mobx-react-form](https://medium.com/@foxhound87/validate-field-onblur-using-props-bindings-in-mobx-react-form-3de48ba00576)

[2017-02-08 09:39] faassen commented on #199
I still get an error when I try to add a subform:

[code]

This seems to be a different error than I got yesterday. Previously one reason for the trouble was before the extractor field was there, but undefined instead of the empty string. Now it seems to be completely absent.

[I thought I posted this yesterday, here it is. I will work on a way to replicate]

[2017-02-08 14:23] foxhound87 commented on #199
This error is not related to the previous issue.

You are trying to select a fields that doesn't exist.

I suggest you to use the [devtools](https://github.com/foxhound87/mobx-react-form-devtools) to check your form structure and fields paths.

[2017-02-08 16:22] richieio commented on #199
Claudio, I did some work with the latest fixes and I've run into this same error when using nested fields. Field not found error when trying to create nested fields. I received this error when using the mbox-react-form-demo nested-fields demo code in the rfx-stack. Maybe it is related to rfx-stack?

[2017-02-08 17:08] foxhound87 commented on #199
I don't think the issue with nested fields is related to the initial values or rfx-stack code.

I released another fix with better initial/default values handling.

At this point I have tried all possibilities, and my tests are ok.

Please share your form configuration.

[2017-02-08 17:26] richieio commented on #199
OK thanks! I will check my configuration and share later today when I get home.

[2017-02-08 18:31] ghost opened #201 "changing form option after init for validateOnChange doesn't work"
If I setup my form using options in extended form class with `validateOnChange : false` and then later use `form.state.options.set({validateOnChange: true})` the option does get changed however form doesn't actually validate on change.

As an example using rfx-stack,

add following to 'src/shared/forms/_.extend.js'
[code]
and add these lines to the onError function
[code]
expected functionality is

[2017-02-09 10:49] faassen commented on #200
Thanks, I'll take a look at mobx itself. I should have thought of that. It's another use case to cover in narrative documentation.

[2017-02-09 12:41] faassen commented on #200
I took a look at using observable, but there is some complexity here in combination with repeated sub-forms.

I can implement an ``onInit`` that uses ``forEach`` to go through all fields, including nested ones. These fields become observable. It's not the most expressive way to make such fields observable (I'd prefer to use the flat specification, like ``bars[].value``), but it could be made to wo

[2017-02-09 12:49] faassen opened #202 "ways to navigate the field tree (with repeating subforms)"
I found myself having to write code like this in a validator, where the validation state of one field is
dependent on another in the same repeating value:

[code]

I now find myself having to write something very similar for another use case: I want to implement an onBlur handler for one field that clears another.

It would be nice to have a navigation API to navigate to the parent field:

[code]

[2017-02-09 12:52] faassen commented on #200
See also #202 where I discuss a way to navigate to the parent field, which would make the signature of the calback simpler.

[2017-02-09 13:19] faassen commented on #202
A bit hacky, but this code works for me:

[code]

But ``state.form`` is an internal I am not sure is safe to use.

[2017-02-09 14:12] lozinsky opened #203 "Negative boolean value does not synced"
**Version: 1.18.13**

Hi, i have field with boolean value.

When i call:
[code]
but i can call:
[code]
This is normal behavior?

[2017-02-09 14:16] faassen opened #204 "fields value converters: parsers & formatters"
To make this question as general as possible: is mobx-react-form about producing submit values that could potentially contain any JS or Json datatype as values, or is it about producing a subset of strings, lists and objects?

Do we want to support field values that are not strings, such as numbers? Is something like that possible now? If you attached a "turn number into string" and the inverse "t

[2017-02-09 15:32] foxhound87 commented on #202
This feature is already implemented, we have the **container()** method which will return the parent field container. I forgot to mention it on the docs, I will update it.

https://github.com/foxhound87/mobx-react-form/blob/master/src/shared/Utils.js#L44

[2017-02-09 15:32] #202 closed, assigned to nobody

[2017-02-09 15:42] foxhound87 commented on #201
This because the mobx `observe` is called once when a field is created.

I will fix this behavior to play well when options changes.

[2017-02-09 15:46] foxhound87 commented on #203
The `sync` method is an **Event Handler**, so normally the first value should be a **Proxy** object. But I made its logic to also change a field value directly, so it should work. I will fix it asap.

[2017-02-09 15:48] lozinsky commented on #203
Thank you.

[2017-02-09 17:44] #201 closed, assigned to nobody

[2017-02-09 17:47] foxhound87 commented on #201
Now should work, let me know.

[2017-02-09 18:36] #203 closed, assigned to nobody

[2017-02-09 18:36] foxhound87 commented on #203
Now should work. Let me know.

[2017-02-09 18:45] DominikGuzei opened #205 "Support for file type"
Hey there,
i'm running into a problem with a custom file select input component that expects an optional instance of `File` for the `selectedFile: PropTypes.instanceOf(File)` prop.

Now i defined a mobx-react-form field with `type: 'file'` and `value: null` for it but it still has a default value of `''` (empty string), which results in an error because the file picker does not accept strings. How

[2017-02-09 19:04] foxhound87 commented on #205
File type is still not supported.

Which component are you using for handling files? is it open sourced?

I have to figure out how to handle this.

[2017-02-09 19:07] DominikGuzei commented on #205
Hey @foxhound87 thanks for the fast respone. It's not open source but just a thin wrapper around [react-dropzone](https://github.com/okonet/react-dropzone)

[2017-02-09 19:11] #205 closed, assigned to nobody

[2017-02-09 19:12] foxhound87 commented on #205
I think this fix should work.

Set the fields props as follow:

`type: 'file'` and **optionally** `value: null` or `default: null`

[2017-02-09 19:18] DominikGuzei commented on #205
Thanks for the ultra fast fix! works like a charm now 😉

[2017-02-09 20:05] foxhound87 commented on #200
The idea of custom observers for each field is very cool.

[2017-02-10 00:55] liveresume opened #206 "How to observe nested field addition"
I want to set an id on a nested field whenever a new nested field is added.
[code]

But nothing happens when I add a job.

[2017-02-10 01:52] foxhound87 commented on #206
In your case you should observe `value` not `$value` because `value` is **computed** when you have array of fields. For this reason is always better to listen on `value` and not `$value`.

Remember that to get the `jobs` field you can just use `form.$('jobs')`.

So in your case just

[code]

and to check events on the observable map itself you can do:

[code]

[2017-02-10 22:43] foxhound87 commented on #184
I tought more about this, and I think we don't need this as we only need one PropType for both the **Form** and **Field** objects. I suggest to use the `observableObject` PropType  provided by the [mobx-react](https://github.com/mobxjs/mobx-react) package.

[2017-02-10 22:43] #184 closed, assigned to nobody

[2017-02-10 22:47] foxhound87 commented on #184
Added to the FAQ

https://foxhound87.github.io/mobx-react-form/docs/faq.html

[2017-02-10 23:26] liveresume commented on #206
That worked to get updates.  However it fires on update of any nested field.

My goal is to have it fire only when a new array element is added.

And it should ideally also run when the form is first created and creates a single nested field by default, ie array index 0.

[2017-02-10 23:53] liveresume opened #207 "Possible reset() bug"
reset() docs say it should "Reset the Form to initial values."

I am trying to reset a nested field to its initial values which I set myself after a successful save.

[code]

[2017-02-11 00:15] liveresume commented on #207
This seems to work well but for one thing:

[code]

Looks like reset() is to defaults, not to initials.

Another possible bug: setting the initial of the nested field item at its own level does not propagate to its children.

[2017-02-11 17:23] foxhound87 commented on #206
The `.fields.observe()` is what you need, It fires on `add`/`delete` of the observable map elements.

[2017-02-11 17:23] #206 closed, assigned to nobody

[2017-02-11 17:33] foxhound87 commented on #207
Yes, the **reset()** method will set the `default` value and not the `initial` value;

I said **"Reset the Form to initial values"** because if you provide the `value` prop, it will become the `default` automatically when the form is created (if a `default` prop is not provided). I will clarify that on the docs.

So you should provide the `value` prop or `default` prop when defining fields on [For

[2017-02-12 12:09] pyprism opened #208 "Rendered readonly input field"
I am just following the quick start tutorial. After the rendering the form can't accept any value. Although, the submit button working, printing the default error message `All form errors Object {username: "The Username field is required.", password: "The Password field is required."}`

Here is my codes:
[code]
[code]

[2017-02-12 14:35] foxhound87 commented on #208
No errors?

The issue could be on the components.
Check if you are using the fileds 'onChange()' handler on the inputs

[2017-02-12 15:24] pyprism commented on #208
updated my issue , please check again.

[2017-02-12 18:08] foxhound87 commented on #208
which version are you using?

[2017-02-12 18:10] foxhound87 commented on #208
I think you are missing the mobx **observer** on you component

[2017-02-13 03:53] pyprism commented on #208
Thanks. Silly mistake

[2017-02-13 03:53] #208 closed, assigned to nobody

[2017-02-13 14:55] foxhound87 commented on #200
I'm working on a different kind of implementations for observers,

something like:

"Use observe() on the selected field, specify the prop key to observe, and the function to execute."

[code]

With this method you can observe not only values but also other properties, like `focus`, `touched`, `changed` and so on...

And If you specify the `key` as `fields`, it will observer the mobx observable ma

[2017-02-13 20:55] liveresume commented on #207
For example if I do:

[code]

The 'name' prop will not be set.  I have to select name and set it specifically.

[code]

[2017-02-13 21:00] liveresume commented on #207
Actually, I need to update the default values dynamically; after form init.
What is working for me now:

[code]

[2017-02-13 21:41] liveresume opened #209 "Show Error Message if Rules are passed without plugins"
Searched previous issues and updated to latest version 1.18.16.

[code]

When I leave fields blank, or with invalid values, and validate:

[code]

Why aren't the rules applied?

[2017-02-13 23:03] liveresume commented on #209
[code]

Rules look like they are passed down, but validate() result is not correct.

[2017-02-14 10:55] pyprism opened #210 "Validation error with 3rd party jquery library"
I am trying to use [this](https://github.com/itsjavi/fontawesome-iconpicker) library . I initialized the plugin in componentDidMount method .

[code]
When I tried to save the form I got following error
`The Icon field is required.`

[2017-02-14 19:42] foxhound87 commented on #207
`form.$('jobs[0].name').set('initial', 'something awesome')` is the correct one because you are trying to update the initial prop of a nested field (and not applying an object `{ name: 'something awesome' }` to the **jobs[0]** `initial` prop.

Alternatively if you provide the object you should use the `set()` method by the **Form** instance:

[code]

Normally the `default` prop will be defined by

[2017-02-14 19:48] foxhound87 commented on #209
Can you try to use the `validate()` method with `.then()` of the normal Promise behavior?

I will replicate your form configuration with the async/await style.

[2017-02-14 19:52] foxhound87 commented on #210
I don't have so much info to understand your issue.

What's the use of the **Icon** Field?

Can it be a minification issue? (Seems like the **$** should be the jquery instance but got the Form instance?)

Show your form configuration please.

[2017-02-14 20:34] foxhound87 commented on #209
The correct use should be:

[code]

[2017-02-14 23:47] foxhound87 commented on #209
or using an if:

[code]

[2017-02-15 00:16] foxhound87 commented on #209
Made Tests (PASSES)

[code]

[2017-02-15 00:19] liveresume commented on #209
using .then() did not work.  I noticed checkValidationErrors is set to false on the models.  After a little hacking and setting to true, it seemed to start working.  What do you think? Why is it set to false?

[2017-02-15 00:25] #207 closed, assigned to nobody

[2017-02-15 00:30] foxhound87 commented on #209
`checkValidationErrors` is a mobx computed value.

It is false if there are errors in the field errors stack.

[2017-02-15 00:31] liveresume opened #211 "Cannot set error on individual (nested) field."
Choose a field then invalidate it with msg.
Note that this is using nested fields.

[code]
However, no error whatsoever is being passed via bind() to the component.

[2017-02-15 00:35] liveresume commented on #209
On a hunch I tried:
[code]

instead of:
[code]
And client side validation now works.  Strange.

Looks like there is some kind of breaking change between 2 approaches.  Maybe make one a simple wrapper around the other to prevent in future?

[2017-02-15 00:40] liveresume commented on #209
Related to my just posted https://github.com/foxhound87/mobx-react-form/issues/211  I am not getting any errors passed down to components.  I know the errors are there due to model.errors()

[2017-02-15 00:40] foxhound87 commented on #209
Hmm, I think you passed the plugins wrong:

this

[code]

to

[code]

The validator wasn't initialized.

[2017-02-15 00:41] liveresume commented on #209
lol, thanks

Maybe we need an error message if rules are passed without plugin?

[2017-02-15 00:41] foxhound87 commented on #211
I think we can close both the issues.

[2017-02-15 00:41] #211 closed, assigned to nobody

[2017-02-15 00:43] foxhound87 commented on #209
Yes, absolutely useful, I will implement it.

[2017-02-15 00:43] liveresume commented on #211
Still having a problem with this one unfortunately.

[2017-02-15 00:46] foxhound87 commented on #211
Keep in mind that the props passed to the `bind()`method should be accepted by the component you are using. the default input tag doesn't accept the `error` prop.

[2017-02-15 00:50] liveresume commented on #211
these are the only props I am getting from bind()

[code]

[2017-02-15 04:09] pyprism commented on #210
Here is my codes:
[code]

[code]
and demo

![demo](https://cloud.githubusercontent.com/assets/1469242/22960282/b03fd8c2-f366-11e6-905d-a1b6ec60c208.gif)

[2017-02-15 06:44] foxhound87 commented on #210
Are you using the built-in onSubmit event handler?

[2017-02-15 06:56] foxhound87 commented on #211
Sorry... What's the issue?

[2017-02-15 06:59] foxhound87 commented on #211
To pass the error prop to the bind method you need to implement a new binding template.

https://foxhound87.github.io/mobx-react-form/docs/bindings/custom.html

[2017-02-15 08:04] pyprism commented on #210
Of course in the submit button.
`<button type="submit" className="btn btn-default" onClick={NewPasswordForm.onSubmit}><`

[2017-02-15 12:07] foxhound87 commented on #210
Why the value is disappearing when clicking the save button?

[2017-02-15 12:31] foxhound87 commented on #210
I think the value is not applied on the field store. Can you check it using the [DevTools](https://github.com/foxhound87/mobx-react-form-devtools)

Maybe you have to get the value from the plugin instance and set it to the field store manually.

[2017-02-15 14:57] #209 closed, assigned to nobody

[2017-02-15 17:24] foxhound87 commented on #210
Probably the jquery plugin contrast the react rendering.
You should try to control the iconpicker from a separate element.
Then the field value should be set manually.

[2017-02-15 19:30] #210 closed, assigned to nobody

[2017-02-15 19:47] foxhound87 commented on #210
Solved?

[2017-02-15 22:34] liveresume opened #212 "null converted to "value""
[code]

Results in values being converted from `null` to `"value"`
Shouldn't it (if anything) convert to an empty string?

And there is another bug, only the first object is being copied!

[code]

[2017-02-15 22:43] liveresume commented on #211
[code]

Is there any way to set them like:

[code]

[2017-02-15 23:04] liveresume opened #213 "How to set error message when required field is missing?"
It seems that setting a 'required' rule does not result in an error message when value is missing.
[code]

How can I set a custom message?

Since everything else results in an error message, doesn't it make sense to add as package default?

[2017-02-16 11:40] fridays opened #214 "Async validation runs twice"
You can see this in the demo, uncomment the `console.log` statement here:
https://github.com/foxhound87/mobx-react-form-demo/blob/master/src/forms/extension/_.async.js#L12
[code]

When the value changes, it happens twice:

[code]

Any ideas?

[2017-02-16 12:17] fridays opened #215 "Pending async validation sets field.error: "validating...""
During async validation, when there is no result yet, field properties are set to:
[code]
That results in flashing error messages:

![mobx-form-async](https://mobx-form-async-nouwbqldym.now.sh/mobx-form-async.gif)

It would be great if there was another property like `isValidating` for this state, and `hasError` and `error`  only get set when an error happened.

[2017-02-16 15:34] foxhound87 commented on #211
you can do that in both ways.

[2017-02-16 15:36] foxhound87 commented on #211
https://foxhound87.github.io/mobx-react-form/docs/api-reference/form-initialization.html

[2017-02-16 15:38] foxhound87 commented on #213
`required` error is working in my case.

To set custom messages depends on the plugin you are using.
We discussed here: https://github.com/foxhound87/mobx-react-form/issues/49

[2017-02-16 15:45] foxhound87 commented on #215
`hasError` depends on the presence of the error messages.

In the moment that we have the error messages as `"validating..."` then `hasError` will be true.

I will deepen this to make a better behavior, the problem is we need another type of loading indicator in the meantime the async call happen.

[2017-02-16 15:46] foxhound87 commented on #214
Noticed it. I will deepen this issue.

[2017-02-16 15:50] foxhound87 commented on #212
What's the field structure?

[2017-02-16 15:59] foxhound87 commented on #212
Replicated. I will fix it asap.

Anyway the `set()` method is not intended to handle array of fields.

If you have array of fields you can use the `update()` method which will handle add/del of nested fields automatically. (I will clarify this on the docs)

[2017-02-16 16:01] fridays commented on #215
That would be awesome. I think `field.isValidating` would be a good fit to the existing field properties.

Thanks for this impressive library!

[2017-02-16 16:12] foxhound87 commented on #214
This is caused from the nature of the [validatorjs](https://github.com/skaterdav85/validatorjs) passes/fails callbacks:

https://github.com/foxhound87/mobx-react-form/blob/38989a0c292d879be3eaa76e47e065eca6f20cff/src/validators/DVR.js#L89

The package forces to use two calls to the two methods (passes/fails) which is firing the promise 2 time. Maybe I should open an issue on the validatorjs repo.

[2017-02-16 18:43] fridays commented on #214
Oh, that's special! I wonder why it's done like this in validatorjs. Would you better recommend one of the other validation packages?

[2017-02-16 19:20] foxhound87 commented on #214
You can handle async validation with js function (VJF plugin which is enabled by default) and using other DVR rules at the same time if you still want to use validatorjs

[2017-02-16 20:21] fridays commented on #214
Thanks. VJF + chriso's validator work great for me.

[2017-02-16 20:48] liveresume commented on #211
thanks

[2017-02-16 20:53] liveresume commented on #212
Do you see any reason `set()` shouldn't handle array of fields?

[2017-02-16 20:54] liveresume commented on #213
What message are you getting?

Try updating to the latest version of validatorjs.  What version are you on?

[2017-02-16 22:52] liveresume commented on #212
I tried it with update() instead but nothing happens.  form.values() are same as before the call.

[2017-02-17 13:31] foxhound87 commented on #213
"validatorjs": "3.11.0"

The message is "The Username field is required."

[2017-02-17 13:40] foxhound87 commented on #212
The **set()** method is intended to be used to change the **properties** of existent/selected fields.

The **update()** method  is intended to be used to recreate a fields tree (add/del fields array) and provide new values.

keep in mind that **update()** accepts only objects, not arrays or other types of values.

In your case you should do:
[code]

I will test the **update()** method with null va

[2017-02-17 15:20] #212 closed, assigned to nobody

[2017-02-17 23:55] foxhound87 commented on #214
Fixed here: https://github.com/foxhound87/mobx-react-form/commit/005d04c7

[2017-02-17 23:55] #214 closed, assigned to nobody

[2017-02-17 23:56] foxhound87 commented on #204
Implemented in [version 1.19](https://github.com/foxhound87/mobx-react-form/commit/005d04c7)

[Converters](https://foxhound87.github.io/mobx-react-form/docs/api-reference/converters.html)

[2017-02-17 23:56] #204 closed, assigned to nobody

[2017-02-17 23:59] foxhound87 commented on #200
Implemented in [version 1.19](https://github.com/foxhound87/mobx-react-form/commit/005d04c7)

[Observe Fields Props](https://foxhound87.github.io/mobx-react-form/docs/events/observe.html)

[2017-02-17 23:59] #200 closed, assigned to nobody

[2017-02-18 00:00] foxhound87 commented on #172
Implemented in [version 1.19](https://github.com/foxhound87/mobx-react-form/commit/005d04c7)

[Events Hooks](https://foxhound87.github.io/mobx-react-form/docs/events/events-hooks.html)
[Observe Fields Props](https://foxhound87.github.io/mobx-react-form/docs/events/observe.html)

[2017-02-18 00:00] #172 closed, assigned to nobody

[2017-02-18 00:03] foxhound87 commented on #178
Presence of the first element of the array should be fixed in [version 1.19](https://github.com/foxhound87/mobx-react-form/commit/005d04c7)

[2017-02-18 00:05] foxhound87 commented on #183
The handling of arrays is improved in [version 1.19](https://github.com/foxhound87/mobx-react-form/commit/005d04c7)

[2017-02-18 00:05] #124 closed, assigned to nobody

[2017-02-18 00:40] foxhound87 commented on #200
Anyway both styles can be used.
You can use the 'observables' initial object as well, this will allow to enable the observables to the new added fields.

[2017-02-18 11:56] #213 closed, assigned to nobody

[2017-02-20 17:00] ghost opened #217 "How to pass form instance to react component"
I'm relative new to React so my experience may be off base.  I was following your example in the README and everything was making sense until "Initialize the form" section.  I couldn't see how MyForm is being used in the following section (Pass form to react component)

https://github.com/foxhound87/mobx-react-form#pass-the-form-to-a-react-component

[2017-02-20 17:35] foxhound87 commented on #217
"_Pass form to react component_" means you can pass the Instance of the Form as `form` prop of the component shown in the example.

Assume the form component file is `MyForm.jsx`, this is the usage:

[code]

You can take a look at the [demo repo](https://github.com/foxhound87/mobx-react-form-demo).

I know it has a more complex configuration, but you can start from a minimal setup as well and scal

[2017-02-20 17:56] ghost commented on #217
Thanks for the quick response.  I'm overwhelmed by all the pieces in the demo.  If/when I can put together a minimal complete working example I'd be happy to share.

[2017-02-21 04:23] ricbermo opened #218 "Material UI SelectField onChange not working"
Hi, I have implemented mobx-react-form successfully in my project but now I'm trying to get a SelectField working.

This is what I have.
[code]

[code]
[code]
and `<MaterialSelectField field={form.$('a_dummy_field')} />`

With this the form, the field and its options are rendered, but selecting one option does not set the value in the select field. Am I missing something?
Thanks in advance.

[2017-02-21 08:13] foxhound87 commented on #218
I think you should reimplement the `onChange` handler:

signature form the material-ui docs:

`function(event: object, key: number, payload: any) => void`

The built-in `onChange` handler is a generic implementation, will not work out of the box for all components, I try to make it compatible with most of standard components implementations.

If it's the case I will make it compatible with the mat

[2017-02-21 09:53] shanielh opened #219 "Debounce validation"
Hi.

I would like to debounce validation since it calls the server side in my case.

Is there a way to do that?

Thanks.

[2017-02-21 11:02] foxhound87 commented on #219
I will implement it.

[2017-02-21 14:57] foxhound87 commented on #219
Release scheduled for the version `1.20`

Branch: https://github.com/foxhound87/mobx-react-form/tree/debounce

[2017-02-21 15:14] ricbermo commented on #218
Ok, where should I reimplement that? On bindings? I am kinda lost now,
Thank you

[2017-02-21 15:28] foxhound87 commented on #218
You can implement a new bindings **template** or if you need a more simple implementation you can pass it to the `bind()` method for that specific component, in your case for the material SelectField should be:

[code]

In [this article](https://medium.com/@foxhound87/validate-field-onblur-using-props-bindings-in-mobx-react-form-3de48ba00576#.tub8zwvdq) I explain both solutions

[2017-02-21 15:44] ricbermo commented on #218
I was writing this comment when github view got updated.
This is what I did.
[code]
Is this way correct?

Thank you so much

[2017-02-21 15:54] foxhound87 commented on #218
Yes, all good.
But you don't need `field.validate()` into `onChange`.
The package has a validation observer already active on each field `value`.

`field.set( ... )` is a shortcut of `field.set('value', ... )`.
This only for 'value' of course, changing other props you must specify the name.

[2017-02-21 16:03] ricbermo commented on #218
Awesome, thanks
BTW: `field.set(payload)`, in my case, is not working, what is working is `field.set('value', payload)`.

[2017-02-21 16:08] foxhound87 commented on #218
Payload is an object in your case?

[2017-02-21 16:11] ricbermo commented on #218
No, it's a string, what the SelectField onChange function returns

[2017-02-21 16:24] foxhound87 commented on #218
That's weird, it is tested.

[code]

if you can provide your form configuration I will test that too.

Thank You.

[2017-02-21 16:39] ricbermo commented on #218
I basically copy pasted your material register from the demo repository.

[code]
I omitted some code like the `import` and  `export`

[2017-02-21 16:50] foxhound87 commented on #218
It should work, I will deepen this. Thank You so much

[2017-02-21 16:51] ricbermo commented on #218
@foxhound87 payload is a `number`. In my fields for the User I have
[code]

[2017-02-21 16:51] foxhound87 commented on #218
That's why 👍

[2017-02-21 16:55] ricbermo commented on #218
so, do I have something wrong there?

[2017-02-21 17:06] foxhound87 commented on #218
No, it's a bug. I'm fixing it.

[2017-02-21 17:17] #218 closed, assigned to nobody

[2017-02-21 17:17] foxhound87 commented on #218
Update the package and should work now!

[2017-02-21 17:33] mwarger commented on #197
Thanks for looking into this.  I am also looking forward to using the unified field structure, and was dismayed when I realized that onAdd would not work in that case.  Filling this gap will be a great addition.

[2017-02-21 17:35] foxhound87 commented on #218
Another fix was needed because I ended up refactoring all the set() method.

If you can't update the value with `field.set( ... )` use `field.value = ...`

[2017-02-21 17:38] ricbermo commented on #218
got it, thanks.

EDIT: `field.set( ... )` still not working `field.value =`does work but it also worked before updating the package

[2017-02-21 17:59] foxhound87 commented on #197
HI @mwarger

Right now the big issue is that with the unified mode you cannot specify deep nested fields, for example, if I have an array of objects. But I will figure it out!

[2017-02-21 22:37] liveresume commented on #213
looks like the update fixed it

[2017-02-21 22:42] liveresume commented on #212
The null value conversion has been fixed, however there are still 2 issues:

[code]

Only sets the first field.

And the same but with update() does not do anything at all!
[code]

However calling it on form works fine:  `form.update({ jobs: res })`

I need it to also work on a selected child, please allow for something like:
`form.$('people').update([...])`

[2017-02-22 00:38] foxhound87 commented on #212
Yes, the update() method needs a change, I will make it.

'set()' should fill only the existent fields.

[2017-02-22 11:38] faassen opened #220 "allow custom variables to be attached to form for use by validators. (extra)"
I have a custom validator function, and to do the validation I need some external information that isn't known when the validator function is defined yet. It could be passed into MobxReactForm just in time though, as this is created just before it's needed, just like the form values. I could create a subclass of MobxReactForm just so I can maintain this extra information, but this seems overkill.

[2017-02-22 11:44] faassen commented on #220
Something equivalent of "form.update" would also be handy for this use case.

[2017-02-22 12:55] foxhound87 commented on #220
You mean in the VJF plugin or others plugins too?

Can you better explain the reference to the update method? You mean a method to update this additional data inside/outside the validation functions?

[2017-02-22 18:29] foxhound87 commented on #217
This issue can now be found on the [FAQ Section](https://foxhound87.github.io/mobx-react-form/docs/faq.html)

[2017-02-22 18:29] #217 closed, assigned to nobody

[2017-02-22 18:30] foxhound87 commented on #219
Implemented in version [1.20](https://github.com/foxhound87/mobx-react-form/releases/tag/v1.20.0)

[2017-02-22 18:30] #219 closed, assigned to nobody

[2017-02-22 18:30] foxhound87 commented on #215
Implemented in version [1.20](https://github.com/foxhound87/mobx-react-form/releases/tag/v1.20.0)

[2017-02-22 18:30] #215 closed, assigned to nobody

[2017-02-22 20:46] mwarger commented on #219
@foxhound87 - I updated to this and I'm getting an error that says setTimeout is not defined.  I haven't yet looked into why this is happening.

[code]

**Edit**:   I've confirmed this (at least in my environment) by downgrading to 1.19.2.  Everything worked after purging node_modules and running npm install.  Seems to be a bug in the debounce functionality added with 1.20.0.

[2017-02-22 21:14] pdfowler opened #221 "Can't get field to update/recognize changes in controlled form"
## Problem:
Can't edit values - they revert to  the initial value after every keypress

I'm pulling my hair out on this issue, which should be pretty simple - but I can't get it to work. Disclaimer: I'm fairly new to react, but am otherwise a capable engineer with over 10 years of experience with many languages/platforms/frameworks, most recently AngularJS.

## Stack:

* mobx-react-form v1.19.2
*

[2017-02-22 22:16] foxhound87 commented on #221
I think you are missing the mobx-react **observer** decorator on your components.

[2017-02-22 22:21] pdfowler commented on #221
Here's what I've got right now:

[code]

and by adding `@observer` to `PostCreateModal`:
[code]

The values change! 😅

... now to check the rest of the behaviors

[2017-02-22 22:22] foxhound87 commented on #219
The error is related to the debounce function for validate introduced in the new 1.20 version.
It seems an error in lodash, but can't understand more from this output.
Can you show the full error stack trace? Afterwards also your form config could be useful.
Thank You.

[2017-02-22 22:31] foxhound87 commented on #221
I will put a warning in the docs about the observer decorator for those who are new to mobx.

[2017-02-22 22:34] pdfowler commented on #221
Thanks for the quick help! That did the trick. I'm planning on packaging up a PR for the rfx-stack to include a basic example to add more CRUD functionality to the baseline. Seems like having a details view + editing functionality fits well into the boilerplate. I'll ping you with updates shortly from that repo!

[2017-02-22 22:34] #221 closed, assigned to nobody

[2017-02-22 22:35] foxhound87 commented on #221
About developing on RFX, I suggest you to use React classes only for containers.
Keep the other components as stateless function, pass the props, and leave the mobx flow happen :D

[2017-02-22 22:39] pdfowler commented on #221
I'll take that into account as I put together a PR

[2017-02-22 22:43] foxhound87 commented on #221
If you are planning a PR to RFX, about the details editing view, consider using [react-dock](https://github.com/alexkuz/react-dock), I'm using it in my projects for this purpose, so you have more space for the form and also optional content preview, more flexible than using a traditional modal. Maybe I can share some code.

[2017-02-22 22:45] mwarger commented on #219
I will try and pull that up for you some point soon.  I had to downgrade and move on for now.

FYI - I was not using the debounce functionality and have not looked into how - I am not using anything but basic DVR at the moment.

[2017-02-22 22:49] foxhound87 commented on #219
The debounced validation has been introduced as default behavior.

[2017-02-22 22:51] foxhound87 commented on #219
Try to set the `validationDebounceWait` option to `0`. (it should disable debouncing for the moment)

[2017-02-23 04:25] mwarger commented on #219
I will give that a try.  Thank you.

[2017-02-23 11:47] faassen opened #222 "bug in onAdd/isEvent?"
In Base.js:

[code]

This passes ``val``, which can be ``null``, into ``utils.isEvent``. This reads as follows:

[code]

This returns true if ``obj`` is an instance of the event, or if ``obj.target`` is not nill. But what happens when ``obj`` is ``null``? It would fail because ``null.target`` doesn't work.

I'm trying to debug a bug that seems to hit this, and it only shows up when I do a producti

[2017-02-23 11:56] faassen commented on #220
I run into this with the function-based validators (not strictly a plugin, right?). I'm not sure it is relevant to other validators. The function based validators are the most flexible, and I have validation rules that depend on the state of the form and external validation data that is loaded from the server. A combination of this information depends on whether a validator fails or succeeds.

I r

[2017-02-23 12:06] faassen commented on #222
Okay, I *can* now replicate this bug in the development build as well.

I don't get it during development when I do ``onClick(field.onAdd)``, but when I do ``onClick(e => field.onAdd(e)`` it occurs in production builds and dev builds. In some other situation where I
bind ``onAdd`` to another object and then use that I get the error only in production builds and not in development builds.

A workar

[2017-02-23 13:19] foxhound87 commented on #218
set() not working yet?
What's the input value?
Show me also the form structure please, it is relevant for setting nested fields values.

[2017-02-23 16:11] mwarger commented on #222
I'm encountering this as well with 1.19.2.  Calling field.onAdd gives me ```Uncaught TypeError: Cannot read property 'target' of null```

@faassen Thank you for the workaround, that did the trick.

[2017-02-23 16:16] ricbermo commented on #218
The value is just  number, like 1 which comes from here
[code]

What do you need specifically? I think I have shown you all the relevant code 🤔

[2017-02-23 16:50] foxhound87 commented on #218
I need the fields definitions.

[2017-02-23 16:51] foxhound87 commented on #218
it's only that select_field?

[2017-02-23 16:51] foxhound87 commented on #222
I will deepen this issue and fix it asap.

[2017-02-23 16:54] ricbermo commented on #218
I'm so sorry @foxhound87 I tried again, just updated the package version to `1.20.0` and now this is working
[code]
where payload is the actual value returned from SelectField. I was my mistake.

Thank you so much

[2017-02-23 17:02] foxhound87 commented on #218
Great to know :)
thank you for your feedbacks!

[2017-02-23 17:24] #222 closed, assigned to nobody

[2017-02-23 17:26] foxhound87 commented on #222
Thank you guys.
Should work now,
let me know if you encounter other issues.

[2017-02-23 17:32] foxhound87 commented on #220
The VJF is a plugin driver which is active by default (I'm planning to separate the plugins drivers into separate packages in the future). But I need to think more about on your request and read your message more times to get a better vision of what you need. If you can provide a pseudo-code of what you need would be helpful. Thanks.

[2017-02-23 17:55] foxhound87 commented on #220
Anyway, I think that extending the form with an extra `validationData` prop and creating setter/getter methods for this prop, then access the form your validation function:

[code]

I know, accessing the **Form** instance from the VJF function is not documented but this is already available, I will update the docs.

If you need you can disable `validateOnInit` and execute the validation manually a

[2017-02-23 20:18] faassen commented on #220
I know I could subclass form to solve this, but I've avoided subclassing so far, and I have a very complicated form. I think it is a general use case that a validator function needs access to validation data that is dynamically determined . Right now I get this dynamic data from a global store, but it would be cleaner if I could pass this in explicitly (as I really want to get this store in a prop

[2017-02-23 20:35] foxhound87 commented on #220
So, this feature can be called 'customData' (I don't find a better name, ideas? Should be generic) as a prop to pass to the constructor with initial data and custom getter/setter functions.

[2017-02-27 08:58] elazer opened #224 "Props names collision with fields names"
Here's a sample of how I got this error, modifying code from the test and running it to reproduce this error:

[code]

Running the test would fail when trying to select .name and .type respectively.
Error: The selected field is not defined (member.info[1].name)
Error: The selected field is not defined (member.info[1].type)

[2017-02-27 18:07] foxhound87 commented on #224
Still some props name collisions, thank you for reporting this.

[2017-02-27 18:12] foxhound87 commented on #224
Other reserved props name which cause error:

'value', 'initial', 'default', 'label', 'placeholder', 'disabled', 'related', 'options', 'bindings', 'type', 'error'

[2017-02-28 02:44] elazer commented on #224
Alright, then I will just rename the fields with a prefix or suffix to get it working for now.

[2017-02-28 12:55] faassen commented on #220
customData sounds good to me, just a generic mechanism to hook up some data to the form.

[2017-03-02 03:43] pdfowler opened #225 "Mixed Mode values fallback"
I'm trying to implement a simple name + address form, following the guidelines in the docs/guide, but after a single successful run, I can't get it to work.

Here's what I'm working with:

### Base Object:
[code]

### Field Defs:
[code]

### myForm.js
[code]

## Repro:

1. initialize the form with: `newForm = myForm.init(user)`
1. the "name" field is correctly populated : `newForm.$('name').value

[2017-03-02 10:36] faassen opened #226 "field.container() returns undefined"
I tried to use the ``container`` method to get the container field for a parent, in order to select a sibling field. This didn't work however. I have a nested field, ``foo.0.bar``. ``container()`` on that returns ``undefined``. I tried running it through the debugger, and saw the regular expression do absolutely nothing to the path ``foo.0.bar``, and then pass it into ``select``, which proceeded t

[2017-03-02 10:49] faassen opened #227 "observe/observers arguments inconsistency"
I just read https://foxhound87.github.io/mobx-react-form/docs/events/observe.html

At first I was disappointed as ``data`` is not enough for my use case for ``observers`` (using nested fields); I also need the field in order to construct a sibling field, and since it's documented for ``observe`` I tried ``({field}) => `` but it did not work; I got undefined for ``field``.

When I examined ``data``

[2017-03-02 11:02] faassen commented on #227
I've now used the observers API and it works nicely, thank you so much!

I do have a new suggestion for ``observers``: to allow users to put in a single object instead of always arrays, to reduce verbosity in the API.  So this:

[code]

I've tried this but it doesn't seem to work -- it just does nothing.

My use case is to listen for ``value`` changes. If this turns out to be the common use case,

[2017-03-02 11:18] faassen opened #228 "converters don't do anything for forms with values"
I just tried to make the converter story work. But for a form that is initialized with "values" it actually doesn't do anything -- the parse and format logic doesn't kick in at all. Only for a form where values is undefined does this work.

[2017-03-02 12:06] faassen opened #229 "parse and format confusion (and wrong API?)"
In the API docs you write:

    parse: from input to store.
    format: from store to output.

I think by "input" you mean the values parameter that goes into the form object.  By "output" you mean what I get when the form is submitted.

It doesn't seem to work properly (#228).

Then you give example where a *number* is parsed, and a string is formatted. But that's the wrong way around.

I think t

[2017-03-02 18:37] foxhound87 commented on #225
In the meantime you can use the separated fields mode defining mutliple object like this:

[code]

[2017-03-02 19:13] foxhound87 commented on #226
This is weird, I'm using [this code](https://runkit.com/foxhound87/57ff732068352c0014597037) to manipulate the field path (which is working pretty well), but the same code doesn't work well in the package, I have to deepen this.

[2017-03-02 19:41] #226 closed, assigned to nobody

[2017-03-02 19:41] foxhound87 commented on #226
Now `container()` should work as expected!
Thank You!

[2017-03-02 19:53] pdfowler commented on #225
That did the trick! Thanks

An additional note on the repro: When the form rendered, the address (nested) fields would render with `"[object]"` as the value.

[2017-03-02 20:11] foxhound87 commented on #225
That because the `address` field contains nested fields (as props), so its `value` prop is computed with the nested values as object.

[2017-03-02 20:21] foxhound87 commented on #228
Can you post some code example please?

[2017-03-02 20:33] foxhound87 commented on #227
The callback doesn't have the field because I wrongly used `$field` as prop and not `field`.

`$field` will be removed in the next 1.21 version.

Anyway it has `form` and `path` and you can select it: `form.$(path)`.

I'm releasing a fix for this.

About using different style for defining the observers, I don't think I will implement it for now, but we can reopen the issue in the future when I imp

[2017-03-02 20:34] #227 closed, assigned to nobody

[2017-03-05 01:19] carbureted opened #230 "Demo currently not functional"
Sends a 502 with an error page.

https://mobx-react-form-demo-kwpocgnjxa.now.sh/

[2017-03-05 06:08] ghost opened #231 "Dynamic validation rules"
Consider a form with one dropdown list and one text input.  I want validation rules for the text field to be dynamically assigned depending on the selected dropdown.  Let's say the dropdown has 2 values, Alpha and Numeric.  I want to assign "required|alpha" or "required|numeric" to the text field depending on what is being selected. Any advices would be appreciated.

[2017-03-05 11:40] #231 closed, assigned to nobody

[2017-03-05 11:42] foxhound87 commented on #231
Hello @vietnugent
I made a fix for your case,
now you can use the `set()` method on the field to edit the validation properties dynamically:

[code]

[2017-03-05 11:51] foxhound87 commented on #230
Hi @carbureted

Thank you for reporting this.

I updated the link:

https://foxhound87.github.io/mobx-react-form/demo.html

[2017-03-06 10:12] nuschk commented on #204
@foxhound87, for some reason (I'm having multiple forms of the same class on the same screen), I'm setting the form's initial values after the form is constructed.

    form.set(initials);

Now, with converters, I need to pass in the parsed value here, correct?

Is there a better way to do this?

*Edit*: I just realized I can intermingle separate fields definitions with unified ones, so I'm able t

[2017-03-06 12:30] foxhound87 commented on #204
Hi @nuschk

The parser is not working when using `set()`? I can make a fix for this.

Anyway using the constructor is better to initialize forms data.

[2017-03-06 14:45] nuschk commented on #204
Hey, thanks for your fast reply. Well, from my point of view that would make sense, as you'd expect the model to operate on parsed values. But then again, I'm still working on my first form with mobx, so I don't really know what that implies, nor if it reflects the general architecture.

I changed my code to use the constructor, so no problem for me.

Your decision I guess!

[2017-03-06 15:47] foxhound87 commented on #229
I understand your point of view.

The problem is we need to manipulate data in different situations:

- when the form is initialized with initial data
- when the user change the data in the inputs
- when the user retrieve the data
- when we need to validate the data

then another problem is the Field `value` (which is a mobx computed) which can be a different type for each of the situations in the

[2017-03-08 19:02] foxhound87 commented on #225
This issue occurred because you used some sort of "**mixed mode**" (using the **separated** mode in conjunction with the **unified** mode), and this kind of use is not tested by me, but it is much interesting to be considered as a future feature.

Only for more information: If you are not using **separated** mode, the **unified** mode will work defining the values in the **fields** object or with

[2017-03-10 06:50] ghost commented on #231
Can you please provide some context how to use the API?  Something like this?
[code]

[2017-03-10 10:51] foxhound87 commented on #231
You don't need to extend the field, you can use set() on the field instance itself when you need it, you should use it for example in the onChange(e) of another field (that's your case I think)

[2017-03-10 10:59] foxhound87 commented on #231
You can find some good approach reading this article: https://medium.com/@foxhound87/validate-field-onblur-using-props-bindings-in-mobx-react-form-3de48ba00576?source=linkShare-53ff86cf2063-1489143331

It shows the use of onBlur() with validation, but you can use onChange() passing another field to it, then follow the steps about the props bindings.

[2017-03-13 14:05] foxhound87 commented on #229
Anyway, I should first invert the parse/format functions.

[2017-03-13 14:14] foxhound87 commented on #229
A solution can be to apply **format** on a new `display` computed prop and apply **parse** on the current `value` computed prop. Then we can use `display` to rewrite the props bindings for the components value.

[2017-03-14 15:54] mwarger commented on #230
This seems down again.

[2017-03-15 13:56] faassen commented on #229
Here is how I see it (it may be wrong):

Data you see in the form is mostly strings.  This data is retrieved by the user for display, and it is given back to the user when an onChange happens.

Currently mobx-react-form allows you to validate those strings. That makes sense.

New would be the parsed (or **converted**) data. You may want to apply another validator to converted data when it's more c

[2017-03-15 14:03] faassen commented on #229
So concretely: ``value`` would be the calculated value. ``display`` would be the formatted value. By default it's all strings, but the user can plug in a ``parse`` function for the field to change the behavior. The user can also plug in a ``format`` function. (it's recommended to implement both).

"values" when inputted into the form are in parsed format. When you get them out again upon submissio

[2017-03-15 15:21] nuschk opened #232 "Storing objects in a field?"
Not so much of an issue, more a question: I'd like to store lists and objects in a field, is that possible?

For example, we have image uploads which always come as `{ uid, caption, url }` object. We have single image uploads (e.g., a profile photo) or lists of uploads (e.g., photos on a blog post), which can be edited (i.e., adding, removing, changing the caption) in a form.

It doesn't work sett

[2017-03-15 19:14] foxhound87 commented on #232
If you handle a single image you can use the **unified mode**.

[code]

if you need a form with a list of images you need **separated mode**:

[code]

then you define the `values` object separately.

Can you explain better your issue about "serializing the array or object to JSON" thanks.
What's the "inconvenient" part?

Thank You.

[2017-03-15 19:26] nuschk commented on #232
Ah, thanks, will try that (though, for some reason, I like the unified mode better, so I'm a bit sad to be required to use separated mode.. :-), but I will try!). Thanks for your detailed response!

Regarding inconvenient: Well, might also be I'm wrong, but I think I first need parsers for each of those fields:

[code]

Second, where I would usually use `form.$('images').value` (to render some pre

[2017-03-15 22:47] foxhound87 commented on #232
Thank you for the code example

[2017-03-17 14:05] dayio opened #233 "A bit of help needed !"
Hello,
I'm not new to React / Mobx or JS but i've found that most examples seems are not clear to me.

i mean, i like to dig into the demo code / source code to understand how things works, but, even with the quick start section or in the documentation, i wasen't able to use or set up any single form.

it's not the code, it's where the code is supposed to be.
in my case i've thinked about somethin

[2017-03-17 16:35] foxhound87 commented on #233
Hi @Bouhnosaure

I don't think the dollar sign is a problem for the compilation, it seems you are not using the form instance correctly, you can do a `console.log(form)` to check.

Have you read the [tutorial](https://medium.com/@foxhound87/automagically-manage-react-forms-state-with-mobx-and-automatic-validation-2b00a32b9769#.z512kz9il)? It's a step-by-step guide to setup a minimal form with a si

[2017-03-17 17:28] dayio commented on #233
Hello @foxhound87 !

Yes i've read it ( that's why i've talked about where do i put things )

this is the screen capture : http://prntscr.com/el6sr1 with the `console.log(form)`

[2017-03-17 18:00] foxhound87 commented on #233
That's an [empty object](http://i.imgur.com/XKBSNdn.png).

The reason is you are using different files/modules, so you need to export the instance in your `form.js` file:

`export default new LoginForm({ fields }, { plugins });`

[2017-03-17 18:18] #233 closed, assigned to nobody

[2017-03-17 18:22] dayio commented on #233
Refresh the page :p (different image)

I've finally manage to get things working, i've a form i can submit things it's okay :)

My last question now is about using the methods onSubmit or init. i've seen the [examples](https://github.com/foxhound87/mobx-react-form/issues/120#issuecomment-257164502) that you've put some logic in the form's classes, is it a good practice ?

I mean, if i've to create

[2017-03-17 18:55] foxhound87 commented on #233
Thank you for reporting the typo.

I don't know if I understood your problem, but if you are creating a CRUD, I think it's better to use the **separated mode** for defining fields so you can pass the `values` object on form initialization if you need to populate it, otherwise use the `update()` method if you need to change the form data.

You don't need to put more logic in the form class until yo

[2017-03-17 19:30] dayio commented on #233
Okay i see now,

i've read about [decoupling-handlers](https://foxhound87.github.io/mobx-react-form/docs/events/decoupling-handlers.html). i've talked about that because i wanted to separate "actions" ( like loading the data / handle submit / ... ) and the behavior of the form itself.

Thanks for your explanations !

[2017-03-17 19:45] foxhound87 commented on #233
If you want more control and decouple stuff, I suggestion you to read how to define custom bindings, so you can add different handlers for each bindings

[2017-03-17 20:28] dayio commented on #233
Thanks !

I've seen this in the demo project, but i thinks i'll stick on basic things, but i think, maybe i will have some trouble with loading data into `<select/>` items ( maybe not )

Also i let a [screenshot](http://prntscr.com/el8xu0) a working example ( simple ) with external binding and initial data

[2017-03-20 10:00] zhaoyi0113 opened #234 "How to make component observe on form data?"
My parent component includes a `form` data as below:

[code]

Below is the `Input` component code:

[code]

when I change the value of the input, my `parent` component doesn't got rendered. How can I make my current component listen on the form state change?

[2017-03-20 10:04] zhaoyi0113 opened #235 "How to make two form fields dependent on one another?"
I have two form fields and one has a dependency on the other. When I update a field value, the other field value need to be changed accordingly. How can I make this dependent between fields?

[2017-03-20 12:39] foxhound87 commented on #234
Have you decorated the parent component with mobx `observer` too?

[2017-03-20 12:58] foxhound87 commented on #235
You can use [observers](https://foxhound87.github.io/mobx-react-form/docs/events/observe.html) in conjunction with the `set()` method.

[code]

[2017-03-20 13:44] foxhound87 commented on #219
@mwarger any updates on the debounce error?

[2017-03-20 13:51] foxhound87 commented on #173
Hi @truztee

I'm sorry, I noticed your message just right now.

You can find an example in this issue: https://github.com/foxhound87/mobx-react-form/issues/235

In your case you need to concatenate the values in the `set()` method when using the `observers`.

I will post a blog article in the future to explain in details how to use the observers.

Thank You.

[2017-03-20 22:11] zhaoyi0113 commented on #235
I tried to use obervers but it doesn't trigger the call function. Below is my Form class:
[code]

It observes the value of hostRadio field. Below is the hostRadio component. It set the value on `onChange` function. I can see the when I click on the `Radio` button, the value got changed but the call function defined in `ProfileForm ` didn't get called.

[code]

[2017-03-20 22:13] zhaoyi0113 commented on #234
Yes I did that. In my parent component I used `@observer` like below. Is this the correct way to do with `mobx-react-form`? This decorator works fine for my mobx store states but it doesn't work with `mobx-react-form` data state. Do I need to add additional decorator for that?

[code]

[2017-03-20 23:58] foxhound87 commented on #230
re-fixed

[2017-03-20 23:58] #230 closed, assigned to nobody

[2017-03-21 00:02] foxhound87 commented on #234
I don't have the whole picture of your code, can be anything. Your component should be stateless since mobx is handling the state, form what I can see, you can try to pass the form as prop instead using `this.form`.

[2017-03-21 00:03] foxhound87 commented on #235
What is the Radio component?

[2017-03-21 00:05] zhaoyi0113 commented on #234
I have a global mbox store which my component is connecting to.  And now my component need to connect to `form` state as well. How can I do that? I tried `this.form.observe` method the call function didn't get call. Is there another way to do the connection?

[2017-03-21 00:05] foxhound87 commented on #235
What is the Radio component?
Is it a custom component or is it from a lib?
Can you post its implementation?

Thanks.

[2017-03-21 00:08] foxhound87 commented on #234
I think your component is not reacting to the mobx changes, so the `field observer` will not work even.

[2017-03-21 00:08] zhaoyi0113 commented on #235
The Radio is a component from `blueprint/Radio`. Below is the code:

`import {Radio} from '@blueprintjs/core';`

You can find it from this link: http://blueprintjs.com/docs/

it is just a wrapper of `<input type="radio">`.

[2017-03-21 00:11] foxhound87 commented on #235
So I suppose it doesn't work with the built-in `onChange` handler.
If so I can help you to implement it.

[2017-03-21 00:11] zhaoyi0113 commented on #234
Here is my component code. I created the `ProfileForm` which extends from `MobxReactForm` on its constructor. Is this wrong?

[code]

[2017-03-21 00:16] zhaoyi0113 commented on #235
that's would be great. In stead of using build-in `onChange` handler, what is the other way to handle the change?

[2017-03-21 00:17] foxhound87 commented on #234
As you are injecting the store with `@inject('store')`, try to create the form into the store, then in the component access for example `this.props.store.form`.

[2017-03-21 00:17] foxhound87 commented on #235
There's no other solution than creating a custom handler.

[2017-03-21 00:19] zhaoyi0113 commented on #234
yes I am using `@inject('store')`. Put form into that store should work but I don't want to do that since the form states are temp values which should not be saved into global store. Is there a way for me to use internal store of the form only inside my component?

[2017-03-21 00:20] zhaoyi0113 commented on #235
Do you mean I create a separate handler and then call this handler from the `build-in` handler?

[2017-03-21 00:21] foxhound87 commented on #234
So why not creating another store? Then pass it with `@inject('store', 'form')`

[2017-03-21 00:23] zhaoyi0113 commented on #234
Yup, that should work. Thanks.

[2017-03-21 00:23] #234 closed, assigned to nobody

[2017-03-21 00:27] foxhound87 commented on #235
No, I mean, to create a complete new `onChange` handler dedicated for that particular component.
Then use [bindings](https://foxhound87.github.io/mobx-react-form/docs/bindings/) with `Properties Overwrite` or creating a `Custom Template`.

[2017-03-21 00:42] zhaoyi0113 commented on #235
Ok that sounds good. Thanks for your help.

[2017-03-21 00:42] #235 closed, assigned to nobody

[2017-03-21 03:41] zhaoyi0113 opened #236 "How to add more functions on extended Form class"
I created a Form class extends from `MobxReactForm` and I am able to extend `onSuccess(form)` and `onError` functions when users click the submit button. I am going to create more buttons on that form and how I can add more functions to support these buttons. As an example, I added below buttons on my form component. The first two works fine but the third one(`form.onTest`) doesn't work well. Is t

[2017-03-21 03:57] zhaoyi0113 commented on #173
Does `reaction` work as same as `observers`?

[2017-03-21 09:59] foxhound87 commented on #173
@zhaoyi0113

The mobx docs says:

**observe** can be used to monitor the changes of a single observable (they don't track nested observables).

**reaction** is a variation on autorun. Unlike autorun the side effect won't be run directly when created, but only after the data expression returns a new value for the first time. The side effect will only be triggered when the data returned by the expre

[2017-03-21 10:11] foxhound87 commented on #236
You can do that, but you need to create an event handler and not a simple function, like in [this example](https://github.com/foxhound87/weather-forecast-react-app/blob/26bef3e63b7734ab26b8bf2e91e5b1cd846f16be/src/forms/Search.js#L52) using **autobinding** which usually should take the `Proxy` object in input:

`onTest = (e) => { ... }`

You can read more on the [events handlers](https://foxhound8

[2017-03-21 15:45] adlk opened #237 "TypeError with validationDebounceOptions"
I've stumbled over something when setting the Form option `validationDebounceOptions.leading` to false to start validating _after_ I've entered most of the field data.

When submitting the form, I receive the following error:
[code]
When I submit the form a second time, it just works. I'm not sure if I'm just doing something wrong or if this is actually a bug. Setting `leading` to true (default va

[2017-03-21 16:22] foxhound87 commented on #237
The better is to leave the lodash debounce options as they are. I tested only this configuration. The others configurations can be dangerous to use and many test didn't passed using other config.

Anyway, thank you for reporting this, I will investigate further.

[2017-03-21 16:52] adlk commented on #237
@foxhound87 thanks for your answer. What would be your advised way to wait before showing errors when editing an input?

What I want to achieve is e.g. when the user enters an email address that the error isn't shown immediately (since he is still typing and has just started to type `foo@`). Basically something like validate field on blur.

[2017-03-21 23:24] zhaoyi0113 commented on #236
I have tried that as below:

`<button className="pt-button pt-intent-primary" type="button" onClick={form.onTest.bind(form)}>Test</button>`

I have to put `form.onTest.bind(form)` on the `onClick` function in order to access `this` in `onTest` function. Is this correct way to do that?

I see in your example, you can access the value directly from the `onChange(values)` parameter as below. How did

[2017-03-22 15:05] foxhound87 commented on #236
You should be able to access the Form or Field instance using `this` when you define a method inside the class.

It seems like, when you used the method, maybe you assigned it to a prop of another object, or if you are using React classes take a look at the [autobinding on the docs](https://facebook.github.io/react/blog/2015/01/27/react-v0.13.0-beta-1.html#autobinding), `bind()` can be avoided in

[2017-03-22 15:29] foxhound87 commented on #237
This is not yet handled by the package, I will find a solution.

[2017-03-22 23:33] zhaoyi0113 commented on #236
Yes I got a Proxy object as the parameter. How can I make it to be a real parameters? I have checked your example and you can access the `values` directly in the `onChange` method. I looked into your code but didn't find the right place. How did you make that happen on your code?

[2017-03-23 08:56] foxhound87 commented on #236
You can get the real value from `Proxy` with `e.target.value`.

The link of the example code shows the using of **autobinding** and it has already the `values` and not the `Proxy` because it is the custom handler of the `react-select` package which is implemented differently.

[2017-03-23 09:26] zhaoyi0113 commented on #236
That makes sense. Thanks.

[2017-03-23 09:26] #236 closed, assigned to nobody

[2017-03-23 16:32] foxhound87 commented on #227
@faassen with the new update you can pass only the callback, the default key will be `value`.

[2017-03-26 09:48] mxmtsk opened #239 "Parent does not update"
Hey,

In my Login Component I have the folowing code where I pass a field down to a specific input component. When I type in the input and submit the form, the email field returns undefined although I have a value.

Did I miss something here? Shouldn't the parent get updated with the value?

[code]

Input.js
[code]

[2017-03-26 10:17] mattanbi opened #240 "Dynamic Fields: Create new Fields with add()"
We use mobx-react-form for our forms. One of our forms has a multi select dropdown. according to the selection, fields are added / removed from the form. How can this be managed in mobx-react-form?

[2017-03-26 13:10] foxhound87 commented on #239
Have you decorated all your components with mobx-react observer?

[2017-03-26 13:13] mxmtsk commented on #239
Hi @foxhound87,

yes, my Component and the Input Component do have the observer:

[code]

[code]

The LoginForm does not have the observer, but doesn't need it anyway right?

[code]

[2017-03-26 13:13] foxhound87 commented on #240
You should use the `.add()`/`.del()` methods if the fields are treated as array elements.

What's your fields structure and which fields you need to add/remove ?

[2017-03-26 13:33] foxhound87 commented on #239
No need observer on the Form instance

[2017-03-26 13:40] mxmtsk commented on #239
So everything is correct the way I set it up?

[2017-03-26 13:52] foxhound87 commented on #239
It seems ok, I don't know if you are using all the decorators in the correct order (you are using for example also `withStyles`). Try to simplify things using a functional component for the field.

[2017-03-26 14:22] mxmtsk commented on #239
Nevermind... I got confused with my own code, thanks for the help :)

[2017-03-26 14:22] #239 closed, assigned to nobody

[2017-03-26 14:30] oferk1 commented on #240
Our field structure is a select field, in which when choosing different options some text fields should appear and disappear accordingly.
Do you have a working demo of some kind for add & del ?

[2017-03-26 16:05] foxhound87 commented on #239
fixed it?

[2017-03-26 16:16] foxhound87 commented on #240
In the [Demo Repo](https://github.com/foxhound87/mobx-react-form-demo) you can find an example using the `onAdd(e)`/`onDel(e)` handlers, which are called from components.

Otherwise you can use [add() & del()](https://foxhound87.github.io/mobx-react-form/docs/actions/shared.html#add--del-nested-array-elements) methods where you need (for example when implementing custom Event Handlers or when [obs

[2017-03-26 22:13] zhaoyi0113 opened #241 "How to add dynamic validation rules on fields?"
If a field is required only if a checkbox is checked, then how to add this dynamic validations on that field?

[2017-03-26 22:33] foxhound87 commented on #240
Or maybe you need to create new fields after the form initialization. For doing this you can use the `initField(key)` method on **Form** or **Field** instances. This is not documented because I'm planning to integrate it into the `add()` method (which now supports only arrays elements).

[2017-03-26 22:36] foxhound87 commented on #241
Have you checked this?
https://github.com/foxhound87/mobx-react-form/issues/231

[2017-03-27 05:03] zhaoyi0113 commented on #241
Close it since it is a duplicate one.

[2017-03-27 05:03] #241 closed, assigned to nobody

[2017-03-27 09:29] il-tmfv opened #242 "Validating nested field based on another nested field"
Hi!
I have a problem validating one nested field value based on another one (I'm using separated declarations).

For example, lets consider following setup:
[code]

`leaveBeginAt` and `leaveEndAt` are date stings, so `leaveEndAt` must be after or equal `leaveBeginAt`.

How can I declare `related` and `validate` (VJF) properties for a form constructor in this case?