[2017-03-27 12:39] foxhound87 commented on #242
I think you can use `.set('related', path)` and `.set('validate', validators)` when new elements are added.

[2017-03-27 14:03] #224 closed, assigned to nobody

[2017-03-27 14:07] foxhound87 commented on #224
Now should work, please let me know if it's working for you.

Thank You.

[2017-03-27 15:52] il-tmfv commented on #242
Thank you! I'll try it tomorrow.

[2017-03-27 16:15] #49 closed, assigned to nobody

[2017-03-27 16:48] #240 closed, assigned to nobody

[2017-03-27 16:50] foxhound87 commented on #240
Made a fix, now you can use `this.add('fieldValue', { key: 'fieldName' });` everywere.

[2017-03-27 17:05] foxhound87 commented on #240
@oferk1 I will make a demo with show/hide fields functionalities.

[2017-03-27 17:12] oferk1 commented on #240
Wonderful thanks, we are looking forward to it as we were unsure how to implement

[2017-03-27 21:16] sebastian-zarzycki-apzumi opened #243 "Bind form fields values to actual objects"
If I understand correctly, the current implementation of mobx-react-form is one-way binding - we can pass some initial values to the fields, but after that, the state is maintained internally within the form object and loses completely it's connection to initial object. This is less than ideal. In true object-oriented manner, that mobx is encouraging to use, one would bind directly to an @observab

[2017-03-28 02:33] leesiongchan opened #244 "Method to take only values that are dirty?"
As `form.values()` will always return the full set of values of the form, I am wondering if we could provide a method to retrieves only the data that is `isDirty`?

[code]

[2017-03-28 07:54] foxhound87 commented on #243
Actually you don't need to do that, you can access the current fields values (true mobx observable/computed values) using the fields selector: `form.$('firstName').value`

[2017-03-28 08:01] foxhound87 commented on #244
Why you need this feature? And why this should be provided by the package?

[2017-03-28 08:56] bvallant commented on #232
@foxhound87 I'm having somehow a similar problem, also with an image upload component. I've specified the fields the same way you mentioned it in unified mode. After modifying the image in the image upload component I would call something like

    // this.props.field is the "image" field
    this.props.field.onChange({url, caption})

This sets `$value` on the field correctly, but `field.value` st

[2017-03-28 09:23] leesiongchan commented on #244
Given we have a scenario like this:
1. Imagine we have an `UserForm`
[code]
2. `UserForm` loads data from `User`
[code]
3. Then we update some of the information
[code]
4. Finally we `PATCH` to our server with `.values()`
[code]

[2017-03-28 09:26] foxhound87 commented on #232
@lazerscience I think your problem is not related to this issue. Using the built-in `onChange(e)` the first input argument is a `Proxy` object and not a value.  You should set the field value with `set()` for change single field value or `update()` if you need to change more fields or nested fields values at time. In your case:

[code]

[2017-03-28 09:39] bvallant commented on #232
@foxhound87 Thanks for your quick reply. Tried it but now `value` still returns the initial value while for some reason not known to me yet `$value` turned into an array of undefined values... But if you say that using `update()` would be the way to go I'll try to debug that...

[2017-03-28 09:44] foxhound87 commented on #232
@lazerscience do not use `$value`, it is only for internal use. use `value` instead.
Anyway if you have undefined values may be a bug or a wrong implementation.
Please provide your custom handler and I will take a look.

[2017-03-28 09:57] sebastian-zarzycki-apzumi commented on #243
That's completely not the point. The point is to make form bind to a object you already have, rather than making it a disjointed set of fields, which you will then use to gather values and assemble then back again in the original object.

If I define something as `value: this.formData.firstName`, when I change that field in my form, let this.formData.firstName update, too.

[2017-03-28 10:11] bvallant commented on #232
Well it's mainly this now as I have stripped it down for debugging:

[code]
Not really sure what can go wrong here anymore, but thank you again for your assistance!

[2017-03-28 10:51] foxhound87 commented on #243
That's not the intended behavior of this package. The package is a store for form and fields which are created providing an initial field structure and then provide some common forms patterns, so you need to use the stores to bind props to your components and inputs. Because the Form and Fields stores have their own internal behaviors and functionalities which you don't get if you derive further t

[2017-03-28 10:54] sebastian-zarzycki-apzumi commented on #243
We still don't understand each other. All I'm saying is that it would be handy to somehow specify in field definition the target property to update whenever the form store property changes - to provide two-way databinding.

[2017-03-28 11:20] foxhound87 commented on #243
The package already have two-way data binding on each `value` Field property.

[2017-03-28 11:25] foxhound87 commented on #243
Maybe you need to define the `observer` from the field definition instead using the `observe()` method?

[2017-03-28 11:26] sebastian-zarzycki-apzumi commented on #243
What do you mean?

[2017-03-28 11:33] foxhound87 commented on #243
I mean, in the first message you asked about the use of `observe()`.
You can define `observers` on the field definition like this:

[code]

[2017-03-28 11:54] foxhound87 commented on #232
The first call of `updated()` has wrong argument. Anyway it depends how you used the `update()` method inside the component.

[2017-03-28 11:57] bvallant commented on #232
Well what's wrong about it? Don't really see it :)

[2017-03-28 12:01] foxhound87 commented on #232
`form.update(title: 'Whatever', image: {url: 'http://someurl', caption: ''})` **(your)**
`form.update({ title: 'Whatever', image: { url: 'http://someurl', caption: '' } });` **(correct)**

[2017-03-28 12:04] bvallant commented on #232
Oh sorry, that just happened when copying it over to GH... Well i'll try to get it working somehow, but thanks for your help anyways!

[2017-03-28 12:16] foxhound87 commented on #220
I will implement it using the `extra` property. It sounds better :D

[2017-03-28 12:34] bvallant commented on #232
Well just as an update: Found out what the problem was... The component with the form was reinitialized for some weird reason which led also re-initializing the form and overwriting the updated value again. Though your hint @foxhound87 with using `update()` for nested fields was quite useful, thanks! :+1:

[2017-03-28 12:37] il-tmfv commented on #242
So, I've tried this:
[code]
and it doesn't work.
[code]
returns `Field` with null `validators`.

I tried to find a reason for this. And I think I've found.
In `src/shared/Actions.js` there is method `set` in which there is next line of code:
[code]
But, `isObject()` from `lodash` returns `true` for functions and arrays as well.
I tried to fix this by adding this check before `if (_.isObject(data))

[2017-03-28 12:39] foxhound87 commented on #242
I will take a look asap, thank you.

[2017-03-28 12:53] sebastian-zarzycki-apzumi commented on #243
This is somewhat more elegant, thank you. But it's not directly documented in https://foxhound87.github.io/mobx-react-form/docs/api-reference/fields-properties.html - you might want to update that.

For now, it will be sufficient, but I still think that you could go one step further and encapsulate the functionality below with some kind of shortcut property. Seems to me like the most common usage

[2017-03-28 13:11] foxhound87 commented on #242
I'm trying to replicate your issue but seems to work for me.
Right now editing the code as you suggested will fail 1 test.

[2017-03-28 13:16] foxhound87 commented on #242
Do you think you can provide a test code?

[2017-03-28 13:23] foxhound87 commented on #243
Thank you for reporting that, I will update the docs soon. But still don't get what you are trying to achieve. If you are trying to derive the values to another object, just don't do that. Use the form/fields instances as much as you can and you will reduce the boilerplate.

[2017-03-28 13:25] il-tmfv commented on #242
Sorry, it is internal project.
I also noticed failed test. So I tried simplest thing ever (at `tests/data/forms/fixes/form.m.js`):
[code]

and I see `null` in console when I run tests. And with my "fix" I see there `[Function]`.
Do I miss something? Maybe I misunderstood the way you set validators?

[2017-03-28 13:32] sebastian-zarzycki-apzumi commented on #243
The point of using MobX is to work with domain model objects instead disjointed data. By not binding to model directly, you're breaking that concept.

Look: I have a User object. I want the form to edit its firstname and lastname. After the edit and submit, my User object should have the new values already populated. But currently, instead of having that, I need to get the arbitrary disjointed fie

[2017-03-28 13:34] il-tmfv commented on #242
If it is not enough I can try to reproduce it in a separate project lately.

[2017-03-28 13:51] foxhound87 commented on #243
A user model is not a form instance and the form instance is not a user model. A user model doesn't track all the stuff that this package is doing. What you are trying to do is connecting a model value directly to the form inputs, and this can be bad, as it will update all automatically every time user changes an input, without validating it or whatever should happen before submitting the form. Th

[2017-03-28 14:00] sebastian-zarzycki-apzumi commented on #243
I'm not sure you've read what I wrote. My example above is showing a specific logic of updating the model when the field is valid. Of course the form model is something separate. But it doesn't mean that two-way databinding of field *values* back to the original domain object shouldn't be possible at the same time. I don't think there's point in arguing further. You clearly present a different min

[2017-03-28 14:30] foxhound87 commented on #243
I'm here to talk and share opinions, don't dismiss people. Connecting the form to a model would be a different approach and I don't have in my mind the whole picture and I'm interested to know more on your approach.

I wanted this package to work also without using models or for people not using mobx in their code or using it outside a mobx environment, I don't want to force them so the package ca

[2017-03-28 14:31] il-tmfv commented on #242
So, I managed to recreate it in a separate project: https://github.com/il-tmfv/reproduce-mobx-react-form-242

It only works on second, third, etc rows with my "fix". It is normal :)

For a simplicity I changed node_modules version of `Action.js`:
[code]

[2017-03-28 14:34] foxhound87 commented on #242
@il-tmfv thank you so much. I will fix it asap.

[2017-03-28 14:40] sebastian-zarzycki-apzumi commented on #243
This package is called mobx-react-form. If it is not for using with MobX, then the name is misleading. If someone is using MobX, the "model" is there somewhere, eventually. Store, ViewModel, whatever, these properties have to be somewhere, is just naming.

Don't get me wrong, this library seems to be very good. I can work around my needs with some additional code. It's just missing that one core c

[2017-03-28 14:58] mxmtsk opened #245 "onSuccess callback & GraphQL"
Is it possible to call a function on the component where the form is imported and displayed when I submit the form and validation passed?

I have some higher order components on my components (for example I'm using react-apollo for handling GraphQL requests) that bind certain methods to `this.props` that I don't have access to in the onSuccess method of the form, because that is not a real react c

[2017-03-28 17:16] mxmtsk commented on #245
I came up with this workaround, which does work but kinda breaks server side rendering with the following warning. So I'm still happy and open for suggestions or if you would consider adding support for this.

 (client) ="text" id="email--32" name="email" valu
 (server) ="text" id="email--34" name="email" valu

Changed my LoginForm.js to
[code]

And in my Login.js

[code]

[2017-03-28 18:51] foxhound87 commented on #243
Anyway, I thought more and maybe this can be implemented whit some constraint. First of all, I think is bad to autosave the text fields, because the user should be sure when submit, otherwise reset functionality will be lost. Different is for inputs like booleans or arrays so I will prefer to have an option to sync only some fields. The original model will be updated only if the validation passes.

[2017-03-28 19:13] sebastian-zarzycki-apzumi commented on #243
It doesn't have to be enforced always. This behavior can be optional, so that it can be used in a different ways. Reset functionality is not lost, because you stroe all the initial values of the fields in form model anyway - so when resetting, you can set the business model back to them.

[2017-03-28 20:31] dmackerman opened #246 "Can't set Field options dynamically after initialization"
Is there anyway to change the `options` that we pass into a field dynamically?

We've tried doing:

[code]

`field.set('label')`, etc all work fine. Is there anyway to change options after the Form has been initialized?

Does this have to do with the `set` method check not working properly? https://github.com/foxhound87/mobx-react-form/issues/242

[code]

[2017-03-29 07:46] il-tmfv commented on #242
Also added
[code]
Again, works with fix only, otherwise `related` Field property equals to `[]`.

[2017-03-29 09:20] foxhound87 commented on #246
Yes, should be related to that issue.
Thank You for reporting this.

[2017-03-29 09:24] foxhound87 commented on #245
Where `tryLogin` is used?

Have you tried to [Override the Validation Handlers](https://foxhound87.github.io/mobx-react-form/docs/events/validation-handlers/override.html) into the component?

[2017-03-29 09:31] foxhound87 commented on #245
I think the problem about the SSR is because you have to initialize the Form instance outside the component.

[2017-03-29 11:06] mxmtsk commented on #245
thank you @foxhound87, Overriding validation handlers is exactly what I was looking for. I missed that in the documentation :)

[2017-03-29 11:06] #245 closed, assigned to nobody

[2017-03-29 12:20] d4rky-pl opened #247 "Defining fields using an array of objects and initial values (mixed mode)"
If I define fields as an object then I cannot pass initials separately because the value is set not to the specified initial but to the object inside fields.

Simple test case to reproduce:

[code]

This works correctly if we specify everything by hand:

[code]

[2017-03-29 12:26] d4rky-pl commented on #247
Apologies for the noise, seems that the starter app I've been using as a base for my application used `1.20.5` version, it seems to be no longer the case in `1.22.2`. I'm closing this issue now.

[2017-03-29 12:26] #247 closed, assigned to nobody

[2017-03-29 13:27] foxhound87 commented on #247
Using the **Unified** mode you should set the `initial` prop inside the `fields` object.

But is that configuration now working using the "experimental" **Mixed** mode?

Thank You

[2017-03-29 14:42] nuschk opened #248 "Don't show errors until field is blurred?"
It was hard to come up with a good title for this, sorry.

I'm essentially interested in a feature of redux-form that let's us not show an error on a field unless the field received a blur event or the user submitted the form. This leads to less noise when filling out an empty form, as the user can enter data without being nagged by error displays while typing.

Main use case: Entering e.g. an ema

[2017-03-29 15:22] d4rky-pl commented on #247
Yes, it seems to be working (with the warning about mixed mode in console)

[2017-03-29 17:32] foxhound87 commented on #248
You can actually do that. You can change the `validateOnChange` [Form Option](https://foxhound87.github.io/mobx-react-form/docs/form/form-options.html) and then implement a new `onBlur` [Event Handler](https://foxhound87.github.io/mobx-react-form/docs/events/events-handlers.html#onfocuse--onblure), you can follow this [Blog Post](https://medium.com/@foxhound87/validate-field-onblur-using-props-bin

[2017-03-30 09:38] d4rky-pl commented on #248
@foxhound87 might be a good idea to make FAQ more prominent in documentation This has already been answered but discoverability of the answer is pretty low.

Maybe change the name from FAQ to "Common solutions" or something similar and link it in few more places so it's more visible? :)

[2017-03-30 09:44] nuschk commented on #248
Thanks for the pointer. It might be even easier than to disable `validateOnChange` and fiddle with binding (unless I'm missing something). Can't we something like this:

[code]

[2017-03-30 10:16] elazer commented on #224
It is still broken for me, when I try to .add() without values and try to select the field.
Using the same example as above:

[code]
I get this error.
The selected field is not defined (member.info[1].name)

[2017-03-30 14:26] d4rky-pl commented on #247
In case someone googles here: using the Unified mode you should set `value` not `initial` prop. Took me a moment to figure this out 😅

[2017-03-30 15:26] foxhound87 commented on #248
@d4rky-pl Will be done, thanks.

@nuschk If you want to do that without reimplementing the `onBlur` handler you can use the observers: check the mobx `change.newValue` and validate if `focus` is changed to `false`. I don't see the need to add a new `edited` prop. Maybe I'm missing something?

[2017-03-30 15:36] foxhound87 commented on #224
Should be index 0 not 1

[2017-03-30 15:38] foxhound87 commented on #247
The initial prop should take precedence on value

[2017-03-30 15:57] foxhound87 commented on #247
@d4rky-pl The `initial` prop behavior is changed and I didn't noticed that because it's not tested yet. I will fix it in the next release. Thank you for reporting this.

[2017-03-30 18:54] jayalfredprufrock commented on #248
This sounds closely tied to #237. I'd argue that if we had a solution to #237 then not having a built in way to validate on blur wouldn't be a big deal. In both cases, I think what's trying to be avoided is nagging the user with an error message when they haven't even finished typing yet, and if I had to choose a behavior between the two approaches, I'd much prefer some kind of throttled/timeout m

[2017-03-30 20:42] foxhound87 commented on #237
@jayalfredprufrock @adlk  I think that we need a debounced show error functionality.

[2017-03-30 21:18] shnarasi commented on #242
Is this issue resolved?  having the same issue with  1.23.2
Just added this... and getting the following console error..
const related = {
  "distributionCenters[].Email": "distributionCenters[].ConfirmEmail"
};
const validate = {
  "distributionCenters[].ConfirmEmail": [
    isEmail,
    shouldBeEqualTo("distributionCenters[].Email")
  ]
};

export default {
  fields,
  values,
  initials,
  labe

[2017-03-30 21:21] shnarasi opened #249 "Support for multiple Fields Array Items related validation without index in selector."
Having the same issue with 1.23.2
 Just added this... and getting the following console error..
 const related = {
 "distributionCenters[].Email": "distributionCenters[].ConfirmEmail"
 };
 const validate = {
 "distributionCenters[].ConfirmEmail": [
 isEmail,
 shouldBeEqualTo("distributionCenters[].Email")
 ]
 };

export default {
 fields,
 values,
 initials,
 labels,
 placeholders,
 validate,
 rel

[2017-03-31 05:12] elazer commented on #224
I used the return from .add() as the index. So it does not return the index of the newly added field? I remember doing it this way in previous versions.

[2017-03-31 06:37] nuschk commented on #248
Ah, yes, #237 is really very related. Sorry, I missed that.

Just to clarify, I don't want to validate on blur (I don't car about validation, actually), I just would like to withhold error display until first blur. After first blur, I want to display errors instantaneously.

I need to store that information ("was blurred once") somewhere. @foxhound87 , you're right, I could just as well use an obs

[2017-03-31 06:37] #248 closed, assigned to nobody

[2017-03-31 06:45] nuschk commented on #237
I also think that's an important functionality and thus, 👍 for implementing it!

As stated in #248 , I'd prefer showing the error after the first blur event, though.

[2017-03-31 08:55] foxhound87 commented on #242
@shnarasi the `related` **distributionCenters[].ConfirmEmail** should have the array index. Right now is not yet supported the check on multiple nested fields at the same time. I will see if can be implemented.

[2017-03-31 08:56] foxhound87 commented on #249
@shnarasi the `related` **distributionCenters[].ConfirmEmail** should have the array index. Right now is not yet supported the check on multiple nested fields at the same time. I will see if can be implemented. The selector needs to select a single field with a specific key/path.

[2017-03-31 08:57] foxhound87 commented on #242
@shnarasi see answer in #249

[2017-03-31 09:19] foxhound87 commented on #248
@nuschk the `touched` prop in mobx-react-form is already `true` on `onFocus`, then your previous suggestion with the `edited` prop is the only way, this is different from the redux-forms (which I don't like because don't feel right to have `touchOnBlur`, it should be touched when you actually interact with the input).

[2017-03-31 09:36] nuschk commented on #248
@foxhound87 I agree with naming that prop `touched` is misleading. I find your definition much less confusing. `edited` is not really better, though, so I'm still looking for a better name... 😄

[2017-03-31 09:45] foxhound87 commented on #248
@nuschk something like `interacted`? or can be confused with `touched`?

[2017-03-31 11:23] nuschk commented on #248
`interacted` is certainly better than `edited`. Yeah, it's not crystal clear either, but, well, naming is hard.

You could also name it by its purpose and thus `showError` and put it next to `hasError`. This way, of course, it could only ever be true if the field has errors.

[2017-03-31 15:34] adlk commented on #237
From a UX perspective both options are viable and have their use cases. My main benefit of just delaying the validation would be that the user might still have focus on the input field and does not need to click/tab back while not being too noisy with premature validation errors.

But at the end, either way would be a huge win.

[2017-04-01 19:04] foxhound87 commented on #237
Now we have new `showErrorsOnBlur` [option](https://foxhound87.github.io/mobx-react-form/docs/form/form-options.html) which is `true` by default (It's the new default behavior of the library).

`showErrorsOnChange` is now `false` by default.

The errors on `validate()` are now **NOT** shown by default.

The errors can be shown anyway using `validate({ showErrors: true })` but now there is more con

[2017-04-01 19:07] adlk commented on #237
i just upgraded and gave it a super quick test and it works like a charm!
Keep up the great work! 🙌

[2017-04-01 19:07] #237 closed, assigned to nobody

[2017-04-02 02:01] foxhound87 commented on #224
@elazer now is returning only the index if is an array element, otherwise you have to provide the key.

[2017-04-02 12:34] #242 closed, assigned to nobody

[2017-04-02 12:35] #246 closed, assigned to nobody

[2017-04-03 08:26] kitze commented on #245
Hey @mxmtsk, just note that you don't have to use ```onSuccess``` or the other handlers in the mobx react form class.

Usually, I define my own submit handlers somewhere in one of my mobx store classes, and I basically use mobx-react-form for just defining the forms and exporting them.

[2017-04-03 09:40] foxhound87 commented on #220
Both **Form** & **Fields** instances now have access to `.state.extra()` method which is both a getter and setter. It can set objects & arrays, and can retrieve deep nested props like this:

### Set Object:
[code]

### Get All:
[code]
[code]

### Get Prop:
[code]
[code]

[2017-04-03 09:45] foxhound87 commented on #245
@kitze now the built-in event handlers are able to also handle promises, if you use them you can track the new `submitting` observable prop.

[2017-04-03 16:05] foxhound87 commented on #244
I thought more about this behavior and... what happen if I load an user with an image already defined, then I want to remove the image, then the image will not be updated because the property is not present.

[2017-04-03 17:28] foxhound87 commented on #244
Implemented, use `retrieveOnlyDirtyValues: true` as [Form Option](https://foxhound87.github.io/mobx-react-form/docs/form/form-options.html).

[2017-04-03 17:28] #244 closed, assigned to nobody

[2017-04-03 19:14] jayalfredprufrock opened #250 "focus() field method or ability to retrieve underlying DOM input reference?"
Would it be possible to add a `focus()` method on form fields? I realize programmatic focusing is possible by using `ref` on the input, but mobx-react-form has literally provided everything else I need so I hate to start pulling in DOM references for this one little piece of functionality that seems to come up quite often.

[2017-04-04 07:14] foxhound87 commented on #250
Nice to have, I will implement this. Thanks!

[2017-04-04 07:15] d4rky-pl opened #251 ".set() array as value without nested fields not working"
Case (unified properties, don't mind the field name, I'm still struggling with making things work):

[code]

Example of bad behaviour(s):

[code]

[2017-04-04 07:46] d4rky-pl commented on #251
The problem is triggered inconsistently. Right now it seems that writing to value directly works as long as you don't use `update`. You cannot set the value with `form.set('value', { role_id: [123] })` so my workaround for now looks like this:

[code]

[2017-04-04 11:03] foxhound87 commented on #250
@jayalfredprufrock Released `v1.27.0`. Let me know if it's working properly for you. Note that the `focus` prop is now changed to `focused` and a `field.focus()` method is now available to set focus programmatically.

[2017-04-04 11:05] foxhound87 commented on #250
Make sure to use the built-in `field.bind()` or manually bind the `autoFocus` Field prop on your input component (or reimplementing [bindings](https://foxhound87.github.io/mobx-react-form/docs/bindings/custom.html)).

[2017-04-04 11:19] foxhound87 commented on #251
What are you trying to achieve? The array elements should be single input fields?

Right now the **unified mode** does not supports arrays correctly.

`$r.form.update({ role_id: [] })` should work using **separated mode** but you need to provide an `array structure`:

[code]

Let me know if this works.

[2017-04-04 11:20] foxhound87 commented on #251
Eventually I can introduce a warning when using an **array** in conjunction with **unified** mode.

[2017-04-04 11:34] d4rky-pl commented on #251
The array element should be a single input field - at first I wanted to use `<select/>` with `multiple`. Since it didn't work out OOTB I wrote a separate component that handles arrays by hand. I was trying to avoid nested fields because I know they require separated mode.

---

It seems that the unified mode should be actively discouraged at this point since it brings more issues than it solves pr

[2017-04-04 11:43] nuschk commented on #237
Looks good to me. Will ship this to production this week. Thanks a million!

[2017-04-04 11:48] d4rky-pl commented on #251
Right now I'm crunching something else but I'll get back to this issue and ping you after I rewrite all of our forms to separated mode.

[2017-04-04 12:22] foxhound87 commented on #251
If you need to make a list of options consider using **options** prop as array on your select input. Then the field value will be just a single value, not an array. You can find examples on the demo repo.

[2017-04-04 12:34] d4rky-pl commented on #251
@foxhound87 yeah, but I need `multiple` which means single value is not enough. Unless I'm not understanding something :)

[2017-04-04 12:43] foxhound87 commented on #251
@d4rky-pl sorry for the misunderstanding, you can find a demo example with multiple selected elements as well (it works also with empty array). See [here](https://github.com/foxhound87/mobx-react-form-demo/blob/76f3560fa35400a3ac17d1daff27919aba7c6b8d/src/forms/setup/companyWidgets.js#L31).

[2017-04-04 12:51] foxhound87 commented on #251
anyway, right now `.set('value', []);` works only if using **nested fields** and will set elements values on the nested fields (not the nested fields **container**). I will fix this.

In the meantime you can achieve it using `.sync([]);`

[2017-04-04 14:40] mwarger opened #252 "flag to prevent certain fields from affecting field 'changed' or isPristine"
It would be nice to be able to update certain field properties without the field marked as dirty.  Think of being able to set a 'showItem' property on a row to control whether it renders, but otherwise keep the row pristine (that way if you want to grab the dirty items, this row wouldn't qualify).  Currently, changing this property would mark the row field as changed.

I hope this makes sense - le

[2017-04-04 17:10] #251 closed, assigned to nobody

[2017-04-04 17:12] foxhound87 commented on #251
Now is fixed! Thank You

[2017-04-04 17:28] foxhound87 commented on #252
Hmm... not so clear but I assume you are talking about nested fields and some sort of show/hide functionality for some fields.

Which property are you talking about which is changing the `changed`/ `isDirty` / `isPristine` props? I mean, these props changes only if the `value` has changed. Other props doesn't affect them.

If you could provide a simple example would be better.

Thank You.

[2017-04-04 18:28] d4rky-pl commented on #251
Thank YOU :) :+1:

[2017-04-04 20:59] mwarger commented on #252
I will check my code, that could be a problem with how I'm doing things - maybe I'm changing the value and didn't realize it - this would explain it.  I will re-open if necessary.  Thanks.

[2017-04-04 20:59] #252 closed, assigned to nobody

[2017-04-05 06:55] d4rky-pl commented on #251
I'm afraid it still doesn't work correctly.

Given:

[code]

I get this:

<img width="332" alt="screenshot 2017-04-05 08 53 22" src="https://cloud.githubusercontent.com/assets/284395/24693343/633ed440-19dd-11e7-92cc-60631f589fc5.png">

I might be doing something wrong though, at this point I'm very confused :)

[2017-04-05 07:24] d4rky-pl opened #253 "Empty object added when initializing nested fields"
<img width="772" alt="screenshot 2017-04-05 09 23 29" src="https://cloud.githubusercontent.com/assets/284395/24694297/a9ed6e34-19e1-11e7-89d1-1a8330388dad.png">

[2017-04-05 07:48] d4rky-pl commented on #251
All right, I dug deeper and I think the problem actually lies between the chair and the computer. This works:

[code]

I realize that this is by design but it might be a good idea to write down an explanation of differences between `set(value)` / `set('value', value)`, `update()` and `sync()`. I'm afraid the documentation doesn't really differentiate between those three. I will be writing a blogpo

[2017-04-05 12:09] foxhound87 commented on #253
Thank You for reporting this.

[2017-04-05 12:15] foxhound87 commented on #251
using array notation in `values` is not permitted:
[code]

As said on the docs, the `set()` method is intended to be used for editing fields properties. When updating the nested fields values with `set()` it update only the existent fields, does not create new fields (like nested array fields elements), for this purpose `update()` is preferred.

`set(value)` is just an alias for `set('value', valu

[2017-04-05 18:08] foxhound87 commented on #251
Anyway thank you for expressing your experience with the package. It is good to understand a different point of view in order to make a better documentation. Let me know if you have more questions. Thanks!

[2017-04-07 09:19] IngoValente commented on #253
I have the same issue, and seems that I can’t remove it using the standard del method (ie. using the above example): form.$(‘roles’).del(0)

[2017-04-07 12:52] foxhound87 commented on #253
@IngoValente I replicated that, thank you. Until I fix it you can do: `form.$('roles').$(0).del();`

[2017-04-07 13:00] foxhound87 commented on #253
@IngoValente I also noticed that the issue occurs only when doing `del(0)`. Other indexes greater then zero are working correctly, do you confirm it?

[2017-04-07 14:08] IngoValente commented on #253
Yes other indexes work as expected. Thanks for the quick response!

[2017-04-07 18:33] sebastian-zarzycki-apzumi opened #254 "Implement showErrors() on Form instance"
There is a form method described in docs - showErrors() - which doesnt seem to be in place. I would actually like to have this, to manually trigger this in specific cases.

[2017-04-07 18:36] foxhound87 commented on #254
The showErrors() method can be used only on the fields. Cannot be used on the form instance. Are you doing this?

[2017-04-07 18:37] sebastian-zarzycki-apzumi opened #255 "HTML properties overwritten"
When using the `<input type="password" {...form.$('username').bind()} />` syntax, the type seems to be overwritten with "text", even though I didn't specify it in form field definitions. It doesn't seem right that form definition overrides the HTML. Am I missing something?

[2017-04-07 18:41] sebastian-zarzycki-apzumi commented on #254
This suggests otherwise - https://foxhound87.github.io/mobx-react-form/docs/api-reference/form-methods.html

Why would I do this for particular fields? Or rather - if I can do this on form fields, why not on the form itself? (effectively, toggling it for all fields)

[2017-04-07 18:54] foxhound87 commented on #255
I think you want this:

<input {...form.$('username').bind({ type: 'password' })} />

[2017-04-07 19:00] foxhound87 commented on #254
That's an error on the docs. shouldn't be there. But I can implement it anyway.

To achieve that now:

form.forEach(field => field.showErrors());

[2017-04-07 21:11] timarney commented on #49
Is there a way to set a generic message for all error types on a field or do you need to override each type i.e. show Invalid Password for all these (required|string|between).

[2017-04-07 21:19] foxhound87 commented on #49
I think you can achieve that using `.invalidate('a generic error message')` on Fields instances when they don't pass validation (for example observing Field's isValid prop). The invalidate method will overwrite the last error message.

[2017-04-09 15:25] foxhound87 commented on #254
Fixed in [v1.28.0](https://github.com/foxhound87/mobx-react-form/releases/tag/v1.28.0)

[2017-04-09 15:25] #254 closed, assigned to nobody

[2017-04-09 15:25] foxhound87 commented on #253
Fixed in [v1.28.0](https://github.com/foxhound87/mobx-react-form/releases/tag/v1.28.0)

[2017-04-09 15:25] #253 closed, assigned to nobody

[2017-04-09 16:29] foxhound87 commented on #255
@sebastian-zarzycki-es my suggestion helped?

[2017-04-09 17:40] sebastian-zarzycki-apzumi commented on #254
Nice, thanks!

[2017-04-09 17:47] sebastian-zarzycki-apzumi commented on #255
Well, it did, but that wasn't really the question. It's a more convoluted version of specifying type directly in field definition.

My question was: why the newly defined field always have type='text' as default and I have to overwrite it? I would imagine, that if I don't have the type specified, then it shouldn't have any value, thus not overriding my inline html definition.

[2017-04-09 19:02] sebastian-zarzycki-apzumi opened #256 "Reset form back to pristine?"
After submitting the form and later on deciding that something is wrong anyway (i.e. call from server returned an error), is there a way to revert form back to pristine state, not showing errors? I've tried .clear() and reset(), but they don't seem to do the trick.

[2017-04-10 08:41] foxhound87 commented on #256
`reset()` should work. It will revert `isPristine` to `true`.

If you need to hide errors when the form `isPristine` is `true` you can use `showErrors(false)` with `observe`:

[code]

For now this example is using the original mobx `observe` function.
I noticed that the package's `observe()/intercept()` methods have to be updated to support the forms properties.

[2017-04-10 09:30] sebastian-zarzycki-apzumi commented on #256
But is there a way to revert form back to truly pristine state? I had a hard time figuring out what pristine means in the code, from what I could gather, it's a sum total of all fields comparisons against default value. In this light, whether clear() or reset() works depends on what the initial values actually were.

But it doesn't take the fact that, i.e. form was already submitted. Maybe a metho

[2017-04-10 10:58] foxhound87 commented on #255
The default `type` is `text`. If you need to set the `type` prop as `password` you can do it when defining the fields properties on from initialization, then the `bind()` method will set all the field props on the input component, `type` included.

[2017-04-10 11:00] sebastian-zarzycki-apzumi commented on #255
I understand. It's more of a question, whether the type (and other field properties) should default to anything, if they are commonly bound back to html controls. But that's ok, I guess, it's just a design decision.

[2017-04-10 11:01] foxhound87 commented on #255
Have you read [fields props bindings](https://foxhound87.github.io/mobx-react-form/docs/bindings/) on the docs? Let me know if there is something unclear.

[2017-04-10 11:18] sebastian-zarzycki-apzumi commented on #255
I did, yes. But I'm not sure how much related it is to the "problem". If you take a look at - https://foxhound87.github.io/mobx-react-form/docs/api-reference/fields-properties.html - you will see that "text" is the only field that has a default value (at least according to the documentation). It's this discrepancy that sort of irks me. Since type is the mostly commonly defined property for a HTML

[2017-04-10 12:22] foxhound87 commented on #255
The current implementation of the bind() method using the E6 spread operator forces the components props to be overwritten by the bind data.

[2017-04-10 12:31] foxhound87 commented on #255
anyway the packages does not force you to use the `bind()` method. You can pass each props manually to the input. Or if you want to use `bind()` you can create a new [default bindings](https://foxhound87.github.io/mobx-react-form/docs/bindings/default.html#default-rewriter) `rewriter/template` omitting the `type` prop.

[2017-04-10 12:33] sebastian-zarzycki-apzumi commented on #255
I know. Like I said, not that big of an issue. Just a surprise that type="text" was a default (rather than no default value). Picking a library just to instantly create your own workarounds for that library is something I want to avoid.

I'll stick to defining type in field definitions.

[2017-04-10 12:34] foxhound87 commented on #255
furthermore the `bind()` methods accept new props in input, so you don't have to create a `rewriter/template`. So you can just use my initial example.

[2017-04-10 12:41] foxhound87 commented on #255
You can also create a component like this:

[code]

and use it with explicit props definition:

[code]

[2017-04-10 13:35] foxhound87 commented on #256
What do you mean for "reset everything". What should be your desired state on "reset"? Using the form functionalities and options you can actually change the form behaviors. If you need to have a completely clear form, consider to not provide values to the constructor but use **init()** to initialize fields props/values instead. So the reset should do be a "complete" reset.

[2017-04-10 13:46] sebastian-zarzycki-apzumi commented on #256
The pristine state should be the state that reverts all what form submitting changes.

[2017-04-10 14:40] foxhound87 commented on #256
The pristine state is the opposite of dirty, it means the original state without user interaction, in relation to the initial values (or default if provided)

[2017-04-10 14:49] foxhound87 commented on #256
I think we need to control the `showErrors()` tracking the **touched** prop which should be **false** on "reset" to a "pristine" state.

[2017-04-10 19:29] jayalfredprufrock opened #257 "Should disabled form values get submitted?"
I'm not sure if this was intentional, but for me it was unexpected. Normally disabled form inputs are not posted during form submission but I noticed today that they get included for submission by mobx-react-form. It's easy to account for, however it seems like the default behavior should be more in line with the spec.

Thanks again for all of your attention put into this amazing package. It has r

[2017-04-11 08:25] foxhound87 commented on #257
I can implement this.

Thank You!

[2017-04-12 16:35] foxhound87 commented on #256
We have also a `showErrorsOnReset` **option** for the form which can be helpful in your case.

[2017-04-13 14:14] foxhound87 commented on #257
Now in [v1.30](https://github.com/foxhound87/mobx-react-form/commit/2807d6f8) we have the `retrieveAlsoDisabledFields` option, set it to `false` when use the `values()` helper.

[2017-04-13 14:14] #257 closed, assigned to nobody

[2017-04-13 14:14] #255 closed, assigned to nobody

[2017-04-13 14:14] #256 closed, assigned to nobody

[2017-04-13 14:16] foxhound87 commented on #247
@d4rky-pl The `initial` prop is now handled correctly in [v1.30](https://github.com/foxhound87/mobx-react-form/commit/2807d6f8)

[2017-04-14 18:04] foxhound87 commented on #228
I'm closing this because related to #229

[2017-04-14 18:04] #228 closed, assigned to nobody

[2017-04-17 17:03] lext-7 opened #258 "Handle individual Field options & global Form options fallback"
I have found a validateOnChange option for a form, but what if I want to validate on change in one filed but don't want to validate on change in another field in a form?

Can we have a specific option on field such as
[code]

[2017-04-17 20:23] timarney opened #259 "multiple file input (upload)"
Is there a way to get access to the raw file array i.e. let fileSelected = this.files[0]; from a file input

[code]
Or even is there a way to get access to event.currentTarget for an onChange event?

I tried using .observe for the on change but I can only get the filename as a value.

[2017-04-17 20:29] foxhound87 commented on #258
That's nice to have, I will implement it!

Thank You

[2017-04-17 20:51] timarney commented on #259
Looks like onBlur (will work).
[code]

I don't think I can use onChange as the browser doesn't let me set the value directly (maybe there's another way).

That said can I get access to the 'raw' values somehow onSubmit?

[2017-04-17 21:42] dmackerman opened #260 "Ship source code with NPM?"
Is there any reason the `src` directory isn't a part of the package? It would make debugging and stepping through code inside the library much easier.

[2017-04-18 11:29] foxhound87 commented on #259
Hi @timarney

Right now the package's Field `value` will handle only 1 file. I will do some researches about it.

@DominikGuzei seems to have used [react-dropzone](https://github.com/okonet/react-dropzone) successfully (see #205). But I don't know if he managed multiple files.

[2017-04-18 11:29] foxhound87 commented on #205
@DominikGuzei
Using `null` on a simple input with `type="file"` I get:

[code]

So the default value should be an empty string, and you should set `null` manually on your custom component.

[2017-04-18 11:39] foxhound87 commented on #260
I will look into that. Right now the source code is transpiled with babel to es5 code which seems the recommended approach. I can enable the "src" directory in the package.json `files` array. But I don't know if and how can be accessed because the default entry point is `"main": "lib/index.js"`

[2017-04-18 12:01] timarney commented on #259
Thanks @foxhound87

For my current use case using onBlur works (single file) ... come to think of it I could probably store a reference to the 'files' value captured from the Blur event for later use submit etc...

Should work for multiple files as well.

[2017-04-18 13:19] foxhound87 commented on #259
This setup is working using `onChange` tested on **chrome**:

[code]

component usage:

[code]

`form.state.extra()` can be called everywhere to set or get additional custom form data.
You can use this behavior in the meantime I implement a better solution.

[2017-04-18 13:37] timarney commented on #259
Nice @foxhound87 also didn't know about form.state.extra so that's handy.

[2017-04-18 16:32] dmackerman commented on #260
Thanks. Not sure if the `main` entry matters much, since us using module loaders can just reference the source files directly, right?

Something like: `import { Form } from '~mobx-react-form/src/blah.js`

[2017-04-20 13:14] foxhound87 commented on #260
So updating the **files** array in the package.json should be enough, is it ok for your use?

[2017-04-21 15:16] foxhound87 commented on #259
@timarney you can also access it from Fields too: `field.sate.extra` access same data, I forgot that :D

I also updated the example above and it's now more concise without using the form instance into the component.

[2017-04-21 15:19] timarney commented on #259
@foxhound87 nice thanks - loving how flexible this is.

[2017-04-21 17:29] rdiazv commented on #243
This works for me for the model binding use case:

[code]

[2017-04-21 18:50] foxhound87 commented on #260
Added "src"

[2017-04-21 18:50] #260 closed, assigned to nobody

[2017-04-21 18:50] foxhound87 commented on #258
Implemented in v1.31

* options Field prop renamed extra.
* options Field prop handle individual Field Options.
* Field Options will fallback on Form Options.

[2017-04-21 18:50] #258 closed, assigned to nobody

[2017-04-21 18:54] foxhound87 commented on #259
Implemented:
* `onDrop(e)` Event Handler.
* `onDrop` Field Hook.
* `file` Field Prop.

Also some new example are added to the demo repo:

* [Simple File Input](https://github.com/foxhound87/mobx-react-form-demo/blob/80fb85346ffdd02abd2993c9c5c59070d7027a69/src/components/inputs/SimpleFile.jsx)
* [DropZone](https://github.com/foxhound87/mobx-react-form-demo/blob/80fb85346ffdd02abd2993c9c5c59070d702

[2017-04-21 18:54] #259 closed, assigned to nobody

[2017-04-21 19:54] sebastian-zarzycki-apzumi commented on #243
I'm not sure I understand the above example. Can you elaborate?

[2017-04-21 20:02] rdiazv commented on #243
I have a `MyForm` component that is bound to a model (`mobx-rest`) and a form (`mobx-react-form`):

- When `MyForm` is going to mount the model assigns all its values to the form.
- A [reaction](https://mobx.js.org/refguide/reaction.html) watches the form values so that whenever there is a change it sets the new form values on the model.
- The reaction gets disposed when `MyForm` unmounts.

The po

[2017-04-22 17:06] brikou opened #262 "Server Side Rendering, howto ?"
Do you have any advices dealing with SSR?

[2017-04-24 08:27] sebastian-zarzycki-apzumi commented on #243
Ah, I see. Yeah, it's the same approach as I've described few posts above. Yes, fortunately, there are ways to get events upon form changing and then react to these events and write back the form values to the model.

I just wanted to go a step further and make the most common case embedded directly into the framework, so that it can update the model values itself.

[2017-04-24 09:47] foxhound87 commented on #262
Hello @brikou

The SSR has many aspects to be considered and it depends on how your app is structured.

You can find some examples on the [RFX Stack](https://github.com/foxhound87/rfx-stack/tree/master/src/shared/forms), If your app is ok you should not have particular issues.

If you hit specific issues, elaborate them and I will glad to help you.

[2017-04-24 09:49] brikou commented on #262
Thanks for your reply, I'll take a look :)

[2017-04-25 09:19] DominikGuzei commented on #237
@adlk can you elaborate how you made the debounced UX work? We are facing the same issue that you described in your initial post! 😉

[2017-04-25 10:16] nikolaglumac opened #263 "TypeError on Form Submit while using Debounce Validation"
Hi there and thanks for an awesome plugin!

I have an issue with form validation on **form submit event** while using custom options for debounce validation: `validationDebounceOptions: { trailing: true }`.
While this feature works flawlessly on form elements interaction (e.g. changing input values) it throws the following error on **form submit event** (regardless of form input values):

![screen

[2017-04-26 09:24] itaylorweb opened #264 "Not getting initial empty object in array since version 1.24.0"
Fields Definition:
[code]

In v 1.24.0 when initializing the form I would get an initial client object but since upgrading the clients array is empty?

[2017-04-26 11:42] foxhound87 commented on #263
related to #237

[2017-04-26 11:58] foxhound87 commented on #264
maybe can be related to #253 from [v1.28.0](https://github.com/foxhound87/mobx-react-form/releases/tag/v1.28.0)

[2017-04-26 18:19] #263 closed, assigned to nobody

[2017-04-26 18:21] foxhound87 commented on #263
`debouncedValidation` is now removed **on submit** and `debouncedValidationOptions` default are: `{ leading: false, trailing: true }`

[2017-04-26 18:44] foxhound87 commented on #262
I'm closing this issue for now, feel free to reopen.

[2017-04-26 18:44] #262 closed, assigned to nobody

[2017-04-26 21:59] nikolaglumac commented on #263
Works like a charm! Thanks a bunch @foxhound87 ;)

[2017-04-27 07:14] foxhound87 commented on #264
Can you elaborate more?

[2017-04-27 08:32] itaylorweb commented on #264
If I fix my version to 1.24.0 in package.json then I get an initial client object when the form initialises.
If I use the latest version of mobx-react-form then I dont.  see screen shots.
Working: 1.24:
<img width="950" alt="mobx1_24" src="https://cloud.githubusercontent.com/assets/1579538/25474746/3cdcc7de-2b2c-11e7-9856-a1f0511b287e.png">
Not working: latest
<img width="1246" alt="mobx-latest" s

[2017-04-27 14:11] foxhound87 commented on #264
I see it in my code

[2017-04-27 18:17] foxhound87 commented on #264
I think we can close this, please reopen if you see errors ;)

[2017-04-27 18:17] #264 closed, assigned to nobody

[2017-05-02 09:17] #225 closed, assigned to nobody

[2017-05-03 13:57] vstlouis opened #266 "Validation changed from onKeypress to onBlur?"
Hey there, great library by the way. Recently I am seeing that my form fields are only validating on blur (when i click out of the field rather than on change. Is this intended and or is there an option to validate onChange?

Thanks

[2017-05-03 14:17] foxhound87 commented on #266
The `validateOnBlur` is the new default behavior of the form. This is a design decision because for some users `validateOnChange` can be too annoying.

Anyway `validateOnChange` was not removed and can still be enabled using [Form Options](https://foxhound87.github.io/mobx-react-form/docs/form/form-options.html).

#### For all fields:

[code]

#### Only for specific fields (in fields definitions):

[2017-05-03 15:21] vstlouis commented on #266
Awesome, thank you. and great work by the way :1st_place_medal:

[2017-05-03 15:21] #266 closed, assigned to nobody

[2017-05-03 15:36] foxhound87 commented on #266
Thank You!

[2017-05-03 23:49] gate3 opened #267 "Implement onSuccess in form view"
Wonderful library here, thank you very much. I have an issue, i would like to implement the onSuccess in my form component not in the mobx-react-form component that i used in creating the form. Please how do i do this.

[2017-05-04 06:59] foxhound87 commented on #267
Take a look on how to [Override the Validation Handlers](https://foxhound87.github.io/mobx-react-form/docs/events/validation-handlers/override.html). You can do that inside a Component using the **onSubmit(e, { ... })** Event Handler

[2017-05-06 15:36] foxhound87 commented on #267
Did you find it useful?

[2017-05-06 21:46] gate3 commented on #267
Hi, sorry haven't been around. I eventually submitted the form from the
form helpers class and used an event emitter to determine when it's been
saved successfully. But I will try this. Thanks

On May 6, 2017 4:37 PM, "Claudio Savino" <notifications@github.com> wrote:

[2017-05-08 14:42] benjamingeorge opened #268 "Convert material-ui date object onSuccess"
When a form is submitted and passed validation, how/where would I convert the date object to a string in the format "yyyy-MM-dd".  I would like to do it at the field level, not the onSuccess of the form.

I tried following the Field extension method outlined in the docs but I had no success.

[2017-05-08 21:51] foxhound87 commented on #268
Can you elaborate more about your needs? If you want the field's **value** property to be converted you cannot do this directly because the object is needed by the input component but you should derive it to another prop. This can be done using a mobx **computed** when extending the field class.

[2017-05-09 17:07] benjamingeorge commented on #268
Thanks i will look into doing it with a computed value.

[2017-05-09 17:40] benjamingeorge opened #269 "Custom validation rules don't run on empty fields."
When creating a custom rule, they only run if there is a value in the field.  Which is a problem for custom rules that are of the "require_if" type.  Creating a simple mock custom rule using the "required" code you will see that in the console "validating" is only logged if there is a value in the input field, not empty.

[code]

then using it
[code]

[2017-05-10 14:04] #268 closed, assigned to nobody

[2017-05-10 14:05] bvallant opened #270 "Field with Array of objects (Unified Mode)"
I'm having a field `tags` which is supposed to be an array of objects. Using react-select with `multi` I'm able to add tag objects (with an `id` and a `name`) to the array (Note that that `id` and `name` are not editable, you can just add/remove objects).

Starting with an empty array this works flawlessly, but when initializing the form with an object which has already some tags the field's `valu

[2017-05-10 19:50] foxhound87 commented on #269
I checked my package's code but I think it is ok, I don't call that function directly in my code. It seems related to the [validatorjs](https://github.com/skaterdav85/validatorjs) package because it handles the execution of that function. I don't know if it is a bug or it deliberately forces you to use the `required` rule keyword to check the presence of the value. We should open the issue there o

[2017-05-10 20:06] foxhound87 commented on #270
Hello @lazerscience

When you say `when initializing the form with an object`...

you mean into the fields props:

[code]

or using the update method:

[code]

???

In my case `hasNestedFields` is always `false` in both cases.

[2017-05-10 20:23] foxhound87 commented on #270
You get **hasNestedFields**: `false` when definining the fields `value` because if the prop `value` is an object it is treated just as the **field value**, and not values for nested fields (which are not defined as **strcuture** into the definition because you are using the **Unified Mode**). Differently is the use of the `update` method which its purpose is to recreate a nested fields tree provid

[2017-05-10 21:01] foxhound87 commented on #270
Anyway consider to use `add()` instead of `update()` to deal with arrays:

[code]

or use the **Separated Mode** which supports complex arrays structures.

[2017-05-10 21:32] benjamingeorge commented on #269
ok thanks.  I went the custom validator route and that seemed solve my issue.

[2017-05-10 21:32] #269 closed, assigned to nobody

[2017-05-10 21:49] foxhound87 commented on #270
related to #197

[2017-05-10 21:49] foxhound87 commented on #269
@benjamingeorge what do you mean?

[2017-05-11 09:46] bvallant commented on #270
So I tried to switch to Seperated Mode:

[code]

But this doesnt work for me at all (and `hasNestedFields` being always true now). Anything else to consider?

Besides thanks for your help and I think that this is still a very useful library though the documentation on these modes could be a bit better (it's pretty hard to find out why they exist in the first place and when to use which...).

[2017-05-11 13:40] foxhound87 commented on #270
Can you post the whole code of the form using the separated mode?

[2017-05-11 14:25] bvallant commented on #270
I've created a [Gist](https://gist.github.com/lazerscience/8028c5ab6e346214f5a0ab5ab0860971) with the relevant code. Note that loading data works as expected and gets displayed the right way but modifying it isnt working. I'm wondering why the Mulitselect in the [Company Simple example](https://foxhound87.github.io/mobx-react-form-demo/demo.html) works flawlessly though...

[2017-05-11 16:05] benjamingeorge commented on #269
something like
[code]

[2017-05-11 16:45] foxhound87 commented on #270
The gist seems ok, the issue could be in the onChange event handler, the default one cannot be enough so you should provide a custom one to manipulate the data edited by the react-select component.

[2017-05-11 16:45] foxhound87 commented on #269
Great!

[2017-05-11 16:49] foxhound87 commented on #270
Did you see this example for the custom onChange?

https://github.com/foxhound87/mobx-react-form-demo/blob/master/src/components/forms/FormDynamicFieldsSelect.jsx#L10

[2017-05-12 10:14] bvallant commented on #270
Thanks for your help again, after some poking around I came up with this onChange handler:

[code]
This basically works now for me, thanks for poinint me to the onChange thing.

[2017-05-12 21:36] daedalus28 opened #272 "Usage without classes"
Great work on this package! We just started working with `mobx-react-form`, but we use mobx without classes so the class API is unfortunate. It's also a bit unclear why there are 3 places to pass config in to create a form (class methods like on success, schema config like fields, and options like plugins) when they're all json objects without conflicting keys. In the meantime, we've been doing th

[2017-05-13 11:54] foxhound87 commented on #272
You can actually already move `onSuccess` and `onError` out of the class passing an `onSubmit ` object to the second argument of the constructor (to submit the Form Instance), or to the first argument of the constructor (to enable sub-forms submission if you have a nested fields tree).

https://foxhound87.github.io/mobx-react-form/docs/events/validation-handlers/constructor.html#passing-the-valida

[2017-05-13 13:43] gate3 commented on #267
Hi, thanks for the solution. It later came in handy and it works. But i have another issue please. I would like to be able to disable the submit button until the form is fully filled and ready to be submitted.

[2017-05-14 09:34] foxhound87 commented on #267
You can do something like:

[code]

[code]

[2017-05-14 11:06] gate3 commented on #267
Thank you very much will try that out.

On 14 May 2017 10:34 am, "Claudio Savino" <notifications@github.com> wrote:

[2017-05-15 14:26] daedalus28 commented on #272
That didn't seem to work for me. Based on your comment, I tried doing this:

[code]

But then none of the validation rules fired and only `onSuccess` was called (likely because validation didn't run so there was no error to trigger `onError`)

[2017-05-15 15:39] foxhound87 commented on #272
Show full form configuration please

[2017-05-18 09:10] ghost opened #273 "Form reset not hide the errors even through set showErrorsOnReset = false"
When I set `showErrorsOnReset = false` and `validateOnChange = true`, the `form.reset()` not hide the errors . For example enter some words in the input that has rule `required`, then use `form.reset()` always show the errors `the field is required`.

[2017-05-18 13:08] foxhound87 commented on #273
Thank you for reporting this

[2017-05-19 00:28] gate3 commented on #267
Thank you this worked like a charm. Much appreciated. How can i contribute to this library?

[2017-05-19 02:59] freedom19920918 opened #274 "field only get the default field value not the updated value"
when we need the field value(not default value,actualIy I  need the updated values in the "compoentWillMount" hook to init my options for "Select" component) to init some functions .The value is always the default form field value that lead to a problem that my UI is not the updated result But the default status. So it's lead to some errors

[2017-05-19 07:31] foxhound87 commented on #274
If you can show your form code with the component you are using and the data structure you need to update I will help you better.

If the value is not updating consider to check the onChange event handler

[2017-05-19 10:45] d4rky-pl opened #275 "Handling checkboxes"
Default bindings don't handle checkboxes very well. A checkbox have both `value` and `checked` property but there's no way of passing the latter, only the former.

As a workaround for now we're using `checked={field.value}`.

[2017-05-19 20:25] foxhound87 commented on #275
Maybe this can be enhanced to avoid the use of `checked={field.value}` on the component. I will look into that.

[2017-05-19 21:05] foxhound87 commented on #267
There are several updates that can be made, I have tasks, but some open issues needed to be closed before. You can find some tasks in this gist:

https://gist.github.com/foxhound87/f176f19054148647e2a38d60cc09259b

what do you think? Suggestions are welcome. Thank you for your interest.

[2017-05-21 14:40] foxhound87 commented on #272
The validation handlers are not the issue in your case. The validation rules are not fired because the rules definitions are not passed correctly to the constructor, consequently the onError handler will never be called.

[2017-05-24 10:39] #275 closed, assigned to nobody

[2017-05-24 10:45] foxhound87 commented on #275
With this fix the `checked` prop is handled automatically using `type: 'checkbox'` in the field definitions.

NOTE: Using `type: 'checkbox'` as `bind()` arguement method is useless because cannot update the **type** prop of the **Field Store** but only of the input component.

[2017-05-25 13:48] sadasant opened #276 "dispose() should dispose all the events if no object is given"
Hi!

It's unfortunate that we have to specify what to dispose. Could we make it so that if nothing is given, everything is disposed?

Thank you so much for the effort put into this project!

[2017-05-26 10:36] foxhound87 commented on #276
Hi @sadasant

Thank you for your suggestion, I will implement it!

[2017-05-28 12:27] sadasant commented on #276
@foxhound87 thank you! \o/ have a wonderful weekend/week. ✌

[2017-05-28 19:20] foxhound87 commented on #276
You too!

[2017-05-31 13:06] d4rky-pl opened #277 "Cannot dynamically replace rules for entire form"
Even though it's possible to replace rules for single field with field.set('rules', {}) (as explained in #231), unfortunately running the same on `form` does not work.

If it's by design then it'd be nice if an error message was thrown, instead of being a surprising no-op.

[2017-05-31 13:55] d4rky-pl opened #278 "Custom validation rules in DVR do not seem to register properly"
Minimal test case:

[code]

Expected:

[code]

Actual:

[code]

Sanity check to make sure validatorjs is not the culprit:

[code]

[2017-05-31 21:46] foxhound87 commented on #278
I will check this asap, thank you for the detailed test case!

[2017-06-01 10:13] d4rky-pl commented on #277
Another thing related to this bug, not sure if it merits separate issue: since it's impossible to replace rules form-wide, it's also impossible to create dynamic rules for `nested[]` fields, or at least I have no idea how to accomplish that

[2017-06-03 13:11] foxhound87 commented on #277
If you are using the **separated mode** you can pass this to the constructor:

[code]

so these rules will be applied to all newly added fields.

OR dynamically using `map()` and `set()`:

[code]

what do you mean for **replace rules form-wide**?
what's your intended behavior?

If I understood correctly, you need to change all fields rules included the nested ones, for this purpose you can use `ea

[2017-06-06 06:44] d4rky-pl commented on #277
Yeah, eventually I put the nested rules at the beginning of the process and then added new rules as I went. My use case was a 5-step wizard where after every step the data was included / transformed in the form and the last step submitted it. Every step needed extra validations. I removed the 'back' button so the wizard now only goes one way and I'm adding rather than replacing validation rules bu

[2017-06-06 07:43] foxhound87 commented on #277
So you have same structure on each step and need different rules for same fields? If so you can consider to get Form values of each step and then reinitialize the form with different rules but same values for new steps. It sounds good?

[2017-06-06 10:02] d4rky-pl commented on #277
Yeah, that may work, though I won't be able to look into it right now as I already finished and pushed this feature to production 😄

[2017-06-06 11:41] foxhound87 commented on #277
I think you should consider this behavior, also having different forms states you can persist them and enable the back button for the steps.

[2017-06-06 12:10] beshanoe opened #279 "mobx-state-tree support"
Hi there! It would be great to have a support for mobx-state-tree(https://github.com/mobxjs/mobx-state-tree) library in order to use it's features like snapshot, actions tracking etc. Or it can be embedded somehow already?

[2017-06-07 05:57] sadasant opened #280 "Is it possible to set computed values in the schema directly?"
Hi team!
I'm able to set a computed label, but not a computed placeholder. I'm not sure why this is happening.

[2017-06-07 13:01] foxhound87 commented on #279
This would be cool to have. I still don't know how much this could affect the current implementation in terms of refactoring. But definitely I want see this happen when the project gains more interest.

[2017-06-07 13:04] foxhound87 commented on #280
Do you mean using .set('placeholder', ...); ?

This is supposed to work as expected. I will test it.

[2017-06-09 10:34] foxhound87 commented on #280
Or maybe you mean in the fields definitions? I didn't tested that.

[2017-06-09 12:06] sadasant commented on #280
Hi! In the field definitions ✌

[2017-06-09 12:14] foxhound87 commented on #278
Notice that adding `const values = { name: 'foo' };` to the form, the validation function **will be executed**. If you change `{ name: 'foo' }` to `{ name: '' }` from your **Sanity check** example and the function is not exectued then it's a validatorjs behavior. Can you confirm this? If so we should open an issue there.

[2017-06-09 21:38] sadasant opened #281 "onSubmit gets triggered even if the form is invalid"
If a user changes a previously validated field, and directly clicks the submit button without causing the field to blur, the onSubmit function gets called automatically. Is this a bug?

[2017-06-10 10:28] foxhound87 commented on #281
The `onSubmit` Event Handler is always triggered when you click on the submit button, if you need to block the button if the whole form/fields are invalid, you can disable it implementing `isDisabledSubmit` function as explained  in #267

[2017-06-12 13:25] dmitryverkhovtsev opened #282 "Reserved Keywords error when adding Nested Fields"
My nested fields defined like that
[code]

Got this error when trying to render:
[code]

"incidents[].Type"  -  works, no errors.

It feels like we have a reserved keywords?
or a parser issue?

[2017-06-13 10:13] foxhound87 commented on #282
Hi @lostlime

I cannot reproduce your issue. Can you elaborate more about how you add fields to the `incident` array and how you select the nested fields? Maybe can be a misunderstanding on how to use the package's API.

Thank you.

[2017-06-13 10:38] foxhound87 commented on #282
Ok, I replicated it right now!

And yes, right now some keywords are still reserved when adding nested fields.

If you need to use those keywords, until I find a fix, you need to specify the value when adding the field:

`form.$('incident').add({ type: 'foo' });`

[2017-06-13 11:03] #282 closed, assigned to nobody

[2017-06-13 11:03] foxhound87 commented on #282
Fix Released, let me know if it's all ok! Thank You!

[2017-06-13 12:22] #276 closed, assigned to nobody

[2017-06-13 12:27] foxhound87 commented on #276
I released a fix so you can now use `form.dispose()` without argument to dispose of all observers/interceptors in one shot. It can be used only by the **Form** instance.

Next is to implement to dispose of all by a selected path.

[2017-06-13 12:33] foxhound87 commented on #274
Please, I cannot help you if you don't elaborate better your issue.
I'm going to close this issue. If you need help feel free to reopen it.

[2017-06-13 12:33] #274 closed, assigned to nobody

[2017-06-13 12:41] #272 closed, assigned to nobody

[2017-06-13 13:25] sadasant commented on #276
@foxhound87 thank you very much!!!

[2017-06-13 13:26] sadasant commented on #281
Thanks!

[2017-06-13 15:36] #267 closed, assigned to nobody

[2017-06-13 16:36] foxhound87 commented on #277
Back to the first question, you can actually set rules or others props from the **Form** Instance if you have nested fields as object (without array) like this:

[code]

what's your use case and when you expected to see the error message?

Thank You.

[2017-06-13 16:47] #281 closed, assigned to nobody

[2017-06-13 17:23] tomgutz commented on #231
Piggy backing from this scenario. I use a Material Autocomplete created the template and binded the disabled and other properties. Aside from turning off/on a certain dependent field, in this instance a text field. I turn off the rules and enablement of that text field for certain value on the autocomplete. When I trace, I can see that the "field.rules" and "field.disabled" is set properly, howeve

[2017-06-13 18:18] foxhound87 commented on #231
Hi @tomgutz

First of all check if the component is decorated with the **mobx-react** `observer`.

Otherwise, can you show your code and the debug? Thank You.

[2017-06-13 19:08] tomgutz commented on #231
Below is the code. Let me know if it makes sense.
[code]

[2017-06-13 19:38] d4rky-pl commented on #277
I'm on a weeklong vacation right now with no access to laptop or any other same dev environment so when I get back I'll check but I'm pretty sure the last example didn't work for entire form instance and just quietly failed without changing any rules. I will try to make a test case and see if I'm able to reproduce the original issue, sorry for not doing it in the first place :)

[2017-06-14 03:46] daedalus28 commented on #272
Hey sorry for not responding to this - we've been pushing hard trying to go live with our mobx form stuff so this fell on the backburner. It still does seem like there's no clear way to use this without creating a new class. Our function wrapper creates one on the fly so we can ignore it, but that seems messy. By closing this, does that mean that you're not interested in supporting a functional AP

[2017-06-15 13:44] foxhound87 commented on #272
I can't see any real advantages providing a function instead the class.

You can do it yourself like this:

[code]

then use `makeForm` in the same way of the original package constructor.

[2017-06-15 14:02] foxhound87 commented on #231
@tomgutz When using `bind()` you can pass only the props defined in a **bindings rewriter/template**.

Using the **default bindings**, other props passed to `bind()` are discarded, so you need to define a custom binding rewriter/template for the custom component (for the `AutoComplete` in your case).

Otherwise, pass the other props to the component like usually with the JSX syntax.

Read more her

[2017-06-18 17:48] mdansei opened #283 "Form option property to trim values"
Hi there !
Could we add an option property to trim form values before validation ?

[2017-06-19 10:05] foxhound87 commented on #283
Ok, I will implement it.

[2017-06-20 08:12] d4rky-pl commented on #278
I can confirm that when the `name` is empty, validatorjs does not run custom validations. Diving deeper into their GH issues unfortunately proves that it's by design and will not be fixed - skaterdav85/validatorjs#118 . Workaround is to add `required` rule.

I'm closing this issue as it has nothing to do with mobx-react-form.

[2017-06-20 08:12] #278 closed, assigned to nobody

[2017-06-20 08:28] d4rky-pl commented on #277
All right, so: my use case was already solved with everything we've discussed before. The only issue is with array-based fields, everything else must've been a bug in my own code as I can't seem to reproduce the issue anymore. I'm closing this for now, if I ever run into this problem again I'll reopen.

[2017-06-20 08:28] #277 closed, assigned to nobody

[2017-06-20 08:49] alexrindo opened #284 "question: Best practise for adding dynamic values to a set of fields"
Hi!

We are in the process of adding dynamic values through a fetch call, but haven't been able to add the loaded data into the 'value' property and get it to display in the field.

What are your recommendations for fetching some of the field properties from a server side location?

[2017-06-20 15:06] sadasant opened #285 "Is there any way to trigger validation based on browsers' auto-complete features?"
Hi team!

Sorry for asking, but I'm not sure how to search for this. We've been using mobx-react-form and it's super nice! However, we get asked from time to time why the form auto-complete features aren't validated. Is there a way to do this?

[2017-06-21 00:19] nicksarafa opened #286 "Project Roadmap"
Hey, our teams interested in your library. Would there happen to be a project roadmap/feature wish list?

[2017-06-21 08:59] foxhound87 commented on #284
If you need to update the form values, consider to use the [`.update()` method](https://foxhound87.github.io/mobx-react-form/docs/actions/shared.html#update-the-fields).

For example, using a promise-based request:

[code]

[2017-06-21 09:02] foxhound87 commented on #285
Do you mean to support the HTML autocomplete attribute?
https://www.w3schools.com/tags/att_input_autocomplete.asp

[2017-06-21 09:06] foxhound87 commented on #286
I created this gist with all the future update tasks:

https://gist.github.com/foxhound87/f176f19054148647e2a38d60cc09259b

They are not in the priority order. There are some bigger and some that needs to be done after closing some issues.

Anyway, the list is open to changes, new ideas or comments.

Thank You.

[2017-06-22 01:03] sadasant commented on #285
It might, I'm reffering to values filled by the browsers' auto complete feature not being validated. Let me get back at you with more details later (probably this week).

[2017-06-22 07:31] jamhus commented on #284
Where is the right place to use the form.update() method?
i used it in the beginning of the form
`export default observer(({ form }) => (
    <form>
        {
            form.update({
                YearOfRegistration: EmployeesStore.employees.YearOfRegistration,
                RegisteredIn: EmployeesStore.employees.RegisteredIn,
                WorkingArea: EmployeesStore.employees.WorkingArea

[2017-06-22 08:49] foxhound87 commented on #284
React is telling you that the component render method is not a pure function. Where are you using the update() method?

[2017-06-22 09:08] jamhus commented on #284
i solved the problem by moving the update method to the constructor, thanks for your help :)

[2017-06-22 17:07] sadasant commented on #285
It seems alright, I'll close this until I see something again 👍 thanks for the time!

[2017-06-22 17:07] #285 closed, assigned to nobody

[2017-06-22 18:18] sadasant opened #287 "Is there a way to provide a custom validation message?"
I'm trying to customize fields to have a custom validation message, but I'm not finding a way to do it. Does that exists? If so, how could it be done? I'm up for making PRs! Just a quick direction on the right approach and I'll make a PR for it if y'all want 🙂

[2017-06-22 22:20] #284 closed, assigned to nobody

[2017-06-22 23:05] mprobber opened #288 "Handling Radio Buttons in mobx-react-form"
Hi,
Super cool project! The only issue that I'm finding with it, is that there's no clear way to handle radio buttons (and their states) with this project.  Here's what I ultimately settled on in an effort to get radio buttons used with mobx-react-form

My fields looked something like
`[{name: 'question1', label: 'This is a question?', value: 'answer1', extra: ['answer1', 'answer2', 'answer3']}, {

[2017-06-23 00:58] SimeonC commented on #288
It would definitely be nice if I could just `.bind` a radio type like we can with a checkbox, though I can see how it's not going to be easy (I had a quick look to see if I could make a PR but got lost in Fields/Bindings which I don't understand yet).

I've added a slightly simpler example than @mprobber as it took me a while to figure out what he was doing.

[code]

[2017-06-23 01:29] SimeonC commented on #262
Hi @foxhound87. I've found an issue with server rendering (isomorphic) in my app - it's caused by the following line: https://github.com/foxhound87/mobx-react-form/blob/c8b5f9c44ffbb6a899611a2e901655fd307ae228/src/utils.js#L135.

The issue is that the server ID keeps incrementing on subsequent renders but the client restarts at 1 so I get errors similar to this:
[code]

This issue was solved in a

[2017-06-23 10:47] althamash-chaipoint commented on #287
you can extend validations with custom functions or rules.
https://foxhound87.github.io/mobx-react-form/docs/validation/modes/vjf-custom.html

[2017-06-23 11:06] foxhound87 commented on #262
Hello @SimeonC

I tested this on the rfx-stack and next.js too and it's working well for me. I noticed that it occurs when you create the form instance inside the components instead of the mobx store. Where are you creating it?

[2017-06-23 11:17] foxhound87 commented on #287
You can provide custom errors messages extending the **validation plugin** that you are using as discussed here https://github.com/foxhound87/mobx-react-form/issues/49 (where you can find an example with custom DVR messages). Using VJF is completely transparent because you can define a message for each validation rule. Or you can eventually use `.invalidate('a generic error message')` to invalidat

[2017-06-23 11:53] foxhound87 commented on #288
The package doesn't provide a full support to Radio Buttons yet. I still don't know the right implementation, but I will find a way to properly support them. Thank you all for your use cases. PRs or other analysis are welcome!

[2017-06-23 12:43] sadasant commented on #287
@foxhound87 @althamash-chaipoint yes!! Thank you both!

[2017-06-23 12:43] #287 closed, assigned to nobody

[2017-06-24 12:22] foxhound87 commented on #280
Please, can you show the code of your computed label?

[2017-06-25 08:39] pdfowler opened #289 "Form and fields "hasError" after clear and/or reset"
Is this the expected behavior? I would expect the form to go back to its base state after calling clear or reset, but the form and the required fields re-validate after submit => clear.

Form state after calling clear + reset after a successful form submit:
[code]

[2017-06-26 01:14] SimeonC commented on #262
@foxhound87 Sorry for late reply - couldn't look at it over the weekend. I can replicate it on the rfx-stack demo (cloned from the master branch). I am instantiating my form in the mobx store before I call the first render.

1. Run `npm run web:dev`
2. Open `http://localhost:3000/auth`
3. Refresh the page, you should see the error in the console.

[2017-06-26 13:42] foxhound87 commented on #262
You are right, I used to istantiate the Form outside the hydrated stores. I will try react-uniqueid and provide a custom function as you suggested, thank you!

[2017-06-27 04:06] SimeonC commented on #262
Cool, Let me know if you need/want any help!

[2017-06-28 11:33] foxhound87 commented on #289
The `submit` action will validate the fields, `clear`/`reset` actions doesn't revalidate them.
The `hasError` prop is true and `isValid` prop is false if the field `error` is defined.
In your case, the issue seems related to #273

[2017-06-28 13:26] isomoar opened #291 "Invalid field.key value in observers/interceptors callback func"
When I pass `observers` object into form constructor, in callback function I receive the value of field's `name` prop in `key` instead of actual `key` value. For example in here, I expect `field.key` to be equal `0` or `1`, but not `number`:

[code]
Prints

[code]

v. 1.31.13

[2017-06-28 14:26] foxhound87 commented on #291
Maybe you need the key of the additionalPhones array, you can do field.container().key

[2017-06-28 14:38] isomoar commented on #291
Yeah, this is exactly what I need! Thank you.

[2017-06-28 14:38] #291 closed, assigned to nobody

[2017-06-29 12:21] mdansei commented on #289
Same thing here, the reason being I think is when clearing or resetting the form this will trigger onChange handler, this happens when you have validateOnChange set to true. As a workaround for this that worked for me :
[code]

[2017-06-29 14:09] jamhus opened #293 "Question: Assigning multiple values to the MultiSelect component"
Hi
We are having trouble assigning values to the MultiSelect component.
The following syntax works in the context of an update call:

[code]
But when we attempt to assign an array with multiple objects the component becomes unresponsive.

[code]

[2017-06-29 18:11] foxhound87 commented on #293
The structure of the **Field** `value` depends on the MultiSelect component that you are using.

In your code, I can't see which data you are passing to the `update()` method and I can only suppose that those data structures are the fields definitions...

Consider using a custom `onChange` event handler to handle user input, and use the `extra` field prop to store the select options.

You can find

[2017-06-30 02:06] simonjoom opened #294 "reduce size mobs-react-form use tree-shaking with webpack2"
Hello foxhound,
i used currently your new code of mobx-react-form, i did some adjustment to reduce his size.
i passed 2 days to try decrease his size.

I'm little lazy to create a new repo so i describe here fast

First i change
all "import _ from 'lodash'; "

to
import isUndefined from 'lodash/isUndefined';
import isEmpty from 'lodash/isEmpty';
import isString from 'lodash/isString';
import isInt

[2017-06-30 10:03] foxhound87 commented on #294
Thanks for all your suggestions, I will try that!

[2017-06-30 10:07] foxhound87 commented on #294
About lodash imports I used `babel-plugin-lodash` which should already do that. But I will try your solution.

[2017-06-30 11:36] simonjoom commented on #294
about my lodash solution it's certainly better to use this (more accurate), i use your source code directly , i guess that other developper will do same as me

lodash is not only the big deal, reduce size with webpack2 tree shaking is as well important (all library now try to fit on it :) )
by example i updated my 'recompose' lib recently i saw a change of 1000 octet only because they used  tree-s

[2017-06-30 19:27] foxhound87 commented on #294
Here you can see the new code edited with your suggestions and updated with webpack3  (webpack3 branch):

https://github.com/foxhound87/mobx-react-form/tree/webpack3

the difference when building is very small:

![webpack1](https://user-images.githubusercontent.com/1292494/27751025-aadc31e4-5dda-11e7-85ac-5216c0aa0c47.jpg)
![webpack3](https://user-images.githubusercontent.com/1292494/27751024-aad6

[2017-07-02 03:17] simonjoom commented on #294
yes i saw your change, but the problem is you re still full lodash library imported.
you have to be sure that you have no any more one time
import _ from 'lodash" in one file of your code

check in
mobx-react-form/src/validators/DVR.js

ps:
i use in my webpackconf
  devtool: false,
  // What information should be printed to the console
  stats: {
    colors: true,
    reasons: false,
    hash: fal

[2017-07-02 03:37] mwarger commented on #294
As far as I know, you can also do named imports.  i.e. `import { isInteger, isEmpty, isString } from 'lodash'`.  I like this way of doing it because I think it looks cleaner.

[2017-07-02 03:41] simonjoom commented on #294
yeah no unfortunately it won't help to reduce size, this way will import all lodash as well normally

[2017-07-02 11:11] foxhound87 commented on #294
I updated the branch, no difference also installing webpack2.

About the validators, It's on the roadmap, they will be split into different validator drivers packages.

[2017-07-02 11:52] simonjoom commented on #294
try to change query to options as me .. query is i think is deprecated for webpack2 (but i not sure)

 module: {
    rules: [{
      test: /\.jsx?$/,
      exclude: /(node_modules|tests|bower_components)/,
      options: babelConfig, -> //for me babelConfig is the object with babel plugins and presets
      loader: `babel-loader`,
    },

after me i use
transform-export-extensions

not add-module-

[2017-07-02 12:08] simonjoom commented on #294
just updated my comment read upper about library umd in output

[2017-07-03 10:28] mdansei opened #295 "Overriding input default values not working"
Hi, I'm trying to set default values this way :

`<input  {...form.$('username').bind({value: user.username})} />`

The value appears, but it's immutable. And when outputting the form values, the default values are not shown.

[2017-07-03 12:22] mdansei opened #296 "Validate Field with different Prop (validateWith) instead "value""
Hi, I think adding a property to not validate if values are default is very useful, because a lot of times we deal with updating forms which usually have default values, so there's no point of validating.

Here's a scenario :

you have a user profile form with default values, (e.g. value: 'SteveJobs') and one of the rules is checking if the user already exists with this name, this will trigger an

[2017-07-03 19:49] foxhound87 commented on #295
Because you are overriding the component value which is connected to the store by the bindings using bind(). You should pass the value to the fields definition instead which initializes the stores. Otherwise, you are not using the field value provided by the store of the package, losing
all benefits of the package because in your case the state management should be made by you providing a mobx obs

[2017-07-03 20:15] foxhound87 commented on #296
I think the `onSuccess` should not be called if the value is the default, so the validation should occur normally, because for example if the username is used, you should not send the api request even tough the user is rewriting the same username. Or if the user makes a change with consequent api request then the default username will not match the database anymore. I think it's up to you make a c

[2017-07-03 20:18] foxhound87 commented on #293
@jamhus did you find it useful? Maybe I can help you better if you can elaborate more on your code.

[2017-07-03 20:50] mdansei commented on #295
Thank you, I'm new to reactjs and this is the first time I try mobx, so I try very hard before opening an issue.

[2017-07-03 21:09] mdansei commented on #296
I see your point, but let's suppose `checkUser` rule is async, then this is done before `onSuccess ` is been called, the same happens with your mobx-demo repo. Eventually, I think it's kind of enhancement, and it would be great if you add a field prop to the `dvr` async rules as with `vjf` functions, if you want me to open an issue for it ;)

[2017-07-03 21:33] foxhound87 commented on #295
No problem! You are welcome

[2017-07-03 21:40] foxhound87 commented on #296
onSuccess/onError are always called after the sync/async validation process, what's the point here?

Can you elaborate more about "adding a field prop to the validators". Better if you can provide code examples of your case. Thanks.

[2017-07-04 07:37] mdansei commented on #296
[code]
I was using `dvr `async to do this, but I switched to `vjf` because it has a "field prop", so I can do a check if the value is default or not, but in `dvr` async we don't have this prop (field). I hope that makes sense :)

[2017-07-04 08:49] mdansei commented on #295
Passing the value to the fields definition is not working for me, I don't know why. The value field data is empty whenever I set it, but the data goes to initial property ?!

[2017-07-04 08:50] jamhus commented on #293
in my code , i have 2 multiselect component, in the first one you select up to three countries , and in the second one you choose several cities from these countries

[code]

[code]

and this is the update() method that i run in my store

[code]
and finally , this is the data from my json file

[code]

the problem is that when the data from my json comes with an array (like preferredRegions above)

[2017-07-04 17:14] foxhound87 commented on #295
Please show your form setup

[2017-07-04 17:16] foxhound87 commented on #296
Ok, you want to use different field props to validate it. This is already scheduled for future updates.

[2017-07-04 17:26] foxhound87 commented on #293
1. I cannot see how the fields definition and bindings are done.
2. I don't know which `MultiSelect` component are you using. Consider that a custom input may pass different data structure inside the `onChange` handler.
3. When setting the fields values, they should match a structure compatible with your custom input.
4. Why are you using setTimeout inside the `onChange` handler?
5. Your `onChange

[2017-07-05 08:33] mdansei commented on #295
[code]

[2017-07-05 08:39] jamhus commented on #293
1-
this is the fields definition
[code]

2- the multiselect component im using is the react multiselect in the demo

3-
the reason for using a setTimeout is that i get this error

when i try to update the extra field from the onChange

my onChange value is basically updating the list to give it different cities based on which country i choose

i know it is a little bit complicated but my main issu

[2017-07-05 09:06] mdansei commented on #295
This is my setup :

[code]

[code]

[code]

[code]

[2017-07-05 09:12] mdansei commented on #295
But this is working for me :
[code]

[2017-07-05 09:24] mdansei commented on #295
The thing is I want to set the values from an api based on the current user, so I had two ideas :
1) merging the values with the form setup after the request is done and initializing the form. ( tedious )
2) updating the form with the values like this ( what i'm doing now ) :
[code]

[2017-07-07 09:03] foxhound87 commented on #295
If you are updating the value of one field at time, consider using `field.set('value', ...)` instead of the `update()` method.

[2017-07-07 09:05] foxhound87 commented on #293
first of all, make your render method a pure function

[2017-07-07 11:25] mdansei opened #297 "Value property is set to an object when omitting some field properties"
Hi, I noticed when I omit label, default, placeholder, value, all together this sets the value property
to an object and I think it's the field definition object, here's an example :

[code]

When I log the value property I get this :
[code]

I don't know if this is considered  as a bug, but I think it's good to set the value property to empty if none of other properties are provided :)

[2017-07-07 19:36] #297 closed, assigned to nobody

[2017-07-07 19:39] foxhound87 commented on #297
Thank You for reporting this! Should be fixed now.
Let me know if you encounter other issues.

[2017-07-09 22:36] foxhound87 commented on #294
Do you think you can contribute with a PR on the new branch?

[2017-07-14 08:53] mdansei opened #298 "Can not access validator object with custom vjf directly"
Hi, I'm trying to use `validator ` object with my custom `vjf` , but what I get is `undefined` if I type something like this :
`validator.isEmail(field.value)`

on the other hand this is working :
` validator.package.isEmail(field.value)`

[2017-07-14 19:09] Marinolinderhof opened #299 "how to use a observer inside the form validationHandlers"
[code]
and now i want to do something like
``` export default inject({store})( observer(new Handlers({ fields }, { plugins })) );```

But that doesn't work, what i'm i missing?

[2017-07-15 09:14] foxhound87 commented on #298
Thank you for reporting this.

[2017-07-15 09:16] foxhound87 commented on #299
It seems you are trying to use the Form instance as a react component decorated with the mobx-react functions. The Form cannot be used in that way because it is not a react component, it is a mobx store.

[2017-07-16 14:29] shanielh opened #300 "Validate without changing state"
I would like to validate a form without changing the validation state. The scenario is that I'm "previewing" the output of the form without asking for user permission in every field change, for that I don't want to change the validation state (Errors that was previously should stay, new errors should not be added).

Is there a way to do that right now?

BTW - If you want I can pull request :+1:

[2017-07-16 15:13] Marinolinderhof commented on #299
My bad. you may close this issue. I tried to use the observer to import actions. you can do something like

thanks for your help and the whole mobx-react-form cause i love it.
[code]

[2017-07-18 09:38] foxhound87 commented on #300
Thank you for the PR. Your implementation seems correct, but I think It can be achieved without touching the Validation Plugins files, maybe can be implemented directly into the Field class file.

[2017-07-18 10:02] shanielh commented on #300
There is a problem with the implementation. It doesn't send a new "isValid" value which based on the latest validation data.

I'll be happy to have some guidance if you have alternative implementation idea.

[2017-07-18 14:33] foxhound87 commented on #300
`isValid` depends on the fields error messages. If the messages are not set, `isValid` is true.

[2017-07-18 18:26] foxhound87 commented on #300
For this purpose we may introduce a new computed property for the errors messages to be defined on changeState=false.

As the whole Form state is mutating anyway, I think 'changeState' is misleading, something like 'updateErrors' or something similar should be better.

Did you tried the 'showErrors' option, maybe it can be useful for your case?

[2017-07-18 23:06] aldarund opened #302 "Using with card-react delete on type behaviour"
When using with https://www.npmjs.com/package/card-react it behave pretty strange. For example for card number starting from second quarter it start to delete number as you type.  See video:
https://www.dropbox.com/s/x87zwaxwqf2ju6x/2017-07-19_02-02-10.mp4?dl=0
But if you type fast enough it doesnt delete.
Form is pretty simple
[code]
It start behave like this as soon as i add {...form.$('card_num

[2017-07-19 02:29] chocholand opened #303 "Why separated properties not working in multi select?"
I made field.
[code]

but not working in MultiSelect (mobx-react-form-demo)

[code]
so I add onChange but still not working.

So I changed to united properties. It's working.
[code]

What's the difference between the two?

[2017-07-19 08:10] foxhound87 commented on #302
Please show your bindings (bindProps).

The `bind()` method calls the default input **bindings**. So maybe you need to create a custom binding for your custom component/input. Take a look here: https://foxhound87.github.io/mobx-react-form/docs/bindings/custom.html

[2017-07-19 08:14] aldarund commented on #302
@foxhound87 im not sure how custom binding will help.  The input is not a custom component.  card-react  just use a plain input fields. e.g.
[code]

[2017-07-19 08:15] foxhound87 commented on #303
In your code, the form structure and values are different: in the **separated mode** you are defining `functionType` as an array, in the **unified mode** is an object.

The main difference between the two modes is that with the **unified mode** you cannot handle complex nested data structures like nested array of objects.

[2017-07-19 08:17] foxhound87 commented on #302
What are you passing to the `bind()` method as `bindProps` ?
Try to provide that props to the fields definition instead.

[2017-07-19 08:19] aldarund commented on #302
@foxhound87 in this usecase it just an empty dict. e.g. {...form.$('card_number').bind({})}

[2017-07-19 08:21] chocholand commented on #303
@foxhound87 yeah, I know.
I'm just wondering why **the separated mode** is not working in MultiSelect (mobx-react-form-demo) and **the unified mode** is working in that.
Do you mean that I have to change to this?
[code]

[2017-07-19 08:25] foxhound87 commented on #302
What happens if you remove the card-react component and leave just the input? If it works then it means that the card-react component has its internal state management which is not compatible with the mobx stores of mobx-react-form package. In that case, you need to find a workaround.

[2017-07-19 09:01] aldarund commented on #302
@foxhound87 well obviously it works without card-react :) basically it just traversing input and react.cloneElement them with events
https://github.com/shatran/card-react/blob/master/src/components/card-react-form-container.cjsx#L79

so this wont work with mobx form?

[2017-07-19 09:22] foxhound87 commented on #303
yes, and 'functionType[]' should be 'functionType'

[2017-07-20 06:19] shanielh commented on #300
I did try it. It wasn't useful because setting it to true did show errors on fields that are pristine, and when setting to false - it hide the errors on fields that are not pristine.

[2017-07-20 08:17] foxhound87 commented on #302
I will try this component

[2017-07-21 02:48] chbdetta opened #304 "Prevent Validation of "disabled" Fields (validateDisabledFields Option)"
Trie `disabled`, but the form still validate the disabled field. The use case is where the input could be hidden by the user, and when they do so, I want to stop validate those hidden fields so the form submission can pass.

[2017-07-21 02:49] chocholand commented on #303
I changed to this, but not working.

[code]

and I changed too, in mobx-react-form-demo, It's not working too.
[code]

I just want to know how it works.

[2017-07-21 08:19] foxhound87 commented on #304
This feature is not yet implemented but in the meantime, you can do it yourself by using [observe](https://foxhound87.github.io/mobx-react-form/docs/events/mobx-events.html) with `disabled` as `key` prop which calls a function that removes and adds the validation rules/functions.

I will implement it in the future updates. Thank You for your suggestion!

[2017-07-21 08:20] foxhound87 commented on #303
It should work, I will take a look to check what's wrong.

[2017-07-21 08:59] d4rky-pl opened #305 "Missing Define or Override Error Messages section in docs"
The entire section `Define or Override Error Messages` links to non-existent files.

[2017-07-21 12:51] d4rky-pl opened #306 "Inconsistency in .errors()"
If a field never had a validation error then the return value for `.errors()` on that field is `null`. But if a field had a validation error that was then resolved, the return value is `undefined`.

This tripped me over when I was writing a function to check if any field has any active errors (which is different from `isValid`).

[2017-07-21 16:03] foxhound87 commented on #306
Thank you for reporting this.

[2017-07-21 16:07] foxhound87 commented on #305
I'm aware of this, thank you for reporting this anyway.
This topic was discussed in some past issues if you need it.

[2017-07-22 07:20] shanielh commented on #300
@foxhound87 - What do you think I should do? if I don't update the errors, there must be a way to get the new validation status without mutating the form. I was thinking on returning the new validation status from the promises somehow.

[2017-07-23 11:28] farrukh-abbas opened #307 "re/calculating all form fields after one field is changed"
Hi,

I'm using the Mobx-react-form nestedField demo example as it is (the same code). I want to be able to run a function in the onchange event of specific fields, the function needs access to all the fields in the form in order to recalculate / update other fields of the form.

what I want to achieve is a calculator where items are added to a complex form and as soon as the quantity or the price

[2017-07-24 17:19] foxhound87 commented on #307
I suppose you are using an array of fields to handle the items. So you can create a mobx computed property which will iterate all fields and sum all values.

[2017-07-24 17:25] farrukh-abbas commented on #307
yes i'm using the construct specified in the nestedFields demo project. here is a sample

[code]

Im also trying to figure out, how would i update the relevant list subtotal meaning how to know the index of the list of which the item was updated.

[2017-07-24 17:25] #299 closed, assigned to nobody

[2017-07-24 17:36] foxhound87 commented on #300
I will take a look as I find some time. But I think the way is to create a new error messages property in the Field class, as I said previously. The flag into the validation plugins will tell which property to use to save the messages, instead of using the regular one. Then, into the Field class, `checkValidationErrors` and `resetValidation` should be reimplemented to check also the new "hidden" e

[2017-07-24 17:39] #293 closed, assigned to nobody

[2017-07-24 17:39] foxhound87 commented on #293
Please, if you need more help, feel free to reopen this issue.

[2017-07-24 17:40] foxhound87 commented on #295
If you need more help, feel free to reopen this issue.

[2017-07-24 17:40] #295 closed, assigned to nobody

[2017-07-24 17:41] foxhound87 commented on #299
Thank you! If you need more help, feel free to reopen this issue.

[2017-07-24 18:02] foxhound87 commented on #307
I think you can do something like:

[code]

to get the key of an array element, use the `key` prop.

[2017-07-24 18:04] foxhound87 commented on #307
If you need to know which is the parent field, use the `container()` method on the current field.

[2017-07-24 18:04] farrukh-abbas commented on #307
Great, thanks.

Where should i call this function? sorry, Im a newb with react and mobx.

how will this function be triggered every time any value changes in the form ?

[2017-07-25 09:33] foxhound87 commented on #307
The mobx computed can be used inside a react component decorated with mobx-react observe. The computed is written as a function but is used like a prop, inside your react component call it without "()", it will act as a property, and will be updated automatically on every state change.

[2017-07-25 10:56] farrukh-abbas commented on #307
super thanks alot. Good work with the library.

[2017-07-26 00:37] aldarund opened #308 ".error ( and hasError) filled after clicking field without filling anything"
E.g. i click field then click other field and the first field now has a error although i didnt enter anything yet
Is it possible to display error only when user entered something?
I tried to play with isPristine , isValid, hasError, focused properties without much luck. If i display based on isPristine and hasError - it work initially as i expect ( no error displayed when just clicking over fields

[2017-07-27 08:08] foxhound87 commented on #308
The errors depend on the validation rules/functions (for example, if you don't need to show an error when the input is empty, just don't use the `required` rule), or maybe you need to set the `validateOnBlur` or `showErrorsOnBlur` from option to `false`.

[2017-07-27 08:11] #307 closed, assigned to nobody

[2017-07-30 10:21] simonjoom commented on #294
Just to comment about tree-shaking:

I constated that tree shaking cannot work if i use one package (or library already babelyfied ) or if i use directly from the source code.

For me now, to reduce code i use alias of my important lib to the src and let webpack and babel do their work.

By example i use material-ui so i added:
      'material-ui': path.resolve(__dirname, './temp/material-ui-next/

[2017-08-02 16:21] sadasant opened #310 "form.values().path isn't consistent with form.$(path).value"
Currently (on version 1.31.15), we have a form with nested fields that is getting mixed results when we try to retrieve values. The nested fields are composed of a simple field called `organization` with a fields property, where there's at least one field called `organization.name`, for example. When we try to get the values with form.values(), the result for organization is undefined, however whe

[2017-08-02 17:45] foxhound87 commented on #310
Please, when opening this kind of issue it's better to provide at least the code, what's the form structure? I can fix the issue faster if you replicate it providing a github repo or a [codesandbox](https://codesandbox.io/) with comments and logs.

What's `form.values().path` ?

[2017-08-02 17:51] foxhound87 commented on #308
My answer helped? Maybe I don't get the point, can you elaborate this better?

[2017-08-02 18:29] trekinbami opened #311 "form.values() doesn't return type="file" value"
Hi! Great work on the plugin!

I'm running a form with a `type="file"` (dropzone). Went through the example, and I've set up a Form class which extends `MobxReactForm` in which I have my onSuccess and onErrors methods. These give me access to the Form and gives me access to all of its properties and methods (https://foxhound87.github.io/mobx-react-form/docs/api-reference/form-methods.html)

Everyt

[2017-08-04 20:57] jcalfee opened #312 "Using .bind() in render"
Can this bind be moved outside of the render life-cycle (outside of render)?

https://foxhound87.github.io/mobx-react-form/docs/getting-started.html
[code]

If the form is re-rendering outside of mobx then this bind is going to unfortunately ensure react will consider the virtual DOM different and force it to update the real DOM even if the rest of the render did not change.

[2017-08-07 15:47] foxhound87 commented on #311
You can retrieve all the files from the Field `files` property, in your case: `form.$('image').files`

[2017-08-07 16:19] foxhound87 commented on #312
What are you trying to achieve? Can you better explain the last sentence?

You can use it to just retrieve the field's properties, or using mobx `autorun` outside the react render method:

[code]

more info on mobx autorun: https://mobx.js.org/refguide/autorun.html

[2017-08-08 20:19] jcalfee commented on #312
It is not related to mobx.  It is usually better to avoid using .bind in the render method.  Bind always returns a new object reference.  It causes react to re-render even if the rendered DOM really did not change.  This will cause loss of performance.

[2017-08-09 11:15] foxhound87 commented on #312
You should provide a test case. I'm using `mobx-react-devtools` to check the rendering and it's all ok. `mobx-react-form` needs `mobx`, it will ensure a better rendering, if you don't use it can depend on your state management implementation. Anyway, you can remove `bind()` and manually pass the props to the components if you prefer.

[2017-08-09 17:14] trekinbami commented on #311
Well, that was simple. Thank you!

[2017-08-09 17:14] #311 closed, assigned to nobody

[2017-08-09 23:29] jcalfee commented on #312
I'm not using the lib at the moment so I really can't do a test case.  I think your on the right track though if this is a safe change and something you want.  I'm just giving a tip that I think will help your examples look good.

[2017-08-10 10:52] foxhound87 commented on #312
Thanks for the suggestion, really appreciated. I'm going to close this issue, feel free to reopen if you need.

[2017-08-10 10:52] #312 closed, assigned to nobody

[2017-08-15 15:44] SebastianMuniz opened #313 "I can't get field object in my component, please help!!!"
[files.zip](https://github.com/foxhound87/mobx-react-form/files/1225581/files.zip)

Hey Claudio, I been trying to use your library, and I can’t get my head around the following thing. Where did “field” come from???
I been trying to wire my own field handler let’s say “handleMyFieldOnChange"
to your field handler. I had read all your blog post and docs but I cant figure out where you get that field

[2017-08-17 09:13] foxhound87 commented on #313
You get the field instance with `form.$('name')` and you can wire the handler in this way:

[code]

[2017-08-17 15:14] SebastianMuniz commented on #313
I though i tried that, I'm feeling a little embarrased right now.
Thanks you very much!!!
I was neeeding this to complete a task this week and you saved us!
Really thank you!!

[2017-08-17 15:14] #313 closed, assigned to nobody

[2017-08-20 13:18] foxhound87 commented on #310
Any update?

[2017-08-21 09:35] anusree-mmlab commented on #218
const onChange = field => (e, k, payload) => {
  field.set(payload);
};

event.target.value is undefined with React Native TextInput ...field.bind(onChange: handleChange(field)).

How can i get the value inside handleChange?

[2017-08-21 10:27] foxhound87 commented on #218
In react native you should use `onChangeText`:
https://facebook.github.io/react-native/docs/textinput.html

[2017-08-21 10:30] foxhound87 commented on #218
If you wanto to use `onChangeText` inside the `bind()` method, then you have to create custom bindings for your TextInput: https://foxhound87.github.io/mobx-react-form/docs/bindings/custom.html#implement-a-rewriter

[2017-08-21 10:31] anusree-mmlab commented on #218
<TextInput value={this.state.email}  {...this.field.bind({id:'email', type:'text', placeholder:null,  onChange: this.handleOnChange(this.field) })} style={{width:100, height:40}}/>

This is current line

 <TextInput value={this.state.email}  {...this.field.bind({id:'email', type:'text', placeholder:null,  onChangeText: (text) => this.handleOnChange(text,this.field) })} style={{width:100, height:40

[2017-08-21 10:33] anusree-mmlab commented on #218
Yes i tried Custom Bindings too, the way i implemented is not working

[2017-08-21 10:43] foxhound87 commented on #218
First of all, I suggest to use the package [fields definition](https://foxhound87.github.io/mobx-react-form/docs/defining-fields.html) for the props instead of passing them to the `bind()`. this because passing the props to the bind method they will skip the mobx store. It's not the default behavior to use the package, it's just to "overwrite" them. Instead, If you define the props into the fields

[2017-08-21 11:00] anusree-mmlab commented on #218
I just wanted the event.target.value worked in the onChange: handleChange method for my React Native TextInput on the ...field.bind({onChange: HandleChange(field)})
Can you please help me out in that ?

[2017-08-21 11:12] foxhound87 commented on #218
React Native does not have an event object passed to the `onChange`, as you can see in the official doc, you need to use `onChangeText`, this should work without bindings:

[code]

[2017-08-21 12:36] anusree-mmlab commented on #218
Yes i got the input text. Is it possible to apply field.validate() after setting the value?
I added it on handleOnChange, Later inside onChange: () => {field.validate()}, but none of them worked.

[2017-08-21 12:55] foxhound87 commented on #218
You can set the Form option 'validateOnChange: true' and showErrorsOnChange: true' (it will work for all fields). Otherwise you can call 'field.validate({ showErrors: true })' just after setting the value to validate just the single field (maybe you need to just show errors)

[2017-08-21 13:02] foxhound87 commented on #218
Or you can set the same form options to a single field definition too using an 'options' object!

[2017-08-21 15:54] foxhound87 commented on #310
When trying to replicate your issue I found another bug, I think It's related to yours.

I'm releasing a fix, please check it out. Thank you.

[2017-08-21 15:58] foxhound87 commented on #310
I used this fields structure:

https://github.com/foxhound87/mobx-react-form/blob/cbc429076b9cfaf8d49bc2cbd9d3892d1c1c51a0/tests/data/forms/fixes/form.r.js#L3-L8

[2017-08-21 16:50] #306 closed, assigned to nobody

[2017-08-21 16:50] foxhound87 commented on #306
Made a fix, without errors we will get always `null`.

[2017-08-21 17:12] foxhound87 commented on #298
Made some test and it's working in my case using validator v8.

If you can provide your packages versions or a [CodeSandbox](https://codesandbox.io/) would be better for me to help you.

Thank you.

[2017-08-21 17:12] #298 closed, assigned to nobody

[2017-08-22 01:15] #273 closed, assigned to nobody

[2017-08-22 01:15] foxhound87 commented on #289
The fields are now validated also on `reset` and on `clear` and  `isValid`/`error` are always synced with the validation rules. This was required to fix #273

[2017-08-22 01:15] #289 closed, assigned to nobody

[2017-08-22 01:16] foxhound87 commented on #273
Released a fix, now should work as expected! Sorry for the delay!

[2017-08-22 04:54] anusree-mmlab commented on #218
field.validate({ showErrors: true }), is not showing errors.
I think, i should use it with normal react. With RN it seems to be difficult

[2017-08-22 11:56] foxhound87 commented on #218
Are you familiar with mobx?

Are you using the **mobx-react** `observer` decorator on your React components?

[2017-08-22 12:43] anusree-mmlab commented on #218
Thanks for your concern :)

I am newbie to mobx, react, react native [that is the issue]

Now i am doing it with observer, observable, action etc. I am creating my own validator like this

@observable assessment_form_obj = {
        assessor_name:{value:'',
                       validation:['required','email'],
                       regex:{'required':'req','email':''},
                       mes

[2017-08-22 13:50] foxhound87 commented on #218
That code is not related to **mobx-react-form**.
Please, if you still need help, create a [CodeSandbox](https://codesandbox.io/) with your form config.
Thank You.

[2017-08-25 05:38] soodvaibhav opened #315 "Dynamic Fields: Add new input fields on button click"
Hi,
I am working on a form where the user inputs some set of data and if requires then they can click on add button to create more input fields.
Is it possible with mobx-react-form to dynamically add more input fields on click?

[2017-08-25 11:50] foxhound87 commented on #315
Yes, you can add fields dynamically.

On the demo repository, you can find an example, it uses a select input to create new fields, but you can start from that code and change it for your needs:

https://github.com/foxhound87/mobx-react-form-demo/blob/master/src/components/forms/FormDynamicFieldsSelect.jsx

[2017-08-25 11:56] soodvaibhav commented on #315
Thanks for your quick response. :+1:

[2017-08-25 12:02] foxhound87 commented on #315
You are welcome!

[2017-08-26 14:39] #304 closed, assigned to nobody

[2017-08-26 14:39] #296 closed, assigned to nobody

[2017-08-26 14:45] #315 closed, assigned to nobody

[2017-08-26 21:17] dalcib opened #316 "Computed Field"
I have a store like this:
[code]
How can I create a form where `total` is updated automatically, like this:
[code]

[2017-08-27 17:01] foxhound87 commented on #303
I replicated the issue, thank you for reporting this.

You encountered this issue because defining `values` as object/array when using **separated mode** creates nested fields automatically. Instead, that values should be set to a single field.

Until I fix it, you can avoid the `values` in fields definition (at least for that specific field key), instead use `set()` after the form instance is cre

[2017-08-27 17:12] foxhound87 commented on #316
You can do something like this:

[code]

on your component:

[code]

Notice that we are not creating a `total` Field Instance because the package doesn't still support computed values.

[2017-08-27 17:14] foxhound87 commented on #316
Related https://github.com/foxhound87/mobx-react-form/issues/280

[2017-08-28 03:05] dalcib commented on #316
Thanks.

[2017-08-28 03:05] #316 closed, assigned to nobody

[2017-08-29 10:10] Metavirulent commented on #150
What's the status of this branch? Will it get merged into master at some point?
I think having types would be a huge benefit for us Typescript users and make the library easier to get into.

[2017-08-29 12:41] foxhound87 commented on #150
Hi @Metavirulent,
it's on the [roadmap](https://gist.github.com/foxhound87/f176f19054148647e2a38d60cc09259b) and yes I will merge it when it's ready, but I don't have an ETA, @anotherpit started initially, but now the branch needs an update, the code is an older version,
If someone can help us to speed up the process I will update the branch with the new version asap.

[2017-08-29 22:48] robksawyer opened #317 "Why aren't values that are filled in by Form Filler (Chrome extension) passed along?"
First off, thanks for the work on mobx-react-form. It's become really handy.
The issue:
I'm trying to use the [Form Filler Chrome extension](https://chrome.google.com/webstore/detail/form-filler/bnjjngeaknajbdcgpfkgnonkmififhfo?hl=en) to quickly test forms and when I submit, none of the data is being sent. This is happening for the MaterialTextField component and it's one that I copied from the de

[2017-08-30 03:10] robksawyer opened #318 "Using form field names that contain a period."
I'd like to use something like the following name as I'm using a KeystoneJS API and that's common for model properties.

[code]

But, I keep getting the following error when doing so. Any quick ideas for a fix?

[code]

`PurchaseFormSettings.js`
[code]

[2017-08-31 02:30] pdfowler commented on #318
Just ran into this exact issue. Was using `flattenjs` to convert a set of nested settings into fields, and ran into this issue.

As a workaround for right now, I'm replacing periods with `~~~`, and reversing it on save.

[2017-08-31 13:01] foxhound87 commented on #317
I installed the Form Filler extension and yes, it seems the `onChange` handlers are not fired.

I will investigate further.

[2017-08-31 13:15] foxhound87 commented on #318
The dots are reserved for objects props which become nested fields.

For example, @robksawyer should do this instead (using separated fields definition):

[code]

then you will able to use the selector: `form.$('description.brief')`

When you need to update the values:

[code]

@pdfowler is your case different?

[2017-08-31 13:21] foxhound87 commented on #317
It also seems that mobx events are not executed when the observables changes.

[2017-09-01 10:51] foxhound87 commented on #262
In version 1.32 the Form has the `uniqueId` option, you can define a function that takes the field instance as input.

Example:
https://github.com/foxhound87/mobx-react-form/blob/0f804601ada2a4d10ed32237ed63ffbe9feac052/src/utils.js#L141-L142

[2017-09-02 05:13] ecstasy2 opened #319 "Add an option to disable the debouncing effect during testing."
Just wasted couple of hours trying to make some enzyme mount test pass. The issue seems to be the fact that we debounce validation. And since while testing you can alternate a lot of values on a field, not all of them are processed right away.
What that mean is that you need to add a delay to make the test pass. The default `validationDebounceWait` is 250 milliseconds. So the wait time is high. If

[2017-09-02 13:02] foxhound87 commented on #319
The tests should handle promises.
Have you tried to use the validate() method?
Can you post your test code please?

[2017-09-02 23:16] dyf2015 opened #320 "data disappear"
when i add two row and input "1", the second row will disappear！

![image](https://user-images.githubusercontent.com/16314313/29999361-d4c367d2-9077-11e7-9a76-2475b5e1cea3.png)

[2017-09-02 23:21] dyf2015 commented on #320
Only input 1 will disappear

[2017-09-03 10:18] foxhound87 commented on #320
Please, can you replicate your issue on a repo or codesandbox? Thank You

[2017-09-03 10:20] foxhound87 commented on #320
Please also show your handlers/hooks if you are using custom ones. Are you using the update() method?

[2017-09-03 10:24] dyf2015 commented on #320
![image](https://user-images.githubusercontent.com/16314313/30002171-1f497d16-90d5-11e7-9a64-1ee19df4c74b.png)

[2017-09-03 10:25] dyf2015 commented on #320
use update to add row

[2017-09-03 10:26] dyf2015 commented on #320
![image](https://user-images.githubusercontent.com/16314313/30002182-59989786-90d5-11e7-8e18-df8f0758c20b.png)

[2017-09-03 10:28] dyf2015 commented on #320
![image](https://user-images.githubusercontent.com/16314313/30002192-a8666e92-90d5-11e7-8a20-3aaeacf3a679.png)

[2017-09-03 10:29] dyf2015 commented on #320
thank you!

[2017-09-03 10:30] dyf2015 commented on #320
![image](https://user-images.githubusercontent.com/16314313/30002205-f472c31c-90d5-11e7-8e69-8284adb5fcf5.png)
![image](https://user-images.githubusercontent.com/16314313/30002208-fda208b2-90d5-11e7-9036-d185aa5f759e.png)

[2017-09-03 11:18] foxhound87 commented on #320
The `update()` method will recreate the fields tree, for this reason, you lost previous fields in your array.

You should use the [`add()`/`del()`](https://foxhound87.github.io/mobx-react-form/docs/actions/shared.html#add--del) methods to handle the array of fields, or you can wire the built-in [`onAdd`/`onDel` Event Handlers](https://foxhound87.github.io/mobx-react-form/docs/events/event-handlers

[2017-09-03 11:23] foxhound87 commented on #320
Right now I'm seeing that about the **update()** method the docs say "for example add/del fields array". I forgot to remove it, it was for an older package version. Fixing.

[2017-09-03 11:39] dyf2015 commented on #320
But this happens when I enter the number 1 in the text box on the second line, and it does not happen when I enter any other character.

When I default two lines of data will occur, and will only occur in the second line.

[2017-09-03 11:40] dyf2015 commented on #320
When I entered the data is the default two lines, I only triggered the text box onchange, and did not trigger update.

[2017-09-03 11:41] dyf2015 commented on #320
All other types of fields can be used normally without causing the entire line to disappear.

[2017-09-03 11:42] dyf2015 commented on #320
This is a strange question, thank you!

[2017-09-03 12:26] foxhound87 commented on #320
I cannot replicate your issue, it can be related to your code.

[2017-09-03 12:29] foxhound87 commented on #320
Please replicate your issue on a minimal implementation with codesandbox

[2017-09-03 12:39] dyf2015 commented on #320
Ok if you have codesandbox url

[2017-09-03 12:45] foxhound87 commented on #320
https://codesandbox.io/

Thank You

[2017-09-03 13:25] dyf2015 commented on #320
https://codesandbox.io/s/w246qj0jkk

[2017-09-03 13:26] dyf2015 commented on #320
Simulation is good, you try to enter the text of the second line 1, you can see the abnormal results.

[2017-09-03 13:27] dyf2015 commented on #320
![image](https://user-images.githubusercontent.com/16314313/30003384-9c86c9f0-90ee-11e7-9019-18ec2c1e44c0.png)

[2017-09-03 13:31] dyf2015 commented on #320
I went to sleep, hope this can help you find the problem, thank you!

[2017-09-03 14:44] #320 closed, assigned to nobody

[2017-09-03 14:46] foxhound87 commented on #320
Relased a fix, this issue was created by a misunderstanding of #310. I rolled back that fix.

[2017-09-03 15:03] foxhound87 commented on #310
@sadasant I had to rollback this fix because I misunderstand your issue.

Please, can you elaborate it better? Thank You.

[2017-09-05 16:55] AndrewGulidov opened #321 "form.update() populates 'initial' property in array field."
Hello.
I have next fields.
[code]
Custom binding is very simple and doesn't refer to the issue.
[code]
In a constructor of my component I do following:
[code]
Active rule is an object with initial values. For example `aliases` property contains an observable array with values ['123', '456']. After `this.form.update(this.store.activeRule);` 'aliases' field contains initial array not only in `value`

[2017-09-06 00:13] dustinphipps commented on #321
I'm seeing this same issue using a [select input](https://ant.design/components/select/) similar to a multi-select, but with the ability to add custom tags on the fly. The `value` property of this element takes an array, and if I give it an empty array as an initial value, it works fine. I can type into the input and it updates the associated field's `value` property by pushing new strings onto th

[2017-09-07 10:44] foxhound87 commented on #321
If you pass an array to `update()` method, it will recreate the array, each element becomes a new field deleting the old elements (for this reason the `initial` prop is defined for each of the newly created nested fields). This approach will not work with a select input, as it doesn't work with nested fields (instead you need an array as the Field `value` prop, not nested fields).

Using `set()` (

[2017-09-07 12:04] darkmind-games opened #322 "Cannot read property 'preventDefault' of undefined"
Hey,
I have a form with  input
and I have a problem when form submitted, in console log got this error

[code]

Component form example

[code]

[2017-09-07 15:44] dustinphipps commented on #321
@foxhound87 Thanks! Looks like `set()` does in fact work. Great library, by the way.

[2017-09-07 15:56] foxhound87 commented on #322
What's the implementation of your ButtonComponent?

[2017-09-07 16:00] darkmind-games commented on #322
[code]

[2017-09-08 08:07] foxhound87 commented on #322
You have to pass the Proxy `(e)` object to your action, which in your case is:

[code]

or more concise (it's implied):

[code]

[2017-09-08 09:13] AndrewGulidov commented on #321
@foxhound87 I've used `update()` instead of `sync()` and it works. Thank you.

[2017-09-08 09:13] #321 closed, assigned to nobody

[2017-09-08 12:26] foxhound87 commented on #321
Great!

[2017-09-08 23:56] aldarund opened #323 "onSubmit stopped work in onClick since 1.32"
Was working before 1.32
[code]
And nothing happens on click after 1.32

[2017-09-09 11:53] foxhound87 commented on #323
The Event Hooks & Validation Hooks have been reimplemented in version `1.32`, now you have to create an `hooks` method which returns the hooks (if you are extending the class), or an `hooks` object (if you want to pass them on form initialization).

For more info, take a look at the new documentation pages:
[Validation Hooks - on form initialization](https://foxhound87.github.io/mobx-react-form/do

[2017-09-09 12:11] #322 closed, assigned to nobody

[2017-09-11 21:27] AndrewGulidov opened #324 "form.update() problem with array of objects having 'value' property"
Hello.
If I want to populate a field with an array of objects it works fine in almost all cases. But if an object has property named 'value' something strange happens.
For example if I have a following array:
[code]
after `form.update({arrayField: array})` in the arrayField's `value` I have the passed array, But if we have an array like following:
[code]
after `form.update({arrayField: array})` in

[2017-09-12 12:49] hillmark opened #325 "Init form with values from selected document"
I have a routing mechanism, which holds a document :id that when parsed updates a `selectedDocument` observable field in my root store with an object reference to that document taken from an array of documents.

When the component at the /document/:id/edit path is rendered (for example), I would like the corresponding form instance to have it's values populated with those of the currently `selecte

[2017-09-12 16:11] robksawyer commented on #317
@foxhound87 Thanks for looking into it.

[2017-09-12 16:15] robksawyer commented on #318
@foxhound87 great, thanks!

[2017-09-12 16:15] #318 closed, assigned to nobody

[2017-09-12 16:18] AndrewGulidov commented on #167
It seems that another case exists when 'null' as default value can be useful. If we have a conditional input, that is rendered, for example, when a checkbox set to `true`.
If we change other fields on the form and keep the checkbox with `false` value - the initial value of the input should be `null`, but not an empty string.
@foxhound87 Do you have any updates about this issue maybe?

[2017-09-13 08:32] foxhound87 commented on #325
You can create a new instance or update it, it's up to you. For example, if you have to define the field structure dynamically you can create the instance when you hit the page.

The update of the form instance can be done usually in `componentDidMount` react lifecycle method (or for specific solution depending on your routing system).

[2017-09-13 08:42] foxhound87 commented on #324
I replicated and found the issue, but I have to test it more.

Thank You for reporting this.

[2017-09-13 09:12] foxhound87 commented on #167
@AndrewGulidov Right now you can convert to null when the `get()` method is called, you can try to use [Input/Output converters](https://foxhound87.github.io/mobx-react-form/docs/extra/converters/input-output.html) to achieve that.

In the future, I will provide a better mechanism to convert field data with custom logic which will be also managed with additional computed props and that could be va

[2017-09-13 09:12] hillmark commented on #325
That's very useful, thanks.

When I tried: `form.init(values)` on an existing form instance the validation was no longer being applied. Are additional steps required when re-initializing / updating the form instance with new values?

[2017-09-13 19:29] #323 closed, assigned to nobody

[2017-09-13 23:34] robksawyer opened #327 "componentWillUnmount the form settings?"
I have the following setup in my `LoginForm.jsx`.
[code]

And I'm wondering if by not currently using `componentWillUnmount` it's causing me issues when switching between my sign up form (setup in a similar manner as above) and login form. The issue is that when I get back to the login form, after visiting sign up form, I get a password validation error (see image below).

What's the proper way to

[2017-09-13 23:39] robksawyer commented on #327
**Update:** The `delete this.form` doesn't fix the error.

[2017-09-14 08:03] foxhound87 commented on #327
Hi @robksawyer, maybe the `clear()` method can solve your issue.

[2017-09-14 08:42] #324 closed, assigned to nobody

[2017-09-14 11:20] chocholand commented on #262
@foxhound87 I'm building with ssr. how to use uniqueId?
[code]
I still have the problem.
Instead, figure out why the markup being generated is different on the client or server:
(client)  type="email" id="0.4456513283638319" na
 (server)  type="email" id="0.9525385504937858" na

[2017-09-14 11:37] chocholand commented on #262
I solved this.
[code]

[2017-09-15 15:14] robksawyer commented on #327
@foxhound87 Thanks, I also found <https://github.com/foxhound87/mobx-react-form/issues/111> helpful.

[2017-09-15 16:19] foxhound87 commented on #327
Great! Can we close this?

[2017-09-15 17:40] robksawyer commented on #327
Yep.

On Fri, Sep 15, 2017 at 9:20 AM Claudio Savino <notifications@github.com>
wrote:

[2017-09-15 19:03] #327 closed, assigned to nobody

[2017-09-16 22:42] robksawyer commented on #305
@foxhound87 Does the ability to make custom error messages for existing validation rules exist? If so, can you point me to some information? I'd basically like to add custom messages to the following because the labels are long and they don't make sense being used in the validation message.

Labels:
[code]
and

[code]

Current validation error message example.
[code]

I'd like it to be.
[code]

[2017-09-16 22:51] robksawyer commented on #305
For others, I searched the closed issues and found the following related issues.

- <https://github.com/foxhound87/mobx-react-form/issues/287>
- <https://github.com/foxhound87/mobx-react-form/issues/49>

The following snippet was most helpful.

Overriding error messages is different depending on which plugin you're using.

- Using Vanilla Javascript Validation Functions (VJF) you can provide it in

[2017-09-18 06:01] devdoomari commented on #150
how about moving the whole project to typescript? it's nearly a double-work to write JS and then write d.ts files when you can just write TS once...

[2017-09-21 18:07] hillmark commented on #325
That helps. Thank you.

[2017-09-21 18:07] #325 closed, assigned to nobody

[2017-09-28 13:43] davorbadrov opened #328 "Support for rules/related validation with Array path. (DVR)"
I'm not sure if I'm doing something wrong, but I'm trying to make validation work with an array of objects where 2 properties are related to each other, e.g. at least one needs to be present.

In the demo below: members[].id should be required unless the members[].age is present.
At least that's the goal, am I doing something wrong or is there a bug in the lib?

[Link to the demo](https://www.webp

[2017-09-28 15:11] foxhound87 commented on #328
Right now using the array notation in the rules is not supported, you should specify the index of the array to validate inside the rule, so I suggest to dynamically create the rules:

[code]

I updated your demo: https://www.webpackbin.com/bins/-Kv7y24BahF4zIdxa1nv

I will implement this feature in the future versions.

[2017-09-28 15:11] foxhound87 commented on #328
Related to #249

[2017-09-28 15:15] foxhound87 commented on #249
Closing this issue.
Discussion continues in #328
(temporary solution and examples available)

[2017-09-28 15:15] #249 closed, assigned to nobody

[2017-09-29 07:33] davorbadrov commented on #328
Thanks a lot for the swift response. You saved me a lot of grief 👍

[2017-09-30 01:34] pdfowler commented on #323
@foxhound87 - this is a great change in 1.32 - makes things much more consistent with the initialization of the form. However, I just lost a full afternoon to this and REALLY wish you had followed [semver](http://semver.org) more closely.

This change clearly requires a MAJOR version bump, as you did not provide the backwards-compatibility.

Other than the technicality - keep up the good work! We

[2017-10-03 21:25] cristianfraser opened #329 "File selection"
Hey, I just started using this library, and I stumbled with buggy behaviour with the file input.

When selecting a file using a form field, no file is selected. This can be seen in the live demo:

https://foxhound87.github.io/mobx-react-form-demo/demo.html

After choosing a file, it just shows "uploading", and when submitting, the values for each field remains empty. Am I doing something wrong or

[2017-10-04 21:46] nareshbhatia commented on #120
Hi @foxhound87, thanks for a great library. I have two follow-up questions to understand the usage scenarios:
1. Is there a listing of all the supported field types? I was expecting it under [Fields Properties](https://foxhound87.github.io/mobx-react-form/docs/api-reference/fields-properties.html) but it's not there - only a default of `text` has been specified.
2. Is there a hook to transform val

[2017-10-05 06:49] sangallimarco commented on #197
I'm using the unified props and converting it in to a separate props using something like:

[code]

The result can be passed to the form:

[code]

[2017-10-05 17:35] foxhound87 commented on #329
The files are stored into the `files` field prop, not the `value` field prop.

Or using the `onDrop` Event Hook:

[code]

[2017-10-05 17:39] foxhound87 commented on #323
@pdfowler yes I know, I'm sorry for this, for now I suggest to use `~` in your package.json.
Right now I'm relesing only fixes for the `patch`, and breaking changes for the `minor`.
I will adopt full semver when I decide to release the 2.0.

[2017-10-05 17:46] foxhound87 commented on #120
Hello @nareshbhatia

You can pass the type needed for your input component, right now only `date`, `checkbox`, `number`, `file` are handled to activate particular behavior in this package.

For converting the values you can read this:
https://foxhound87.github.io/mobx-react-form/docs/extra/converters/input-output.html

A better converter system will be implemented in future versions.

[2017-10-05 21:29] cristianfraser commented on #329
I see, but still in the demo, after selecting a file to upload, the file input doesn't change from `no file chosen` and the preview only shows 'uploading'. Haven't really tried that the file is uploaded correctly or not yet, but should the input display the file chosen instead of `no file chosen`? Is the demo working as intended?

[2017-10-07 20:06] foxhound87 commented on #329
The file are listed below the upload button. After selecting the files it still says `no file selected` but it's just a text that needs to be updated in the UI.

[2017-10-10 18:41] cristianfraser opened #330 "Dependent fields"
I'm looking for somehow to make two fields dependent on the value of each other. Reading https://github.com/foxhound87/mobx-react-form/issues/235 gives some hints about setting a new *value* if the bound field is changed. But what I'm looking for is somewhat different:

I have two datepicker fields, using `react-datepicker`. The component can receive `startDate` or `endDate` so that date finally p

[2017-10-10 19:01] cristianfraser commented on #329
Is there any way to update the `no file selected` text to display the selected file? Or at least `1 file`?

[2017-10-11 10:37] foxhound87 commented on #329
Not right now, but you can hide the file input component when the Field's `file` prop has elements, and display another message.

[2017-10-11 10:45] foxhound87 commented on #330
I think you can just pass the field value to your component, I don't see the issue or maybe you should elaborate it more.

[2017-10-16 05:18] shanielh commented on #300
@foxhound87 Any news on that? :smile:

[2017-10-17 09:24] dyf2015 opened #331 "How do I pass multiple values ​​when the component changes?"
The usual usage：
onChange(value)

I need the usage：
onChange(value,valueSpan,valueObj)

[2017-10-17 16:50] foxhound87 commented on #331
I think you can use a closure, for example:

[code]

[2017-10-18 01:09] dyf2015 commented on #331
thanks,Can it be bound in two directions?

when component valueSpan changes, it can be synchronized store?
when store valueSpan changes,it can be synchronized component?

[2017-10-18 05:49] dyf2015 commented on #331
![image](https://user-images.githubusercontent.com/16314313/31698187-c35fe68c-b381-11e7-9cc3-1362cc9e54e3.png)

[2017-10-18 07:51] dyf2015 commented on #331
thank you,I solved it.

[2017-10-18 08:01] #331 closed, assigned to nobody

[2017-10-18 12:51] nmkedziora opened #332 "Cannot inspect component's form props using React Dev Tools"
Hi Guys,
I've tried on my own to debug or to find similar issue but failed many times.

I want to use mobex-react-form, so went through docs and tutorial, then created sample form and finally the exact copy of form-quickstart published on [codesandbox](https://codesandbox.io/s/v06rw6qkk3) .
The form works perfectly fine, but I encountered an **error when trying to inspect component in React Develo

[2017-10-19 13:23] foxhound87 commented on #332
Hi @nmkedziora,

I think it's a mobx issue, I found these issues which are labeled `wontfix`:

https://github.com/mobxjs/mobx/issues/752
https://github.com/mobxjs/mobx/issues/610
https://github.com/mobxjs/mobx/issues/410

[2017-10-21 11:55] chbdetta commented on #304
The feature seems not working as I expect.
Disabled fields are not validated if they are disabled from the start. But if the field is enabled at first, and invalidate by user input. Then if the user disable it, the from validation will not pass. The error from last validation is not gone after field is disabled.

[2017-10-21 15:29] foxhound87 commented on #304
Try to use `field.resetValidation()` before disabling the field.
If this is working for you, I will release a fix.
Thank You.

[2017-10-23 13:11] the-noob opened #333 "README typo"
`Dinamically Add/Del Nested Fields` should be `Dynamically ...`

[2017-10-24 10:34] foxhound87 commented on #333
@the-noob thank you for reporting this!

[2017-10-25 04:49] jcheroske opened #334 "Feature request: field.isValidated & form.isSubmitted"
I'd love to see an `isValidated` boolean on the field object, that gets flipped from false to true once the field has been validated for the first time.

I'd also like to have an `isSubmitted` flag on the form object, that shows if the form has ever been submitted.

[2017-10-26 13:09] esakkik opened #335 "Mobx form value does not refelect the Default value of Input Element"
[code]
The default value is not replicated in mobx form value
[code]

[2017-10-29 15:20] mnstrsound opened #336 "resetValidationStatusOnSubmit option"
What is the correct way to set disabled property to a field so it doesn't validate? I tried it this way
[code]
or
[code]
but it’s not working for me. It sets disabled property to the field but it’s still validating.

[2017-10-29 15:27] mnstrsound commented on #336
/node_modules/mobx-react-form/lib/Validator.js
<img width="733" alt="2017-10-29 17 25 23" src="https://user-images.githubusercontent.com/11842809/32145277-459abfbe-bcce-11e7-8bb4-1e691887c221.png">
always equals `false`

[2017-10-29 20:13] foxhound87 commented on #334
I'm sorry but your request is too specific for your case and it can be easily implemented extending the form class.

[2017-10-29 20:18] foxhound87 commented on #335
The `defaultValue` prop is not supported because the package has already its internal system to handle `initial` and `default` values.

The `initial` and `default` values have to be defined in the **field definitions**.

Check the documentation for more info.

[Defining Fields](https://foxhound87.github.io/mobx-react-form/docs/fields/defining-fields.html)
[Field Properties](https://foxhound87.gith

[2017-10-29 20:21] foxhound87 commented on #335
I'm sorry but I just noticed that I forgot to document the use of the `initial` property on the documentation. I will fix it asap!

[2017-10-29 20:40] foxhound87 commented on #336
The fields are validated on form initialization, so do a `resetValidation()` eventually or disable the `validateOnInit ` form option. Also, check the value that you set to the disabled prop.

I'm not able to replicate your issue. If you can provide a codesandbox would be better.

Thank you.

[2017-10-30 07:52] mnstrsound commented on #336
@foxhound87 In my case I don't want to validate "width" and "height" fields if "use" field is not checked. That's why I set "disabled" and "rules" properties to the "width" and "height" fields.
Please check this [codesandbox](https://codesandbox.io/s/j3vzln8yj5). Can you tell me the best practice to do that?

[2017-10-30 14:24] cristianfraser commented on #329
Bumping this.

Is a more native behaviour on the roadmap? That is, selecting a file with a file input and have it show its value?

Also, if my file field is `required`, validation will fail because the value of that field is empty. How could I `require` a file input?

What's necessary in order to update the native file input label for when a file is uploaded?

[2017-10-30 22:05] foxhound87 commented on #336
Thank you for the codesandbox, I will check it tomorrow.

[2017-11-01 09:34] Vargentum opened #337 "field.set(obj) doesn't update form.touched and form.changed"
I have a field with an empty object as initial value. I'm using `field.set` to dynamically add some new keys. It works good, but form properties (touched, changed) don't reflect these changes.

Also, could you provide some examples how to deal with Array and Object values? Current docs don't clarify this enough.

[2017-11-02 00:58] jcheroske opened #338 "validateOnAdd fields or nested fields"
This library is incredible! Thank you for all your hard work.

I'm seeing a behavior that's confusing me, and I just wanted to make sure it was by-design.

When I have `validateOnInit: true` and `showErrorsOnInit: false`, the form starts with the following properties set:
[code]
That all looks correct to me.

If I then add an element to a nested field array, and look at the initial state of one of

[2017-11-02 18:10] jcheroske commented on #338
After thinking about this some more, I can see that I was misunderstanding the `validateOnInit` flag. I'm curious though about my question at the end of my previous post. Does it make sense to add a `validateOnAdd` flag that causes newly created fields to be validated immediately after `onAdd` is called?

[2017-11-03 21:50] jcheroske opened #339 "Help wanted: How to define arrays using unified syntax?"
I'm trying to define a form using unified syntax, and can't seem to figure out how to define nested arrays. What is the unified syntax equivalent for the following separated syntax:
[code]
Any help is much appreciated.

[2017-11-04 12:20] foxhound87 commented on #336
Add this inside the observer function just before the set() calls:

[code]

and should work.

This because the form errors and other validation props are not automatically cleared on each submission.

[2017-11-04 12:22] foxhound87 commented on #336
https://codesandbox.io/s/x7k67xo38p

[2017-11-04 12:26] foxhound87 commented on #338
This is a good question, and can be a good enhancement to have.

I will think about how implement it for the next releases.

Thank You for the contribution.

[2017-11-04 12:28] foxhound87 commented on #339
Right now cannot be possible to handle arrays with the `unified` mode.

Follow this issue for more updates: https://github.com/foxhound87/mobx-react-form/issues/197

[2017-11-04 12:28] #339 closed, assigned to nobody

[2017-11-04 12:30] foxhound87 commented on #336
Anyway I mark this issue as `enhancement`.

I think should be nice to have a form option to do this automatically on submit.

[2017-11-04 12:37] foxhound87 commented on #337
Right now the `set()` method doesn't change other fields props.

I need to think more about how to handle this, as the `set()` method doesn't handle specific behavior for each props right now.

About dealing with complex fields structure, did you take a look to the [demo repo](https://github.com/foxhound87/mobx-react-form-demo)?

[2017-11-04 12:40] foxhound87 commented on #330
Did you solved this?

[2017-11-04 12:41] #333 closed, assigned to nobody

[2017-11-04 12:50] foxhound87 commented on #329
Sorry for the delay, these enhancements needs to be still implemented. I will look into your needs for the futures updates. Thank you for your patience.

[2017-11-04 15:47] cgat commented on #49
For the DVR case, it seems to be impossible to set custom message messages for the conditional rules (require_if) because a) it doesn't appear to be possible to make conditional rules with the register rule method and b) custom messages are passed into the constructor, which we don't have access to.

[2017-11-14 19:10] cristianfraser commented on #330
I did actually, just had to do some more tinkering with the form.

[2017-11-14 19:10] #330 closed, assigned to nobody

[2017-11-14 19:11] cristianfraser commented on #329
Thanks a lot! In the mean time, I just hid the native file input and show in a custom label if there is a file selected or not.

[2017-11-14 19:11] #329 closed, assigned to nobody

[2017-11-15 16:16] the-noob opened #340 "`onDel` calling `onAdd` handler"
https://github.com/foxhound87/mobx-react-form/blob/3619f926bedd22c6262d0feb646096a9446ce137/src/Base.js#L98-L99

Not sure if it's expected behaviour, was just skimming over the code, but shouldn't that call `onDel` ?

[2017-11-15 18:54] foxhound87 commented on #340
yes, it's a copy/paste error, I will release a fix asap.

[2017-11-16 03:23] all-iver opened #341 "How to keep field defaults updated to current values?"
Say I have a form that's mapped to a model's fields.  After submitting the form I want the dirty fields to be updated so that the saved values are no longer considered dirty.  As far as I can tell, I need to update the field defaults to the saved values.  With nested fields it gets pretty cumbersome because I can't just do something like form.update_defaults(saved_values).  How can I easily map my

[2017-11-16 14:31] #340 closed, assigned to nobody

[2017-11-16 14:34] foxhound87 commented on #341
I think you need `.set('default', { ... })`

[2017-11-16 16:51] the-noob commented on #334
Slightly piggybacking on this... do you see any issues with implementing `isSubmitted` like
[code]
And then in my field:

[code]

[2017-11-16 17:45] all-iver commented on #341
Aha, that does seem to work, thanks!  I didn't understand what those functions did from the documentation.  I just changed it to:

`form.set('default', values)`

[2017-11-16 23:38] all-iver commented on #341
It seems that set('defaults', values) does not trigger a field's input converter to run.  If I do `field.default = value` then my input converter runs, but if I do `form.set('defaults', values)` the default value ends up as a pre-converted object instead, which means the field thinks it's dirty again (since field.value does not equal field.default).  Am I still doing something wrong?

[2017-11-19 13:25] foxhound87 commented on #334
I think you should use the action like:

[code]

or

[code]

but I think you can achieve that using the built-in packages's options.

[2017-11-19 13:28] foxhound87 commented on #341
Note that you have to use `default` and not `defaults`.

I don't know if I don't understood your message, but I would do just:

`form.set('default', form.values())`

[2017-11-19 13:58] the-noob commented on #334
Indeed, I was wrongly supplying the initial values/defaults. `field.hasError` works fine.

[2017-11-19 14:39] carlosagsmendes commented on #279
Hey @beshanoe,

did you make any progress on using mobx-react-form with mobx-state-tree?

Thanks

[2017-11-19 17:42] LennardWesterveld commented on #262
I think i need to reopen this issue because of the uniqueId i think there is a issue with it with SSR.
I installed mobx-react-form in my server side rendering react app and the id's are incrementing every time when i refresh the page. That means when i got lot of visitors that i end up in the 10.000 number and break my website after a long period of time.

Do any one know how to solve this problem

[2017-11-20 02:07] all-iver commented on #341
Oops, that was just a typo on my end.  It is `default` and not `defaults`.  The problem is that if the default is set using `form.set()`, it does not have the field's `input` function applied to it, but doing `field.default = value` does apply the `input` function.  This might be related to #337?

[2017-11-23 14:11] beshanoe commented on #279
@carlosagsmendes I was trying to implement the similar api to mobx-react-form using MST, but since then they've changed api dramatically and I decided to wait for some time until it stabilizes.
And I'm not sure that it's possible combine MST and MRF in it's current form

[2017-11-23 14:45] carlosagsmendes commented on #279
Thanks for the feedback. I should get back to this in a couple of weeks and will report my findings back

[2017-11-26 06:42] kapilpipaliya opened #342 "can not set error messages to form."
I can not set errors to the form. the following line dont set errors to the form.
form.set('error', errorsObject);
please fix it, it might a bug.

[2017-11-27 09:26] foxhound87 commented on #342
`error` is a mobx computed, so you cannot set it in that way, you need to use the `.invalidate('my error message')` method (on a form or field instance).

If the errors are not yet shown, cosider to call `.showErrors()` just after `.invalidate()`.

https://foxhound87.github.io/mobx-react-form/docs/api-reference/form-methods.html
https://foxhound87.github.io/mobx-react-form/docs/api-reference/field

[2017-11-27 12:46] andfk commented on #337
Same issue for me. `form.set('changed', true)` as simple temporal fix is not allowed neither so for now there is not a way to change form state manually? (at least until we find a solution).

[2017-11-28 12:02] ekozhura opened #343 "recaptcha example"
Hi, is there any examples on how to use recaptcha with mobx-react-form?

[2017-11-28 20:47] fsolar commented on #315
Hi, I have a similar question, I need to insert a group of inputs (7 in total) with every onClick event, is this possible with mobx-react-form? and there will be any problem with the values of the repeated inputs?

[2017-11-29 13:27] ekozhura opened #344 "Handling side effects depending on "isValid" field state"
Hey, I'm trying to run some side effects like logging when field state is changing after validation. I use `mobx` reactions (maybe there are better options) to observe `isValid` property and react on it:

[code]
Works perfectly fine but on form submit some kind of validation reset is happening:

[code]

Whereas I prefer to get actual field state on submit:
[code]
I suspect I'm doing something wron

[2017-11-30 09:08] andfk opened #345 "Input/Output converters with form as Separated Properties"
Seems its possible to define the input/output converters using the unified properties form declaration but is it possible with the separated properties too? In the docs it explains only for unified mode and checking the source code still didn't get from it how its possible.

I tried with properties like:
`inputs: {} & outputs: {}` or `converters: { input: {} }`..

Can anyone clarify this?
Many tha

[2017-12-01 11:08] foxhound87 commented on #344
I created a [codesandbox](https://codesandbox.io/s/34q73qyzxq) with your code but I don't know how to replicate your issue.

mobx `reaction` will execute the function `only after the data expression returns a new value for the first time`.

The packages has also built-in [observe/intercept](https://foxhound87.github.io/mobx-react-form/docs/extra/mobx-events.html) methods that which might be helpfu

[2017-12-01 11:11] foxhound87 commented on #345
use `input: {}` and `output: {}`, not plurals.

Let me know if you encounter some other issues (the converters will be better reimplemented in future versions).

If you are creating a PR, I appreciate your contribution, thank you!

[2017-12-01 11:13] foxhound87 commented on #343
Not yet.

If you implement it, would be cool if you will share it with the community.

Thank you!

[2017-12-01 11:23] foxhound87 commented on #342
Feel free to reply if you need more help.

[2017-12-01 11:23] #342 closed, assigned to nobody

[2017-12-01 14:00] ekozhura commented on #344
Oh wow, thanks for reply. I will try to prepare a sandbox (my bad, i should do it before creating an issue). I checked your codesandbox example and noticed something strange - submit doesn't trigger reaction at all, whereas in my case it does. Probably i'm doing something wrong.

[2017-12-01 22:02] foxhound87 commented on #344
I changed the field to `email` and worked (its `isValid` needs to change).

Previously was needed mutate the state of both `password` and `passwordConfirm` fields.

[2017-12-03 11:52] devdoomari commented on #150
@foxhound87 the typescript branch is going nowhere... (1 yr since last update)
and maintaining separate d.ts files is quite a work...

how about doing a gradual migration to Typescript?
e.g. start with one file, one function/variable definition, and start from there

[2017-12-03 17:51] andfk commented on #345
Many thanks @foxhound87! It worked. Added the PR :)

[2017-12-03 17:51] #345 closed, assigned to nobody

[2017-12-03 22:01] eranabir opened #347 "Feat: disable label on Field instance"
How can i disable the Label Property for Input field ?
if i remove the label its using the name of the field as a label
thanks!

[code]

[2017-12-04 08:03] ekozhura commented on #344
@foxhound87 i slightly modified your example and i think i've been able to reproduce my issue:
https://codesandbox.io/s/rjpy25y50p I put logger reaction inside my Input component (to make it more generic) and changed dvr validation mode to vjf and used my custom validations.

[2017-12-11 03:29] noru opened #348 "[Question]is form.$validating observable?"
Hi,

I'm using async validation in my form and I want to catch the "validating" state and render indicators on DOM.

I tried `<Indicator show={form.$validating} />` but with no luck. Seems it is not an observable.

Currently extends the Form class and declare my own "isValidating" property and action to set the value. But I still have to call it in my VJF manually like this:

[code]

I suppose it

[2017-12-11 09:31] ekozhura commented on #348
@noru as far as I know, `form.validating` changes its value on a form validation (e.g., when you try to submit a form). When your async validation runs on a field's `onChange` event, `form.validating` isn't affected, instead `field.validating` is.

[2017-12-11 13:19] noru commented on #348
@ekozhura thanks for the answer. I've tried and it did work as expected.

[2017-12-11 13:19] #348 closed, assigned to nobody

[2017-12-11 21:25] ekozhura commented on #344
@foxhound87 Me, again. Obviously my issue was caused by `resetValidation` action executed inside `validate` method. `resetValidation` "resets" all observables used in computed `checkValidationErrors` and as a result, `isValid` is set to `true`. Then validators are executed and if some of them failed - `isValid` is again is set to `false`. But what is interesting, if validation functions are synchr

[2017-12-14 11:42] simon998yang opened #349 "performance of mobx-react-form"
I just cloned the demo app, and running in development mode playing on register (simple)  page.  I feel there is an obvious delay showing validation message after I tick untick the terms checkbox.

Considering this is a rather simple page, such delay seems unreasonable. Can this be overcomed?

This concern really bothers me as I'm planning to use mobx-react-form for very large complex form.

Looki

[2017-12-14 21:25] foxhound87 commented on #349
The validation is debounced, for this reason you have a default `validationDebounceWait` form option to 250. I think you need to set `validationDebounceWait` to 0  on form or single field instance.

[2017-12-14 21:27] foxhound87 commented on #347
You should use empty labels for now. I will fix this in the future releases.

[2017-12-14 21:56] foxhound87 commented on #344
why are you using async/await on `isRequired`? I think it will work by removing it.

[2017-12-14 23:06] simon998yang commented on #349
wow, it does the trick. what a great library. appreciate your timely reply very much!

[2017-12-14 23:13] #349 closed, assigned to nobody

[2017-12-15 10:34] asifsaho commented on #231
@foxhound87 Thank you, I was badly looking for a way to change the validation rule programmatically :)

Also @vietnugent for raising the issue :)

[2017-12-15 13:14] ekozhura commented on #344
@foxhound87 You can remove async/await and just wrap the result in a Promise - you've got the same result. Not using asynchronous validators at all won't work for me because I need to use them (e.g., emails, phone numbers, VATs etc are checked on a server side).

And as I understand, `resetValidation` actually resets errors only if there is a serie of async actions (as in my case), while for sync

[2017-12-15 13:46] kapilpipaliya opened #350 "How to write computed field on nested row?"
How to write computed field on nested row?

[2017-12-17 13:46] dyf2015 opened #351 "moment __proto__ disappear"
When I use the momentjs field and call form.update, the __proto__ for the moment field is missing.

[2017-12-18 14:46] berkayk opened #352 "Performance Issues"
Hi,

I have followed the docs and component is working as expected but performance is really slow. I have done some profiling and received warnings about keypress event such that keypress handler took 119.43 ms.

I am using form as a class and bound all fields as

`<Form.Input {...form.$("name").bind()} />`

When I remove `{...form.$("name").bind()}` part, performance returns to normal. There must

[2017-12-19 21:24] kapilpipaliya commented on #347
even if I set empty value to label. still it displays a label.

[2017-12-21 23:28] codebury opened #353 "Field initially validated on blur, then validated on change"
Hi.

It's possible that the initial form validates initially the fields on blur, but afther the first blur, the validation be on change? For example, I start typing in the Password field and no validation is performed. Then I click on Confirm Password but the Password field shows an error. I correct the Password and as I type, the field is being validated.

I've tryed with:

`<input {...this.corre

[2017-12-24 15:47] jonasdumas opened #354 "showErrorsOnChange => Only after first error"
Hello, Thank you for your great work on that project.

It would be nice to have another option feature : showErrorsOnChangeAfterFirstBlur

It's quite frustrating to get an error when we're currently filling a field and it's not finish. It's probably why showErrorsOnChange is defined to false by default in Mobx-react-form.
But then, when we've an error in a field because of a mistake ... if we corr

[2017-12-24 15:50] jonasdumas commented on #353
+1

[2017-12-24 16:15] jonasdumas commented on #49
If you use DVR Validator , **to automatically change the language for all errors**, you can simply do it like this:

[code]

[2017-12-24 16:16] jonasdumas commented on #305
If you use DVR Validator , **to automatically change the language for all errors**, you can simply do it like this:

[code]

It would be so nice @foxhound87 if  you have the time to copy/past all related solutions from the forum into to the missing documentation. Even if it's drafty because you maybe don't have time, it'll be very helpfull !

[2017-12-24 18:50] antonzy opened #355 "Labels starting with integers are blank"
https://github.com/foxhound87/mobx-react-form/blob/de3c09a80fbc78d2a7cf05c5589b223c7776763c/src/parser.js#L33
This code seems to be the cause.

Is there a reason for supporting this behavior?

[2017-12-25 02:02] yvanwangl opened #356 "How to use mobx-react-form with typescript?"
I love this package so much, i want to use it. But is there any way to use `mobx-react-form` with `typescript`? Tkx

[2017-12-28 11:14] foxhound87 commented on #344
@ekozhura `resetValidation` should never be ignored, it should run every time some fields or the form is validated.

[2017-12-28 11:15] foxhound87 commented on #351
Please provide a codesandbox with logging/debug.
Thank you.

[2017-12-28 11:19] foxhound87 commented on #355
@antonzy I introduced it for a reason, but I don't remember why right now.
I will look if it can be removed.
Thank You.

[2017-12-28 11:20] foxhound87 commented on #305
@jonasdumas I will, If you also have some time make a PR on the `docs` branch.

[2017-12-28 11:22] foxhound87 commented on #49
Related to #305

[2017-12-28 11:28] foxhound87 commented on #354
@jonasdumas Thanks for the suggestion. I will think about it.

[2017-12-28 11:30] foxhound87 commented on #356
Typescript is not supported right now, but I think I will implement a runtime type checking like mobx-state-tree

[2017-12-28 11:32] foxhound87 commented on #352
Please provide a codesandbox with logging/debug.
Thank you.

[2017-12-28 12:05] foxhound87 commented on #350
can you elaborate it better? thanks

[2017-12-29 07:21] yvanwangl commented on #356
@foxhound87 Thanks for your reply, for now , i write form.js file with ts : )

[2017-12-29 07:21] #356 closed, assigned to nobody

[2017-12-29 09:27] ekozhura commented on #344
@foxhound87 it should and it does run, but the value of `checkValidationErrors` isn't recomputed - you can check it if you debug. That's why `isValid` is also not recomputed when using sync validation. The fact is, `resetValidation` acts differently when you use either async or sync validations. The whole point of this issue is that I can't figure out why the behavior differs.

[2017-12-29 10:39] foxhound87 commented on #344
@ekozhura `validationAsyncData` is mutated by `resetValidation` (on every validation) and should recompute `checkValidationErrors` automatically. This beahvior is still not clear to me also, I need to look more, let me know if you discover something more. Thank You.

[2017-12-29 14:45] ekozhura commented on #344
@foxhound87 I'm not sure if I get it right, but I think this is somehow related to mobx optimization. Take a look at doc:
[code]
In case of sync validation, we have a serie of actions, which mutate the same observable. Maybe that's our case.

I tried to recreate a validation flow in a sandbox without `mobx-react-form`, using just `mobx`: https://codesandbox.io/s/ol3on1o7z9 Click few times on `vali

[2017-12-29 22:04] tsamsiyu opened #358 "Deleting 2-nesting level fields breaks down if do it not starting from the end"
Hi! I'm working with 2-nesting level fields and have deleting issue.

I have the following values passed to form:

       dictum = {
        groups: [{
          explanation: '',
          translations: [{
            spelling: '',
          }]
        }]
      };

Form with this data is created in parent component and passed to child, that have following template:

        <fieldset>

[2017-12-29 22:16] tsamsiyu commented on #358
It's my fault: should not use `index` of `map` function when field obtaining `translations[${tIndex}]`, correct way is to use `translation.key` instead.

[2017-12-29 22:16] #358 closed, assigned to nobody

[2017-12-30 13:35] tsamsiyu opened #359 "Server Validation - cannot populate form errors"
Hello, I'm using server validation approach : submit form -> fetch errors from server -> populate form with errors and I came up with "key" issue.
The problem is in the 'populate form with errors' step. Since each field has own key with which errors is associated and indexes of values from `form.values()` does not corresponds to that key-s, server responds with incorrect keys that cannot be popula

[2017-12-31 11:34] simon998yang opened #360 "hide/show component depending on the status of others"
Hi,

Could you kindly point out where I can find some example code, or idea how to implement hide/show component/fieldset depending on other component(s), i.e whether a checkbox is ticked or not, or the value of input?

Best Regards,

[2018-01-01 07:39] kapilpipaliya commented on #350
I have:
  fields: [
    'position',
    'description',
    'diamonds',
    'diamonds[].position',
    'diamonds[].material_id',
    'diamonds[].color_id',
    'diamonds[].pcs'
  ]
I want to add two calculated functions to diamonds array: this fields should not added to form values.
'diamonds[].pointer'
'diamonds[].weight'

[2018-01-08 23:55] zhaoyi0113 opened #361 "Is `onInit` deprecated in the latest version?"
I was using `onInit` to do some initial work in my extended form as below. There are some dynamic validation rules added in this method. But I found out that this method is not used in the version 1.32.3. So what is the alternative way to do the initialization work?

[code]

[2018-01-09 12:12] simon998yang commented on #116
Even it's not straight-forward, is there a way to use Unified Properties to define an 'array' field? I'd like to use unified properties as i can keep all the info regarding one field in one place.

[2018-01-10 17:56] foxhound87 commented on #360
You can use the following syntax:

`{form.$('myField').myProp && <MyComponent />}`

[2018-01-10 17:59] foxhound87 commented on #262
@LennardWesterveld Sorry, I saw your message only now, can you create a repo with your code which replicates your issue? thanks.

[2018-01-10 18:00] foxhound87 commented on #359
Maybe your issue can be related to #262
Have you tried to implement thg `uniqueId` function?
You can find an example in that issue.

[2018-01-10 18:13] foxhound87 commented on #361
`onInit` is not deprecated, it was moved into the `hooks` object (or method if using a class).

https://foxhound87.github.io/mobx-react-form/docs/events/event-hooks.html#execute-code-on-instance-init

[2018-01-10 20:51] zhaoyi0113 commented on #361
Oh, thanks.

[2018-01-10 20:51] #361 closed, assigned to nobody

[2018-01-10 23:07] simon998yang commented on #360
you probably get me wrong. I meant, for example, for fields = ['a', 'b'], initially I display 2 input components. but once the lenght of InputA's value is greater than 2 (it could be any condition based on the value of InputA) , InputB need to be removed from UI, further more the value of InputB should be removed from model as well.

hope I explain myself clear this time. Thanks in advance.

[2018-01-11 08:02] ekozhura commented on #360
@simon998yang hi, please take a look at docs https://foxhound87.github.io/mobx-react-form/docs/actions/shared.html#add--del maybe this will help

[2018-01-11 11:32] simon998yang commented on #360
Thanks Ekozhura, the doc about add--del seems about add/del item to array. I cannot co-relate it with the question I asked

[2018-01-23 09:55] Bobinhos opened #363 "validateOnChange: true doesn't work?"
Edit...

[2018-01-23 10:19] #363 closed, assigned to nobody

[2018-01-23 10:41] ekozhura commented on #360
@simon998yang I might have the same issue as you - i have a form with optional field and I need somehow dynamically add it to form. Adding to array won't work to me as well. So what I did try, and maybe that will help you to - I used `initField` method on my form:

[code]

You can call it in your `onChange` handler to react on user's input.

Though, there is a possibility to do the same with `.add

[2018-01-24 04:56] simon998yang commented on #360
@ekozhura  Thanks a lot, it looks like the way to go. I will give it a try when i have time. Please keep me posted if you make validators work.

[2018-01-24 06:42] ekozhura commented on #360
@simon998yang from what I see in source code, `add` method uses initField under the hood, but the opts except `key` are ignored. So not only validators aren't applied, even label - check this sandbox https://codesandbox.io/s/rmp41637z4 so maybe you have to use `initField` directly.

[2018-01-29 00:52] mattscooter opened #364 "Error messages for "required_unless_all" rule is not using field labels"
I am attempting to validate a form where I have firstName, lastName and companyName fields.  I want to validate that at least one of them is entered.  I am using validatorjs as my validation engine.

It looks like required_without_all is working the way I expect, except that the message I am getting isn't quite right.  The error message text has the field names rather than labels for the other fie

[2018-01-29 16:38] maciejmatu commented on #295
I had a similar issue, and I solved it with `form.set()` function. It accepts objects, so I tried it out and it worked.
[code]
It will work only for the key value pairs that are the same in form and metaData e.g.
[code]
It works awesome, for pre-filling your whole form based on backend response.

[2018-01-30 15:40] epodgaetskiy opened #365 "feat: nested fields trigger onchange hook on container"
[code]
After form.init(fields) I don't work onChange in nesting field
date.tiem and date.minute

[2018-02-03 13:44] htondkar opened #366 "Thank you for your very beautiful library"

[2018-02-03 18:47] foxhound87 commented on #366
So much appreciated!
Thank you for your support!

[2018-02-03 18:50] foxhound87 commented on #365
What your input binding looks like?
Are you using the bind() method on your input components?

[2018-02-03 18:53] foxhound87 commented on #364
Can you check if the issue is not related to the validation lib?

[2018-02-03 22:58] tsamsiyu commented on #359
I think the easiest and right way to fix this is to provide function that would return us the form values in shape which they actually have in form object. I mean instead of

    { items: [{title: 'title 0'}, {title: 'title 2'}] }

I need to take

    { items: {'0': {title: 'title 0'}, '2': {title: 'title 2'}} }

[2018-02-05 10:08] pkfryer opened #367 "onDel and onAdd do not update dirty state of collection fields."
With collections as nested fields, removing or adding members to the collection is not recognised by the form as dirty.  The devtools show no change.  isDefault and isPristine are true on the parent form, isDirty is false.  The collection field also shows the same even though the default and value properties are correct and show different content.
This is definitely not correct behaviour for the f

[2018-02-05 21:32] oleghein commented on #354
@foxhound87 thanks for the awesome work!

I was searching for this option as well. It would be a huge UX benefit.

[2018-02-06 05:21] andrefox333 commented on #279
Any updates on these @carlosagsmendes?

[2018-02-06 10:59] carlosagsmendes commented on #279
Hi @andrefox333, unfortunately not much.

I would really like to have 'mobx-react-form' working with MST but I haven't found a way to [extend MST models](https://github.com/mobxjs/mobx-state-tree/issues/622).

Apparently, we cannot extend primitive types like strings for example and I'm not sure about what the alternative approach would be.

@foxhound87, can you offer any guidance? I would be glad

[2018-02-06 12:19] tujoworker commented on #279
@carlosagsmendes I have made a two way connection and post how I did it here.

In a react `component` i have this:

[code]

In the `mst store`, I have this action:

[code]

Maybe this helps?

[2018-02-06 19:22] jbmusso commented on #220
Thanks for adding this, useful feature.

Unless I'm mistaken, I believe I found a bug with `state.extra()` that only occurs during the first form validation (`{ validateOnInit: true }`). Because the extra state cannot be set right away when instantiating the form, validators during that first validation round will not be able to access that extra state (value: `undefined`). A workaround is to chec

[2018-02-07 00:27] mattscooter commented on #364
Looks like it may be an issue with the validatorjs library.

This bug raised against the library has similar problem but with the required_if rule.  When that gets fixed I will check if it's working ok.
skaterdav85/validatorjs#232

[2018-02-07 17:02] andrefox333 commented on #279
@tujoworker, thanks for chiming in. Do you have a working example repo I can check out?

[2018-02-08 03:38] IamKritika commented on #367
I was also facing the same problem. Whenever I add a new field to the form with some initial values the onchange hook attached to the form is not working.

Anyway for now you can try using form.observe till this gets fixes

[2018-02-08 14:50] tujoworker commented on #279
@andrefox333 No, but once You have a simple example, it's not easy to integrate. I can help you out once you have a example repo.

[2018-02-09 16:50] andrefox333 opened #368 "DVR Custom Error Message Per Attribute"
In validatorjs, you can do something like this to set a specific error message per attribute:
https://github.com/skaterdav85/validatorjs#custom-error-messages
[code]

Is there something similar we can do with mobx-react-form?

[2018-02-10 10:15] davidgustys opened #369 "Support: Dynamically adding fields to existing form"
I have an issue or most likely I don't know how to accomplish this, i have read the documentation and also looked into the source code, but couldn't find a nice straight way to do it.

My problem is that i have a Form which field list might/is growing based on user input. At first a tried using `Form.init` to basically re-initialise the form with new fields, but as one would expect, the existing F

[2018-02-12 10:47] 4ware opened #370 "I18N"
How to activate a different language for errors with DVR (validatorjs)?

Thanks, Kai

[2018-02-14 15:06] codebury opened #371 "Invalid Field Instance exception when unmounting control while being validated even in demo page"
Hi,

My code:

[code]

Demo steps:

1. Select "Nested Fields".
2. Scroll to end and delete all Charlie Chaplin's hobbies.
3. Click on Add Hobbies and focus the textbox.
4. Finally, click on delete.

(Sorry, cannot upload images)
Unhandled rejection Error: Validation Error: Invalid Field Instance
    at Q (https://foxhound87.github.io/mobx-react-form-demo/main.js:15:1346)
    at A.e (https://foxhou

[2018-02-15 17:39] Gi972 opened #372 "Example with Defining Nested Fields as Unified Properties"
hello,

can you help me ?,
I want  use a nested form with the Defining Nested Fields as Unified Properties, but I dont understand  the build of model .

Can you make a example with the nested field demo but with  the Defining Nested Fields as Unified Properties. on codesandox

thanks

[2018-02-16 14:54] LennardWesterveld commented on #288
I think this is related to a checkboxes group @foxhound87? otherwise i will create a separate issue.

[2018-02-17 03:13] andrefox333 opened #375 "How do I use a dynamic value instead of :attribute in validation message?"
Hi, is there a way to use a dynamic value in my custom validation rules instead of the default :attribute value?

The way I initialize my fields is simply an array of strings like so: `['name', 'phone']`

My rules is something like
[code]

And I want 'name' field to validate with something like 'Company Name is required'.

I feel it should be something simple to configure but I couldn't find it an

[2018-02-17 16:13] andrefox333 commented on #375
Ah...

I have to initialize my fields this way:
[code]

[2018-02-17 16:13] #375 closed, assigned to nobody

[2018-02-18 06:32] luketanner commented on #353
+1

[2018-02-19 18:29] andrefox333 opened #376 "Validation doesn't work on nested rules that are three levels down."
When I define my rules this way:

[code]

The validation rules for `suitability.answers.q1` (three levels) doesn't get triggered. But the rule for `suitability.project_completion` (two levels) works as intended.

But when I define my rules as a separate object as in:
[code]
That works as intended.

Any ideas?

Thanks in advance :)

[2018-02-19 18:38] andrefox333 commented on #376
Also, I noticed that even when I set the validation rule for `suitability.answers.q1`, it won't pull in the label value.

I would expect
`Question 1 is required.`
but I'm getting `q1 is required.`

[2018-02-19 22:18] seleckis opened #377 "Typo in documentation"
https://foxhound87.github.io/mobx-react-form/docs/api-reference/form-properties.html

"hasErrors" should be "hasError"

[2018-02-20 10:26] prayerslayer opened #378 "Feature proposal: Error messages should bubble up when using nested fields"
Hi,

first of all thanks for your effort on this library, I think it can save lots of time, also for quite complicated forms.

When implementing it in our multi-step, nested form I encountered a few situations where I'd personally like to see the API extended or bugs fixed. So I'll open some issues regarding feature proposals and bug reports, let me know if I can help out with fixing those.

So fi

[2018-02-20 10:37] prayerslayer opened #379 "Feature proposal: Observe the whole form"
This issue is related to best practices with mobx-react-form, maybe I got it wrong and there's a better way to do it. If so, I'm happy to get educated :)

Consider the example from #378 again. It's quite a large form, multiple steps and every step has a couple of inputs. What do I do if I want to externalize the form's state? For instance, because I want to persist to and rehydrate from IndexDB or

[2018-02-20 12:39] prayerslayer opened #380 "Bug: Updating Buffers in nested field leads to infinite loop (?)"
Situation: I have a couple of file inputs and need to work with the contained data.

[code]

If I select a file, the tab crashes eventually. I recreated the issue in [this codesandbox](https://codesandbox.io/s/8lqq89z4y9). See line 32 in `Form.js`. Interestingly, if I use `form.set('files, files)`, there's no problem.

[2018-02-20 22:34] daedalus28 commented on #283
@foxhound87 did this ever get implemented?

[2018-02-26 11:27] ekozhura commented on #369
Please, take a look at this ticket: https://github.com/foxhound87/mobx-react-form/issues/360
For me, `add` method didn't even work properly, so i switched to `initField`. `Form.init` uses `initFields` inside, which iterates over ypur fields object and calls `initField` on each field object.

[2018-02-27 14:20] ekozhura commented on #343
I think, I can close this ticket. I didn't come up with something fancy, I just handle captcha response as a field value and validate it as required field. Something like this:

[code]

`captchaResponse` is observable and gets its value from recaptcha callback. `captchaField` is a Field from mobx-react-form

[2018-02-27 14:20] #343 closed, assigned to nobody

[2018-02-28 12:08] jennasalau opened #381 "Custom bindings not working with nested fields"
Im very confused, but if I create a custom binding for a nest field property it never works.

Take the following:

[code]

No matter what I do the `dependents[].name` always uses the "default" binding. Bug?

My custom bindings are working fine for non nested fields.

Please see this sandbox example demonstrating how the nested fields never get the assigned binding "MaterialTextField".

[![Edit mqx

[2018-02-28 15:14] tchock opened #382 "Using form.set(obj) sets non nested values to "value" if explicitly undefined"
**How to replicate**
Use `set(obj)` method on a form with the following content:
[code]
With `a` being a direct non-nested field.
And `b` being a nested field with fields within it.

**What happens**
The value of the `a` field is set to `"value"`.
The values of the `b` fields nested fields are unchanged.

The value of `a` should be `undefined`, not `"value"`.

This only happens if a is explicitly

[2018-03-01 10:10] davidgustys commented on #369
@ekozhura yeah i've seen that method, but I guess it was only intended to be used as a private function rather than public. Anyways i've changed the flow of my application form creation and now i'm able to use this library.

Speaking more generally thought it would be nice to have more utility methods. But looking at the activity from the creator/maintainer its not clear if we will get them anytim

[2018-03-01 11:40] klaussa opened #384 "How Do I connect Data from My store to the form before initiating the form ?"
Hi,

I am having some data stored into a MobxStore.
I want to put the default values from the MobxStore into the Form. I tried using the extended class and injecting the store ( using no decorators ) and It didn't work.

[2018-03-01 12:42] jennasalau commented on #384
You do it when you create the form using the [values](https://foxhound87.github.io/mobx-react-form/docs/form/form-initialization.html) property.

[code]

[2018-03-01 13:24] MnMansour opened #385 "how i can bind default value from my inupt?"
I try to pass value from my input i try this way

[code]
the value it's come from server after i fetch it in my mobx store and pass it as props to my input component.

now it's work and my input showing value, but when i try to change it it's not change.

[2018-03-01 15:52] klaussa commented on #384
@jennasalau

Totally get that, but I'm doing that in a javacript file, no class at all.  So even if I import the thing, when that file is runned my store is undefined. Where shall the props come from ?

[2018-03-01 16:59] ekozhura commented on #369
@gdeividas it's really hard to tell which methods are considered to be a part of public API and which are not.

[2018-03-01 22:05] jennasalau commented on #384
It sounds like you're not understanding mobx-react rather than mobx-react-form.

You need to inject your store into your component.

[code]

[2018-03-02 11:00] Bobinhos commented on #347
I have the same issue. If not to use label, label becomes a name.

[2018-03-05 02:30] jennasalau commented on #381
Hello?

If you can please help point me to the suspect code in your library I am willing to fix it as I'm trying to implement it in a commercial project. I am just finding your source code so very confusing since you are supporting so many API's and have no code comments.

[2018-03-05 13:02] jennasalau commented on #381
Okay I figured it out.

For others in a similar situation:

Basically DONT use `Unified Properties` as its buggy as all hell and will give you two weeks of headaches and daily standups of looking like an idiot saying the problem is in an open source framework to key stake holders.

From the docs

https://foxhound87.github.io/mobx-react-form/docs/fields/defining-fields.html

That little gem changed

[2018-03-06 05:50] jason-henriksen opened #386 "Plea for Help: new grid tool based on the layout of mobx-react-form"
I say "plea for help" because I recognize that this is a build issue on my end.  I'm only asking for your help because I based my project on your project.  However your build setup works and mine doesn't but I can't see why.

I have a project called react-json-grid.  Similar to your project, it is a mobx based component, but mine is focused on extremely interactive grid data.  Formatters, cell edi

[2018-03-06 12:57] starktech commented on #384
How can I pass a function from my store to be used in the onSuccess hook?  I have a demo setup using the 'Getting Started (class)' demo.  I can't inject my store directly into the form.class.js file, and I can't seem to pass a function from my Parent level component that has the store @inject decoration.

I'm sure I'm missing something obvious here, any help would be very appreciated!  Thanks

[2018-03-06 15:06] klaussa commented on #384
@starktech

Just import your store in the Form.class.js

[code]
To mention that I treat my stores as singletons so when I import it is already initialised.

[2018-03-06 15:12] starktech opened #387 "Help passing Store function to onSuccess hook"
Hi everyone,

I followed the example of 'Getting Started (class)' in the docs and I'm running into a wall.  I have a separate Mobx store component that's injected into the Parent level component, but for the life I can't seem to pass my store save function to the onSuccess hook in my form.class.js file.

I have some experience with React and Mobx, I'm familiar with injecting stores into components

[2018-03-06 17:08] starktech commented on #387
Solved in another thread

[2018-03-06 17:08] #387 closed, assigned to nobody

[2018-03-06 17:09] starktech commented on #384
Wow!  Talk about staring me right in the face!  Thank you so much, saved me a ton of aggravation!

[2018-03-06 22:06] jason-henriksen commented on #386
SOLVED!  In a nutshell, here was the problem.   Starting from my scaffold project:

PS C:\src\oss\rjg-test> npm ls mobx
rjg-test@0.1.0 C:\src\oss\rjg-test
+-- mobx@3.6.1
`-- react-json-grid@1.0.11
`-- mobx@2.7.0

It seems that the differing versions were causing shenanigans.  I brought the react-json-grid project up to current and then switched from dependencies to peerDependencies.  After uninsta

[2018-03-06 22:06] #386 closed, assigned to nobody

[2018-03-07 16:58] klaussa opened #388 "Showing a Loading Indicator"
Hi,
I was wondering how can I create a boolean inside the Form Class I made that would help me tailor the loading states ? My code looks like this.

[code]

Any suggestion with comes to any approach is welcomed.
Also I don't have decorators enabled in babel. Don't want to eject

[2018-03-07 17:31] klaussa commented on #384
@jennasalau
On the same note,

How can I take the isDirty property of the form and store it in my own GlobalStore  and use it in another component?

I've tried this but when I change to another selection, the global store still reflects that the for isDirty:

[code]

Going on another SettingsComponent shows me a good form but the dirty is still there.

**UPDATE**

Even trying in a hook:
[code]

Th

[2018-03-09 15:19] chrusart opened #389 "Required label asterisk, but not in error message"
I want to add * to field label, but don't want to have it in error message, can I do it somehow?

for example:
label: 'E-mail address *'
error: 'Field E-mail address is required'

[2018-03-10 15:31] miguelrs opened #390 "Pass initial data to an extended Form object"
I have defined my `EditEventForm` as a class as explained in the docs - like this:

[code]

And then inside the `render()` method of some component, I create my form like:
[code]

I've been reading the docs and I can't find out how I can pass that `Event` model ☝️ to my Form, so that I can set the initial values of the fields based on that...

I'm sure this is such a dumb question and I'm missing

[2018-03-11 15:26] klaussa commented on #390
@miguelrs Check this ticket.  #384

[2018-03-13 15:07] andrew-luminal opened #391 "Compatibility with Mobx v4"
Mobx v4 is out, and we'd love to take advantage of some of its new features, but unfortunately it seems not to be compatible with this library yet. Errors out based on `extendObservable`:

[code]

I know v4 is just out, but is there a plan to bring this library up to date with it?

[2018-03-13 18:06] miguelrs commented on #390
Ok, thanks for your help @euandrei

I figured out now - that bit about the constructor arguments is a bit confusing in the docs...

Anyway, it'd be nice if you could pass some data to the Form class easily and build the default field values based on the given data inside the class...
I liked the approach of having a Form class containing everything about the form configuration, but I had to define

[2018-03-13 18:06] #390 closed, assigned to nobody

[2018-03-14 11:07] foxhound87 commented on #391
I will look into this asap

[2018-03-14 11:45] #381 closed, assigned to nobody

[2018-03-14 12:05] foxhound87 commented on #388
You can use `submitting` and `validating` props,
this is an example of a loading indicator component:

[code]

[2018-03-14 12:05] #388 closed, assigned to nobody

[2018-03-14 16:04] jkeruzec opened #392 "[Help Needed] How can I plug MobX store with MobX-React-Form"
Hello,

I'm trying to use mobx-rest to manage my data store from my rest API.
I can't figure how to plug those observable store with async fetch to specific form values.

If anyone can help me, it would be much appreciated.

Thanks !

[2018-03-15 17:15] haThaiHoang opened #393 "[Help]Prevent Field label computed return name value instead"
Is there a way to prevent label computed return name value instead, just return null?

[2018-03-18 22:14] mapsupetran commented on #389
Just conditionally add an html paragraph right after the field:

<input ... />{ !!field.error && <p>*</p> }

Then style accordingly...

[2018-03-18 22:19] marlonsupetran commented on #389
Just conditionally add an html paragraph right after the label:

`<label ... />{ !!field.error && <p>*</p> }`

or

`<label ...>
  E-mail address{ !!field.error && <p>*</p> }
</label>`

...depending on how you structured your form, then style accordingly...

[2018-03-20 15:03] sericaia opened #394 "Feature Proposal: Add onKeyDown form hook"
It would be nice if we could have a `onKeyDown` form hook such as the ones we have for the form specified here: https://foxhound87.github.io/mobx-react-form/docs/events/event-hooks/extending.html

[2018-03-21 18:29] electricBonfire opened #395 "Error: Validation Error: Invalid Field Instance"
I am trying to get started with mobx-react-forms but am running into an error:

    Unhandled Rejection (Error): Validation Error: Invalid Field Instance
    -> const form = new Form();

Here is my code:

    import React, { Component } from 'react';
    import { inject, observer } from 'mobx-react';
    import { Form as BaseForm } from 'mobx-react-form';
    import validatorjs from 'validatorjs';

[2018-03-22 06:11] electricBonfire commented on #395
Turns out this is a versioning issue. My dependencies are:

    "dependencies": {
        "axios": "^0.18.0",
            "custom-react-scripts": "^0.2.2",
            "expect": "^23.0.0-alpha.0",
            "mobx": "^4.1.0",
            "mobx-react": "^5.0.0",
            "mobx-react-form": "^1.32.3",
            "react": "^16.2.0",
            "react-dom": "^16.2.0",
            "react-redux":

[2018-03-22 18:56] electricBonfire opened #396 "Integrating ajax data with form"
I am having some issues integrating ajax data with the form. I have not seen any examples of this in the documentation or faqs and am not sure I'm even going about this the right way.

I am using the Class Method for constructing the Form. In my component I am instantiating the Form and rendering with default values. I have a componentDidMount method which should be updating the values of the form

[2018-03-22 19:01] electricBonfire commented on #392
+1

It would be nice to see some use case examples!

[2018-03-23 18:13] zzw6 opened #397 "How do disable a checkbox?"
form.$("node285_lb").set('disabled',true)

can't disable the checkbox

[2018-03-25 04:38] kapilpipaliya opened #398 "Soft Delete"
I have form with fields:
fields: [
      'rank',
      'slug',
      'company',
      'gstNo',
      'parentId',
      'contacts',
      'contacts[].rank',
      'contacts[].firstName',
      'contacts[].lastName',
      'contacts[].email',
      'contacts[].phone',
      'contacts[].mobile',
      ],
I want inercept on contacts array, when row is deleted, i want to set field.set('value', {delete:

[2018-03-25 05:03] kapilpipaliya opened #399 "Nested existing field delete gives error in console."
On the demo page, nested fields example, change hobbies data and delete. It gives console error.

[2018-03-25 05:07] kapilpipaliya commented on #398
Please someone reply. Recently issues are not resolved by author in time as he may not have time.

[2018-03-26 11:48] foxhound87 commented on #398
@kapilpipaliya you can use the `disabled` field prop in conjunction with `retrieveOnlyEnabledFields` form option.

[2018-03-26 11:51] foxhound87 commented on #395
@electricBonfire mobx 4 is still not supported, it will be done as soon as I have time.

[2018-03-26 12:28] #389 closed, assigned to nobody

[2018-03-26 12:41] foxhound87 commented on #393
Related #347

[2018-03-26 12:41] #393 closed, assigned to nobody

[2018-03-26 12:42] foxhound87 commented on #355
To be fixed with #347

[2018-03-28 04:26] haThaiHoang opened #400 "[Help] Error when define an event hook for field"
I just follow the document and define an event hook for field.
`form.$('step2.businessCategory').on('change', (e) => console.log(e))`
to trigger a function when "businessCategory" field value changed.

And i get a error:
`form.$(...).on is not a function`

There is a way to do it?

[2018-03-29 13:43] kapilpipaliya commented on #398
Thanks, but i want when row is deleted, i want to set field.set('value', {delete: true}) if id key exist in row and hide, else delete row.

[2018-03-30 12:27] #400 closed, assigned to nobody

[2018-03-30 13:42] kapilpipaliya opened #403 "cannot call form function on init."
I want to call a function on Init of the field, based on the inital data i want to change other select field's extra value.
[code]
Please help anyone. This library is great, but i dont know its internals.

[2018-04-01 21:38] marlonsupetran commented on #365
This seems to be similar to the problem I am having right now... I am passing the parameters below to the Form constructor:

![image](https://user-images.githubusercontent.com/24822551/38177661-96b40986-3637-11e8-979e-c5f806ecf98c.png)

I expect the onChange event in B to trigger when there are changes to any of the nested fields in A, but it doesn't. And yes I am binding the nested fields to the

[2018-04-02 20:29] a--hoang opened #404 "SVK / ajv validated deep nested fields do not work"
When initializing a form with a JSON schema (as per the SVK documentation at [HERE](https://foxhound87.github.io/mobx-react-form/docs/validation/modes/svk-enable.html), nested fields do not work - only the top level fields work.  For example:

The following is valid json schema:
[code]

However, this fails to create the fields ```form.$('contact_person.first_name') and form.$('contact_person.last_

[2018-04-06 18:07] danielkcz commented on #337
It feels rather intuitive that you need to call `form.select(field).onUpdate(value)` to actually update a `changed` flag. Took me quite some time to figure that out from source code :(

[2018-04-10 12:32] lookfirst opened #406 "mobx-react-form@1.32.3" has incorrect peer dependency "mobx@^2.5.0 || ^3.0.0"."
With latest mobx...

[code]

[code]

[2018-04-10 12:45] #406 closed, assigned to nobody

[2018-04-10 18:11] mjhe commented on #395
My package versions:
[code]

@foxhound87 is this a matter of updating `$fields.values()` => `$fields.values`? This appears in `src/shared/Utils.js` - I was able to at least display the form without errors once I changed this accessor.

[2018-04-17 13:44] #382 closed, assigned to nobody

[2018-04-17 17:11] foxhound87 commented on #391
#402

[2018-04-17 17:11] #391 closed, assigned to nobody

[2018-04-17 17:16] foxhound87 commented on #369
I've reimplemented the `add()` method in the version `1.34`. Try it.

[2018-04-17 17:26] foxhound87 commented on #372
I've updated the package with `struct` prop.

Take a look here:
https://github.com/foxhound87/mobx-react-form/blob/master/tests/data/forms/fixes/form.q1.js

[2018-04-17 17:26] #372 closed, assigned to nobody

[2018-04-17 17:27] foxhound87 commented on #339
I've updated the package introducing the `struct` prop.

Take a look here:
https://github.com/foxhound87/mobx-react-form/blob/master/tests/data/forms/fixes/form.q1.js

[2018-04-17 17:28] foxhound87 commented on #197
I've updated the package introducing the `struct` prop.

Take a look here:
https://github.com/foxhound87/mobx-react-form/blob/master/tests/data/forms/fixes/form.q1.js

[2018-04-17 17:29] foxhound87 commented on #270
I've updated the package introducing the `struct` prop.

Take a look here:
https://github.com/foxhound87/mobx-react-form/blob/master/tests/data/forms/fixes/form.q1.js

[2018-04-17 18:33] shrugs commented on #398
@kapilpipaliya just change your delete button to set that property

[code]

[2018-04-17 19:04] shrugs opened #407 "Cannot intercept `fields` key"
The docs mention that one can

But due to the implementation, passing `key: 'fields'` with an interceptor causes the code to attempt to intercept `field.$fields`, a property which doesn't exist, causing the error.

https://github.com/foxhound87/mobx-react-form/blob/master/src/shared/Events.js#L36

I'm not sure what the intended behavior is, but it'd be nice to either

1. mention in the docs that `

[2018-04-17 19:10] shrugs opened #408 "validation error caused by validateOnBlur after array field is deleted"
when following `validateOnBlur`, mobx-react-form attempts to validate a field on blur using a debounce, but if the parent field is deleted before this debounce timeout expires, the validator attempts to invalidate a non-existent field, causing a `(Error): Validation Error: Invalid Field Instance`

This occurs when:
1. focus an input for a `parentField`'s nested field
2. click the remove button (wh

[2018-04-17 19:12] shrugs commented on #408
I was unable to disable validation just-in-time because the debounce is scheduled immediately after the input is defocused, and before the event to remove the field is received, so there's no way to cancel it.

One option would be to disable validateOnBlur altogether and implement it ourselves, only calling the validate function if the removal event was not called within some duration.

[2018-04-17 19:20] shrugs commented on #408
I was able to obscure the removal delay by using some nice css transitions, so this isn't realistically the worst thing in the world anymore.

[2018-04-18 02:12] kapilpipaliya commented on #398
what i done fianlly:
[code]

[2018-04-19 03:05] betancourtl opened #409 "How can I make an API call onSubmit and handle the errors?"
I'm looking at the docs it's not clear to me where to make  an API call when submitting the form. I also  need to find out how to show server errors for each field.

I tried adding an onSubmit function to the class and it gets called but the hooks do not work.

## Store

[code]

## Component
[code]